.badge {
  background-color: hsl(var(--bg-secondary)/50%);
  border          : 1px solid hsl(var(--bg-secondary) / 50%);
  border-radius   : 100px;
  font-family     : var(--font-sans);
  font-size       : 0.9rem;
  padding         : var(--space-xxs) var(--space-s);
}