.badge {
  font-family: var(--font-sans);
  font-size: 0.9rem;
  background-color: hsl(var(--fg-non-essential) / 75%);
  padding: var(--space-xxs) var(--space-s);
  border-radius: 100px;
  border: 1px solid hsl(var(--fg-non-essential));
}
