.banner {
  &--commissions {
    --banner-bg-1: 351 100% 66%;
    --banner-bg-2: 354 80% 57%;
    --banner-bg-3: 358 73% 44%;
    --banner-fg-1: 0 0% 100%;
    align-items: center;
    background-color: hsl(var(--banner-bg-1));
    border-radius: 1rem;
    container-type: inline-size;
    container-name: commissions;
    display: grid;
    grid-template-columns: 8fr 2fr 2ch 1fr;
    margin: 3rem;
    min-height: 10ch;
    overflow: hidden;

    .banner__decorations {
      display: grid;
      filter: drop-shadow(2ch 0 0 hsl(var(--banner-bg-3) / 70%)) drop-shadow(4ch 0 0 hsl(var(--banner-bg-3) / 50%));
      grid-column: 1/5;
      grid-row: 1/2;
      height: 100%;
      width: 100%;
      z-index: 2;

      &::before {
        background-color: hsl(var(--banner-bg-3));
        clip-path: polygon(0% 0%, 70% 0%, 95% 100%, 0% 100%);
        content: "";
      }
    }

    * {
      grid-row: 1;
      z-index: 3;
    }

    .banner__image {
      background-image: var(--image-set);
      background-position: left;
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: -1/-2;
      height: 100%;
      width: 100%;
    }

    .banner__body {
      padding-inline: 2ch;
      margin-block: 2ch;
      grid-column: 1/2;
    }

    .banner__summary,
    .banner__title {
      margin-block: 0;
      margin-inline: 2rem;
    }

    .banner__title {
      font-size: var(--type-size-4);
      font-variation-settings: "wght" 600, "SOFT" 100, "WONK" 100;
      line-height: 1;
    }

    .banner__summary {
      align-self: start;
      font-family: var(--font-sans);
      font-size: var(--type-size-6);
      grid-row: 2/3;
      line-height: 1.25;
    }

    .primary.button {
      --gradience-radius: 100px;
      align-self: center;
      background-color: #000;
      border-radius: 100px;
      grid-column: 2/3;
      width: 100%;
      white-space: nowrap;
    }

    @at-root .no-js & noscript {
      display: contents;
    }

    @container commissions (max-width: 600px) {
      * {
        grid-row: 1/3;
      }

      .banner__decorations {
        grid-row: 1/3;
        filter: drop-shadow(0 -1ch 0 hsl(var(--banner-bg-3)/70%)) drop-shadow(0 -2ch 0 hsl(var(--banner-bg-3)/50%));
        margin-block-start: calc(3ch + 20cqw);

        &::before {
          clip-path: polygon(0% 0%, 100% 55%, 100% 100%, 0% 100%);
        }
      }

      .banner__image {
        background-position: top right;
        grid-column: 1/-1;
        z-index: 1;
      }

      .banner__body {
        grid-column: 1/-1;
        grid-row: 1/2;
        margin-block-start: calc(3ch + 40cqw);
        padding: 0;
      }

      .primary.button {
        grid-column: 1/-1;
        grid-row: 2/3;
        margin: 2ch;
        margin-block-start: 0;
        width: auto;
      }
    }
  }

  &--biography {
    background-color: hsl(var(--primary-500));
    background-image: var(--bg-image-mobile);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr min-content auto;
    min-height: 100dvh;
    padding-block: var(--space-xxl);
    position: relative;

    &::before {
      content: '';
      background-image: var(--bg-image-overlay);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      filter: brightness(40%) saturate(230%);
      grid-column: 1/2;
      grid-row: 1/5;
      margin-block: calc(-1 * var(--space-xxl));
      z-index: 2;
    }

    * {
      grid-column: 1/2;

      &:not(img) {
        z-index: 3;
      }
    }

    responsive-picture img {
      grid-column: 1/2;
      grid-row: 1/5;
      height: 100%;
      object-fit: cover;
      width: 100%;
      mask-image: linear-gradient(to bottom, black 20%, transparent 50%);
    }

    .bio-title {
      font-family: var(--font-ui);
      font-size: var(--type-size-4);
      grid-row: 2/3;
      margin: 0;
      padding-inline: var(--space-xxl);
      margin-block-start: 75dvh;

      .bio-highlight {
        display: block;
        font-size: var(--type-size-2);
      }
    }

    .bio-body {
      font-family: var(--font-ui);
      grid-row: -1;
      margin: 0;
      padding-inline: var(--space-xxl);

      small {
        vertical-align: super;
        font-size: var(--type-size-7);
      }

      ins {
        color: inherit;
      }

      del {
        color: hsl(var(--success-700) / 75%);
        text-decoration-color: hsl(var(--primary-900));
      }
    }

    .bio-highlight,
    .bio-link {
      color: hsl(var(--success-700));
      font-family: var(--font-display);
      font-style: italic;
      font-variation-settings: normal;
      font-weight: 700 !important;
      text-decoration-color: currentColor;
    }

    .bio-lists {
      display: flex;
      flex-wrap: wrap;
      gap: var(--space);
    }

    .bio-list-section {
      flex: 1 0 25ch;
    }

    @media (width > 690px) {
      background-image: var(--bg-image-desktop);
      background-position: center left;
      grid-template-columns: 1fr 2fr minmax(min(var(--content-width), 100%), 1fr) 2fr 1fr;
      grid-template-rows: 1fr min-content auto 1fr;
      min-height: 50dvh;
      padding-block: 0;

      &::before {
        content: none;
        grid-column: 1/-1;
        background-position: center;
      }

      responsive-picture img {
        grid-column: 1/3;
        grid-row: 1/5;
        max-width: 50dvh;
        object-fit: cover;
        object-position: right;
        mask-image: none;
      }

      .bio-title,
      .bio-body {
        grid-column: 3/4;
      }

      .bio-title {
        grid-row: 2/3;
        margin-block-start: var(--space-xxl);
      }

      .bio-body {
        grid-row: 3/4;
        grid-column: 3/5;
        margin-block-end: var(--space-xxl);
        }

      .banner--biography::before {
        content: none;
      }
    }

    @media (width > 1700px) {
      responsive-picture img {
        object-fit: contain;
      }
    }
  }
}