.breadcrumb {
  &__list {
    column-gap               : 1ch;
    display                  : flex;
    flex-wrap                : nowrap;
    list-style               : none;
    margin                   : 0;
    margin-block-end         : var(--space);
    overflow-x               : auto;
    padding                  : 0;
    padding-block-end        : var(--space);
    scroll-padding-inline-end: var(--space-xxl);
    scroll-snap-type         : x mandatory;

    &-item {
      display    : flex;
      gap        : inherit;
      align-items: center;

      &:not(:last-child)::after {
        content          : "";
        --chevron-size   : 0.5ch;
        border           : var(--chevron-size) solid transparent;
        border-left-color: currentColor;
        border-right     : 0;
      }

      &:last-child {
        scroll-snap-align: end;
      }
    }
  }

  &__link {
    font-family   : var(--font-sans);
    font-size     : 90%;
    text-transform: lowercase;
    white-space   : nowrap;

    &:not([href]) {
      padding: var(--space-xxxs) var(--space-xs);
    }

    &[href] {
      @extend .button;

      padding         : var(--space-xxxs) var(--space-xs);
      background-color: transparent;
      font-size       : 90%;
      letter-spacing  : normal;
    }
  }
}