.button {
  align-items    : center;
  background     : transparent;
  border         : 1px solid transparent;
  border-radius  : var(--ideal-radius);
  color          : hsl(var(--primary-700));
  cursor         : pointer;
  display        : inline flex;
  font-family    : var(--font-sans);
  font-size      : inherit;
  font-weight    : 500;
  justify-content: center;
  padding        : var(--space-xs) var(--space);
  text-align     : center;
  text-decoration: none;
  transition     : background 300ms;
  width          : -moz-fit-content;
  width          : fit-content;

  &:hover {
    background-color: hsl(var(--primary-100));
  }

  &:focus-visible {
    outline: 3px solid hsl(var(--primary-700));
    outline-offset: 4px;
  }

  &.small {
    padding: var(--space-xxs) var(--space-xs);
  }
}

.button {
  &.primary {
    color: hsl(var(--l-contrast));
    background-color: hsl(var(--primary-500));

    &:hover {
      background-color: hsl(var(--primary-700));
    }
  }

  &.circle,
  &.square {
    aspect-ratio: 1;
  }

  &.circle {
    border-radius: 100%;
  }
}
