.button {
  --button-padding       : var(--space-s) var(--space-l);
  -webkit-backdrop-filter: blur(10px);

  align-items            : center;
  backdrop-filter        : blur(10px);
  background-color       : hsl(var(--primary-500) / 15%);
  background-repeat      : no-repeat;
  border                 : 0;
  border-radius          : var(--ideal-radius);
  color                  : hsl(var(--fg-default));
  display                : inline-flex;
  font-family            : var(--font-sans);
  font-size              : 1em;
  font-variation-settings: "wght"500;
  gap                    : var(--space);
  justify-content        : center;
  line-height            : 1;
  outline                : 0px solid hsl(var(--primary-500) / 0%);
  overflow               : hidden;
  padding                : var(--button-padding);
  position               : relative;
  text-decoration        : none;
  text-transform         : lowercase;
  transition             : background-image 200ms, outline 200ms, outline-offset 200ms;
  white-space            : nowrap;
  width                  : min-content;

  &::before {
    content         : "";
    aspect-ratio    : 1;
    background-image: radial-gradient(circle at center, hsl(var(--primary-500)/10%), transparent 75%);
    height          : 500%;
    left            : var(--hover-left, 0);
    opacity         : 0;
    position        : absolute;
    top             : var(--hover-top, 0);
    transform       : translate(-50%, -50%);
    transition      : opacity .3s
  }

  &:hover {
    text-decoration: none;
    color          : hsl(var(--fg-default));

    &::before {
      opacity: 1;
    }
  }

  &:focus-visible {
    outline       : 5px solid hsl(var(--primary-500));
    outline-offset: 3px;
  }

  &.primary {
    background-color: hsl(var(--primary-500));
    color           : hsl(var(--l-contrast));

    &::before {
      background-image: radial-gradient(circle at center, hsl(var(--l-contrast) / 10%), transparent 75%);
    }

    &:focus-visible {
      outline: 5px solid hsl(var(--fg-contrast));
    }
  }

  &.square {
    aspect-ratio: 1/1;
  }

  &.transparent {
    background: transparent;
  }

  &.go-to-top {
    @extend .square;
    @extend .primary;
    border-radius: 100%;
    height       : 5ch;
    padding      : 0;
    box-shadow   : 0 4px 25px hsl(var(--primary-500) / 50%);
  }

  &--small {
    font-size: 1rem;
    padding  : var(--space-xs) var(--space-m);
  }

  &-text--disabled {
    display: none;
  }

  &--disabled {
    pointer-events: none;
    cursor        : default;

    .button-text {
      &--default {
        display: none;
      }

      &--disabled {
        display: block;
      }
    }
  }

  &--social-media {
    --bg-inner      : hsl(var(--primary-100) / 50%);
    --bg-outer      : hsl(var(--bg-primary));
    background-color: var(--bg-inner);
    border-radius   : var(--radius-3);
    color           : hsl(var(--primary-900));
    gap             : 0;
    padding         : var(--space-xxs);

    @at-root .social-media {

      &__label,
      &__identifier {
        padding: var(--space-xxxs) var(--space-xs);
      }

      &__identifier {
        background-color: var(--bg-outer);
        border-radius   : var(--radius-2);
      }
    }
  }

  &--success {
    color           : hsl(var(--success-900));
    background-color: hsl(var(--success-100));

    &:hover {
      color: hsl(var(--success-900));
    }

    &::before {
      background-image: radial-gradient(circle at center, hsl(var(--success-500)/25%), transparent 75%);
    }
  }

  &--warning {
    color           : hsl(var(--warning-900));
    background-color: hsl(var(--warning-100));

    &:hover {
      color: hsl(var(--warning-900));
    }

    &::before {
      background-image: radial-gradient(circle at center, hsl(var(--warning-500)/25%), transparent 75%);
    }
  }

  &--error {
    color           : hsl(var(--error-900));
    background-color: hsl(var(--error-100));

    &:hover {
      color: hsl(var(--error-900));
    }

    &::before {
      background-image: radial-gradient(circle at center, hsl(var(--error-500)/25%), transparent 75%);
    }
  }
}

body.no-js {
  .button {
    transition: filter 300ms;

    &:hover {
      filter: brightness(1.25);
    }

    &::before {
      content: none;
    }
  }
}

.file-button:is(a, button) {
  align-items    : center;
  border-radius  : var(--ideal-radius);
  border         : 1px solid hsl(var(--fg-default) / 25%);
  display        : flex;
  flex-wrap      : nowrap;
  font-family    : var(--font-sans);
  gap            : var(--space);
  line-height    : 1.25;
  padding        : var(--space);
  text-decoration: none;
}

.file__image {
  display      : grid;
  place-content: center;
}

.file__image {
  aspect-ratio : 1;
  display      : grid;
  padding      : var(--space);
  place-content: center;
}

.file__image img,
.file__image svg {
  width: 2ch;
}

.button,
.navigation-link,
.navigation-menu-link {
  &.icon-only {
    padding     : var(--space-xxs);
    aspect-ratio: 1/1;

    @media not (pointer: fine),
    (max-width: 720px) {
      padding: var(--space-xs) !important;
    }

    &--mobile {
      aspect-ratio: auto;

      @media (max-width: 720px) {
        aspect-ratio: 1/1;
        padding     : var(--space-xs) !important;
      }
    }
  }

  &.has-icon {
    &--start {
      padding-inline-start: calc(var(--space) - 0.5em);
    }

    &--end {
      padding-inline-end: calc(var(--space) - 0.5em);
    }

    &--left {
      padding-left: calc(var(--space) - 0.5em);
    }

    &--right {
      padding-right: calc(var(--space) - 0.5em);
    }
  }
}

.button-list {
  margin    : 0;
  padding   : 0;
  list-style: none;
  display   : flex;
  gap       : 1ch;
  flex-wrap : wrap;
}