.callout {
  --callout-radius: var(--radius-3);
  align-items     : baseline;
  background-color: hsl(var(--bg-contrast) / 50%);
  border-radius   : var(--callout-radius);
  display         : flex;
  flex-wrap       : wrap;
  gap             : 1ch;
  justify-content : end;
  padding         : var(--space);

  &__body {
    flex       : 1;
    font-family: var(--font-sans);
    font-size  : var(--type-size-6);
    margin     : 0;

    * {
      color: inherit;
    }
  }

  &__footer {
    align-items: center;
    display    : flex;
    align-self : center;
  }

  .feather {
    bottom  : -0.5ch;
    display : inline;
    height  : 1em;
    position: relative;
    width   : 1em;
  }

  a[href] .feather {
    color       : hsl(var(--primary-500));
    stroke-width: 3px;
  }

  &>.feather {
    color   : var(--icon-color, currentColor);
    position: relative;
  }

  &--info {
    --icon-color    : hsl(var(--fg-default));
    background-color: hsl(var(--fg-contrast) / 5%);
  }

  &--warning {
    --icon-color    : hsl(var(--warning-700));
    color           : hsl(var(--warning-900));
    background-color: hsl(var(--warning-100) / 25%);
  }

  &--success {
    --icon-color    : hsl(var(--success-700));
    color           : hsl(var(--success-900));
    background-color: hsl(var(--success-100) / 25%);
  }

  &--left,
  &--right {
    width         : 100vw;
    margin-inline : 0;
    margin-inline : -9vw;
    padding-inline: 10vw;
    padding-block : 3ch;
    border-radius : 0;
  }

  @media (min-width: 690px) {

    &--left,
    &--right {
      width        : min(25ch, 90%);
      margin-inline: var(--space-l);
      border-radius: var(--callout-radius);
      padding      : var(--space-l);
    }

    &--left {
      float: left;
    }

    &--right {
      float: right;
    }
  }
}