.feature-grid {
  gap: var(--space-l);
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  padding: var(--space-xl);
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  .feature-card {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 35ch;
    scroll-snap-align: center;
    max-width: min(35ch, 100%);
  }
}

.feature-card {
  display: block;
  border-radius: var(--ideal-radius);
  overflow: clip;
  text-decoration: none;
  transition: box-shadow 300ms;

  &:is(a[href], button):hover,
  &:is(a[href], button):focus-visible {
    box-shadow: 0 10px 25px #0003;
  }
}

.post-card {
  @extend .feature-card;
  display: flex;
  flex-direction: column;

  .feature__content {
    flex-grow: 1;
  }
}

.feature__header {
  padding: var(--space);
}

.feature__content,
.feature__footer {
  color: var(--fg-default);
}

.feature__content {
  padding: var(--space-xl);
  padding-top: 0;
}

.feature__image {
  float: right;
  width: 70%;
  shape-margin: 0.4ch;
}

.feature__footer {
  display: flex;
  justify-content: end;
  padding: 1ch;
}

.slide-image {
  height: 10ch;
  width: auto;
}

.post-grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xl);
}

.post-grid > * {
  flex: 1;
  flex-basis: 35ch;
  gap: 1rem;
}
