.feature-card {
  display           : grid;
  grid-template-rows: auto 1fr;
  height            : 35ch;
  gap               : var(--space);
  transition        : grid-template-rows 100ms ease, gap 100ms;

  &:not([data-open]) {
    grid-template-rows: 1fr 0fr;
    gap               : 0;

    .feature-card__content {
      padding-block: 0;
      overflow     : hidden;
    }
  }

  &[data-open] {
    .feature-card__header {
      font-size: var(--type-size-5);

      &::after {
        width : 0;
        border: 0;
      }
    }
  }
}

.feature-card__header {
  background-color       : hsl(var(--d-contrast));
  border-radius          : var(--ideal-radius);
  padding                : var(--space);
  line-height            : 1.25;
  list-style             : none;
  color                  : hsl(var(--l-contrast));
  font-size              : var(--type-size-3);
  flex-grow              : 1;
  font-family            : var(--font-serif);
  font-variation-settings: "wght"200;
  text-align             : start;
  border                 : 0;
  display                : flex;
  flex-direction         : column;
  justify-content        : end;
  transition             : font-size 100ms;

  &:focus-visible {
    outline: 5px solid hsl(var(--primary-500));
  }
}

.feature-card__header::after {
  content      : "";
  display      : block;
  width        : 1ch;
  aspect-ratio : 1;
  border       : 1px solid;
  transform    : rotate(45deg);
  border-top   : 0;
  border-left  : 0;
  margin-inline: auto;
  transition   : width 300ms, height 300ms;
}

.feature-card__content {
  flex-grow       : 999;
  padding         : var(--space);
  border-radius   : var(--ideal-radius);
  background-color: hsl(var(--bg-accent) / 25%);
  overflow        : auto;
  transition      : padding 300ms;
}

.post-grid {
  display              : grid;
  grid-template-columns: repeat(auto-fill, minmax(min(25ch, 100%), 1fr));
  gap                  : var(--space);
  padding              : var(--space);

  &.has-featured .post-card {
    &:nth-child(4n - 3) {
      grid-column: 1/-1;

      @media (min-width: 700px) {
        grid-template-rows   : 1fr;
        grid-template-columns: 1fr 1fr;

        &>* {
          grid-row: 1 / 1;
        }

        &::before {
          background: linear-gradient(to left, hsl(var(--d-contrast)) 1%, transparent);
        }

        .post-card__image,
        &::before {
          grid-column: 1 / 1;
        }

        .post-card__body {
          grid-column: 2 / 3;
        }
      }

      .post-card__title {
        font-size: var(--type-size-3);
      }

      .post-card__footer {
        max-height: none;
      }
    }
  }
}

.post-card {
  @extend .dark;
  display           : grid;
  text-decoration   : none;
  border-radius     : var(--ideal-radius);
  overflow          : hidden;
  grid-template-rows: 2fr 1fr;
  height            : 30ch;

  &:focus-visible,
  &:hover {
    color: hsl(var(--fg-default));
  }

  &:hover {
    box-shadow: 0 8px 20px #0006;
  }

  &::before {
    content    : "";
    grid-row   : 1/2;
    grid-column: 1/2;
    background : linear-gradient(to top, hsl(var(--d-contrast)), transparent);
    z-index    : 1;
  }
}

.post-card>* {
  grid-column: 1;
}

.post-card__image {
  background-image   : var(--post-image, linear-gradient(transparent, transparent)), url(/assets/images/posts/placeholder.png);
  background-repeat  : no-repeat;
  background-size    : cover;
  grid-row           : 1/3;
  height             : 100%;
  background-position: center;
  width              : 100%;
}

.post-card__body {
  grid-row        : 2/3;
  padding         : var(--space-xl);
  background-color: hsl(var(--d-contrast));
  padding-top     : var(--space);
  position        : relative;
  align-content   : end;
}

.post-card__title {
  align-self: end;
  font-size : calc(var(--type-size-5) * 1.25);
  margin    : 0;
  transition: font-size 100ms;
}

.post-card__description {
  margin: 0;
}

.post-card__link {
  display    : flex;
  align-items: center;
  gap        : 1ch;
  width      : -moz-fit-content;
  width      : fit-content;
}

.post-card__body {
  display       : grid;
  gap           : 0;
  grid-auto-rows: min-content;
}

.post-card__footer {
  overflow: hidden;
}

.post-card:hover {
  color: hsl(var(--fg-default));
}

@media (min-width: 720px) {
  .post-card__footer {
    max-height: 0;
    transition: max-height 200ms;
  }

  .post-card:hover {
    .post-card__title {
      font-size: var(--type-size-5);
    }

    .post-card__footer {
      max-height: 8ch;
    }
  }

  .post-card:focus-visible {
    .post-card__title {
      font-size: var(--type-size-5);
    }

    .post-card__footer {
      max-height: 8ch;
    }
  }
}

.deck-card {
  display        : grid;
  flex-basis     : 25ch;
  height         : 35ch;
  padding        : var(--space-xs);
  text-decoration: none;

  &:hover {
    color: hsl(var(--fg-default));
  }

  &__body {
    align-items     : start;
    background-color: hsl(var(--bg-secondary));
    border-radius   : var(--ideal-radius);
    box-shadow      : 0 4px 10px rgba(0, 0, 0, 0.15);
    display         : flex;
    flex-direction  : column;
    justify-content : end;
    padding         : var(--space);
    transform       : rotate(3deg);
  }

  &__logo {
    height: 10ch;
    width : auto;
  }

  &__title {
    font-size  : var(--type-size-3);
    line-height: 1;
    margin     : 0;
  }

  &__description {
    font-family: var(--font-sans);
    font-size  : 1rem;
    line-height: 1.25;
    margin     : 0;
    margin-top : var(--space);
  }

  &__image {
    align-self      : stretch;
    background-image: var(--image, linear-gradient(transparent, transparent)), url('/assets/images/posts/placeholder.png');
    border-radius   : var(--ideal-radius);
    box-shadow      : 0 4px 10px rgb(0 0 0 / 0.15);
    height          : 100%;
    justify-self    : stretch;
    transform       : rotate(-3deg);
    width           : 100%;
    object-fit      : cover;
    object-position : center;
  }
}

.deck-card {
  border-radius     : calc(var(--ideal-radius) * 1.5);
  gap               : var(--space-xs);
  grid-template-rows: 1fr;
  position          : relative;

  @at-root .cluster & {
    flex-basis: 25ch;
  }

  .deck-card__body,
  .deck-card__image {
    grid-column: 1 / -1;
    grid-row   : 1 / -1;

    @media (prefers-reduced-motion: no-preference) {
      transition: transform 200ms, height 200ms 100ms;
    }
  }

  .deck-card__body {
    @extend .dark;

    align-self: end;
    height    : 100%;
  }

  &:hover {
    background-color  : transparent;
    box-shadow        : none;
    grid-template-rows: minmax(5rem, 1fr) 0 1fr;
    outline           : none;

    .deck-card__body {
      height: calc(65% - var(--space-xs));
    }

    .deck-card__image {
      height: calc(35% - var(--space-xs));
    }

    .deck-card__body,
    .deck-card__image {
      transform: rotate(0);

      @media (prefers-reduced-motion: no-preference) {
        transition: transform 200ms 100ms, height 200ms;
      }
    }

    .deck-card__description {
      max-height: 0;
    }
  }

  &:focus-visible {
    background-color  : transparent;
    box-shadow        : none;
    grid-template-rows: minmax(5rem, 1fr) 0 1fr;
    outline           : none;

    .deck-card__body {
      height: calc(65% - var(--space-xs));
    }

    .deck-card__image {
      height: calc(35% - var(--space-xs));
    }

    .deck-card__body,
    .deck-card__image {
      transform: rotate(0);

      @media (prefers-reduced-motion: no-preference) {
        transition: transform 200ms 100ms, height 200ms;
      }
    }

    .deck-card__description {
      max-height: 0;
    }
  }

  &:focus-visible {
    outline       : 5px solid hsl(var(--primary-500));
    outline-offset: 0;
  }

  .deck-card__description {
    max-height: 10rem;
    overflow  : hidden;
    transition: max-height 200ms;
  }
}

.product-card {
  color          : hsl(var(--fg-default)) !important;
  text-decoration: none;
  display        : grid;

  &__body {
    @extend .stack;

    background-color: hsl(var(--bg-secondary));
    box-shadow      : 0 7px 10px #0004;
    border-radius   : var(--ideal-radius);
    display         : flex;
    flex-direction  : column;
    align-items     : start;
    justify-content : end;
    padding         : var(--space);
    margin-top      : 5ch;
  }

  &__title {
    font-size: var(--type-size-4);
  }

  &__logo {
    height: 10ch;
    border: none;
    width : auto;
  }
}