.feature-card {
  display           : grid;
  gap               : var(--space);
  grid-template-rows: auto 1fr;
  height            : 35ch;
  max-width         : min(35ch, 90vw);
  transition        : grid-template-rows 100ms ease, gap 100ms;

  &:not([data-open]) {
    grid-template-rows: 1fr 0fr;
    gap               : 0;

    .feature-card__content {
      padding-block: 0;
      overflow     : hidden;
    }
  }

  &[data-open] {
    .feature-card__header {
      font-size: var(--type-size-5);

      &::after {
        width : 0;
        border: 0;
      }
    }
  }
}

.feature-card__header {
  background-color       : hsl(var(--d-contrast));
  border-radius          : var(--ideal-radius);
  padding                : var(--space);
  line-height            : 1.25;
  list-style             : none;
  color                  : hsl(var(--l-contrast));
  font-size              : var(--type-size-3);
  flex-grow              : 1;
  font-family            : var(--font-display-serif);
  font-variation-settings: "wght"200;
  text-align             : start;
  border                 : 0;
  display                : flex;
  flex-direction         : column;
  justify-content        : end;
  transition             : font-size 100ms;

  &:focus-visible {
    outline: 5px solid hsl(var(--primary-500));
  }
}

.feature-card__header::after {
  content      : "";
  display      : block;
  width        : 1ch;
  aspect-ratio : 1;
  border       : 1px solid;
  transform    : rotate(45deg);
  border-top   : 0;
  border-left  : 0;
  margin-inline: auto;
  transition   : width 300ms, height 300ms;
}

.feature-card__content {
  flex-grow       : 999;
  padding         : var(--space);
  border-radius   : var(--ideal-radius);
  background-color: hsl(var(--bg-accent) / 25%);
  overflow        : auto;
  transition      : padding 300ms;
}

.post-grid {
  display              : grid;
  grid-template-columns: repeat(auto-fill, minmax(min(25ch, 100%), 1fr));
  gap                  : var(--space);
  padding-block        : var(--space);

}

.has-featured .post-card {
  &:nth-child(4n - 3) {
    grid-column: 1/-1;

    @media (min-width: 700px) {
      grid-template-rows   : 1fr;
      grid-template-columns: 1fr 1fr;

      --scrim: linear-gradient(to right,
          hsl(var(--theme-color-hsl, var(--d-contrast)) / 0) 0%,
          hsl(var(--theme-color-hsl, var(--d-contrast)) / 0.013) 14.1%,
          hsl(var(--theme-color-hsl, var(--d-contrast)) / 0.049) 25.6%,
          hsl(var(--theme-color-hsl, var(--d-contrast)) / 0.104) 35.1%,
          hsl(var(--theme-color-hsl, var(--d-contrast)) / 0.175) 42.7%,
          hsl(var(--theme-color-hsl, var(--d-contrast)) / 0.259) 48.8%,
          hsl(var(--theme-color-hsl, var(--d-contrast)) / 0.352) 53.8%,
          hsl(var(--theme-color-hsl, var(--d-contrast)) / 0.45) 57.9%,
          hsl(var(--theme-color-hsl, var(--d-contrast)) / 0.55) 61.5%,
          hsl(var(--theme-color-hsl, var(--d-contrast)) / 0.648) 64.9%,
          hsl(var(--theme-color-hsl, var(--d-contrast)) / 0.741) 68.5%,
          hsl(var(--theme-color-hsl, var(--d-contrast)) / 0.825) 72.6%,
          hsl(var(--theme-color-hsl, var(--d-contrast)) / 0.896) 77.4%,
          hsl(var(--theme-color-hsl, var(--d-contrast)) / 0.951) 83.4%,
          hsl(var(--theme-color-hsl, var(--d-contrast)) / 0.987) 90.8%,
          hsl(var(--theme-color-hsl, var(--d-contrast))) 100%);

      &::before {
        content: none;
      }

      &>* {
        grid-row: 1 / 1;
      }

      .post-card__image,
      &::before {
        grid-column: 1 / 1;
      }

      .post-card__body {
        grid-column: 2 / 3;
        background : transparent;
      }

      .post-card__image {
        --mask-image      : linear-gradient(to right, black, transparent 90%);
        -webkit-mask-image: var(--mask-image);
        mask-image        : var(--mask-image);
      }
    }

    .post-card__title {
      font-size: var(--type-size-3);
      font-size: clamp(var(--type-size-5), 3vw, var(--type-size-3));
    }

    .post-card__footer {
      max-height: none;
    }
  }
}

.post-card {
  @extend .dark;
  background-color  : var(--theme-color);
  display           : grid;
  text-decoration   : none;
  border-radius     : var(--radius-5);
  overflow          : hidden;
  grid-template-rows: 2fr 1fr;
  height            : 30ch;
  transition        : box-shadow 500ms, outline 300ms, outline-offset 200ms, transform 200ms;

  --theme-color: hsl(var(--d-contrast));
  --scrim      : linear-gradient(to top, var(--theme-color, hsl(var(--d-contrast))), transparent);

  &:focus-visible,
  &:hover {
    color: hsl(var(--fg-default));
  }

  &:focus-visible {
    animation: throb-outline 1000ms infinite alternate ease;
    z-index  : 2;

    @keyframes throb-outline {
      to {
        outline-offset: 1ch;
      }
    }

    @keyframes throb-outline-inverse {
      to {
        outline-offset: -1ch;
      }
    }
  }

  &.themed {
    --shadow-color: color-mix(in srgb, hsl(var(--theme-color-hsl) / var(--shadow-alpha, 5%)), hsl(0 0% 0% / calc(var(--shadow-alpha, 5%))));
    --shadow-alpha: 10%;

    @at-root .dark & {
      --shadow-alpha: 30%;
    }

    @media (prefers-color-scheme: dark) {
      @at-root .system & {
        --shadow-alpha: 30%;
      }
    }

    &:focus-visible {
      --focus-color: color-mix(in hsl, var(--theme-color), hsl(var(--primary-900)) 30%);
      outline-color: var(--focus-color, hsl(var(--fg-contrast)));
    }
  }

  &:hover {
    box-shadow:
      0 4px 4px var(--shadow-color, #0001),
      0 8px 8px var(--shadow-color, #0001),
      0 16px 16px var(--shadow-color, #0001),
      0 32px 32px var(--shadow-color, #0001),
      0 32px 32px var(--shadow-color, #0001),
      0 64px 64px var(--shadow-color, #0001);
    transform: scale(1.005);
  }

  &::before {
    content      : "";
    grid-row     : 1/2;
    grid-column  : 1/2;
    background   : var(--scrim, linear-gradient(to top, hsl(var(--d-contrast)), transparent));
    z-index      : 1;
    margin-bottom: -2px;
  }
}

.post-card>* {
  grid-column: 1;
}

.post-card__image {
  --post-image: linear-gradient(var(--theme-color), var(--theme-color));
  background-image:
    var(--post-image, linear-gradient(transparent, transparent)),
    radial-gradient(ellipse at bottom right, hsl(var(--primary-500)), hsl(var(--primary-300) / 0%)),
    radial-gradient(ellipse at top left, hsl(var(--primary-700)), hsl(var(--primary-300) / 0%));
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;
  grid-row           : 1/3;
  height             : 100%;
  position           : relative;
  width              : 100%;

  img {
    object-fit     : var(--img-object-fit, cover);
    object-position: var(--img-object-position, center);
    height         : 100%;
    width          : 100%;
    aspect-ratio   : 16/9;
    position       : absolute;
    top            : 0;
    left           : 0;
  }
}

.post-card__body {
  align-content   : end;
  background-color: var(--theme-color, hsl(var(--d-contrast)));
  grid-row        : 2/3;
  padding         : var(--space-xl);
  padding-top     : var(--space);
  position        : relative;
}

.post-card__title {
  align-self             : end;
  font-size              : calc(var(--type-size-5) * 1.25);
  font-size              : clamp(var(--type-size-5), 3vw, var(--type-size-5) * 1.25);
  font-variation-settings: 'wght'350;
  font-weight            : normal;
  margin                 : 0;
  transition             : font-size 200ms, transform 200ms;
}

.post-card__description {
  font-size: var(--type-size-6);
  margin   : 0;
  opacity  : 0.85;
}

.post-card__link {
  display    : flex;
  align-items: center;
  gap        : 1ch;
  width      : -moz-fit-content;
  width      : fit-content;
}

.post-card__body {
  display       : grid;
  gap           : 0;
  grid-auto-rows: min-content;
}

.post-card__footer {
  overflow: hidden;
}

.post-card:hover {
  color: hsl(var(--fg-default));
}

@media (min-width: 720px) {
  .post-card__footer {
    max-height: 0;
    transition: max-height 300ms;
  }

  .post-card:hover,
  .post-card:focus-visible {
    .post-card__title {
      transform       : scale(0.8) translateX(-12%);
      transition-delay: 0ms;
    }

    .post-card__footer {
      max-height      : 25ch;
      transition-delay: 0s;
    }
  }
}

.deck-card {
  display        : grid;
  flex-basis     : 30ch;
  height         : 35ch;
  padding        : var(--space-xs);
  text-decoration: none;

  &:hover {
    color: hsl(var(--fg-default));
  }

  &__body {
    align-items     : start;
    background-color: hsl(var(--bg-secondary));
    border-radius   : var(--ideal-radius);
    box-shadow      : 0 4px 10px rgba(0, 0, 0, 0.15);
    display         : flex;
    flex-direction  : column;
    justify-content : end;
    padding         : var(--space);
    transform       : rotate(3deg);
  }

  &__logo {
    height: 10ch;
    width : auto;
  }

  &__title {
    font-size  : var(--type-size-3);
    line-height: 1;
    margin     : 0;

    a {
      text-decoration: none;
      transition     : none;

      &:hover {
        color: inherit;
      }

      &:focus-visible {
        outline   : 0;
        background: revert;
        color     : inherit;
      }

      &::before {
        content : '';
        position: absolute;
        inset   : 0;

        @at-root .deck-card:hover & {
          top: -9.5rem;
        }
      }
    }
  }

  &__description {
    font-family: var(--font-sans);
    font-size  : 1rem;
    line-height: 1.25;
    margin     : 0;
    margin-top : var(--space);
  }

  &__image {
    align-self      : stretch;
    background-image: var(--image, linear-gradient(transparent, transparent)), url('https://ik.imagekit.io/8jjzxcl9p/tr:w-200/posts/placeholder.png');
    border-radius   : var(--ideal-radius);
    box-shadow      : 0 4px 10px rgb(0 0 0 / 0.15);
    height          : 100%;
    justify-self    : stretch;
    transform       : rotate(-3deg);
    width           : 100%;
    object-fit      : cover;
    object-position : center;
  }
}

.deck-card-container {
  display         : flex;
  gap             : var(--space-xl);
  overflow        : auto;
  padding         : var(--space);
  scroll-behavior : smooth;
  scroll-snap-type: x mandatory;
  transition      : scrollbar-color 100ms;

  .deck-card {
    scroll-snap-align: center;
    flex-shrink      : 0;
    max-width        : 75%;
  }
}

.deck-card {
  border-radius     : calc(var(--ideal-radius) * 1.5);
  gap               : var(--space-xs);
  grid-template-rows: 1fr;
  max-width         : min(35ch, 100%);
  position          : relative;

  @at-root .cluster & {
    flex-basis: 25ch;
  }

  .deck-card__body,
  .deck-card__image {
    grid-column: 1 / -1;
    grid-row   : 1 / -1;

    @media (prefers-reduced-motion: no-preference) {
      transition: transform 200ms, height 200ms;
    }
  }

  .deck-card__body {
    @extend .dark;

    align-self: end;
    height    : 100%;
  }

  &:hover,
  &:focus-within {
    background-color  : transparent;
    box-shadow        : none;
    grid-template-rows: minmax(5rem, 1fr) 0 1fr;

    .deck-card__body {
      height: calc(65% - var(--space-xs));
    }

    .deck-card__image {
      height: calc(35% - var(--space-xs));
    }

    .deck-card__body,
    .deck-card__image {
      transform: rotate(0);

      @media (prefers-reduced-motion: no-preference) {
        transition: transform 200ms, height 200ms;
      }
    }

    .deck-card__description {
      max-height: 0;
    }
  }

  &:focus-visible,
  &:focus-within {
    background-color  : transparent;
    box-shadow        : none;
    grid-template-rows: minmax(5rem, 1fr) 0 1fr;
    outline           : none;

    .deck-card__body {
      height: calc(65% - var(--space-xs));
    }

    .deck-card__image {
      height: calc(35% - var(--space-xs));
    }

    .deck-card__body,
    .deck-card__image {
      transform: rotate(0);

      @media (prefers-reduced-motion: no-preference) {
        transition: transform 200ms, height 200ms;
      }
    }

    .deck-card__description {
      max-height: 0;
    }
  }

  &:focus-visible,
  &:focus-within {
    outline       : 5px solid hsl(var(--primary-500));
    outline-offset: 0;
  }

  .deck-card__description {
    max-height: 10rem;
    overflow  : hidden;
    transition: max-height 300ms;
  }
}

.product-card {
  color          : hsl(var(--fg-default)) !important;
  text-decoration: none;
  display        : grid;

  &__body {
    @extend .stack;

    background-color: hsl(var(--bg-secondary));
    box-shadow      : 0 7px 10px #0004;
    border-radius   : var(--ideal-radius);
    display         : flex;
    flex-direction  : column;
    align-items     : start;
    justify-content : end;
    padding         : var(--space);
    margin-top      : 5ch;
  }

  &__title {
    font-size: var(--type-size-4);
  }

  &__logo {
    height: 10ch;
    border: none;
    width : auto;
  }
}

.card {
  display: flex;

  &--video {
    flex-direction: column;
    position      : relative;
    row-gap       : 1ch;

    .card {
      &__image {
        border-radius: var(--radius-3);
        box-shadow   : 0 2px 2px #0001, 0 4px 4px #0001, 0 6px 6px #0001;
        outline      : 3px solid hsl(var(--primary-500) / 0);
        overflow     : hidden;
        transition   : outline-color 200ms, outline-offset 200ms;
      }

      &__title {
        margin                 : 0;
        font-family            : var(--font-sans);
        font-variation-settings: 'wght'500;
        font-size              : var(--type-size-5);

        &,
        &-link {
          color: hsl(var(--fg-contrast));
        }

        &-link {
          text-decoration        : none;
          font-variation-settings: 'wght'600;
          letter-spacing         : -0.5px;

          &::before {
            content : '';
            position: absolute;
            inset   : 0;
          }

          &:focus-visible {
            outline: none;
          }
        }
      }

      &__subtitle {
        color: hsl(var(--fg-default) / 75%);

        p {
          margin: 0;
        }
      }

      &__metadata {
        display        : flex;
        justify-content: space-between;
      }
    }

    &:focus-within {
      .card {
        &__image {
          outline-color : hsl(var(--primary-500) / 100%);
          outline-offset: 5px;
        }
      }
    }
  }
}