.category-pill {
  align-items     : center;
  background-color: hsl(var(--bg-secondary));
  border-radius   : 100px;
  display         : flex;
  font-family     : var(--font-sans);
  padding         : var(--space-xxs);
}

.category-pill__inner {
  border-radius: inherit;
  padding      : var(--space-xxxs) var(--space-s);
}


.category-pill__category {
  background-color: hsl(var(--bg-primary));
  font-weight     : bold;
  text-transform  : capitalize;
}