.category-pill {
  align-items        : center;
  background-color   : hsl(var(--bg-secondary));
  border-radius      : 100px;
  display            : flex;
  font-family        : var(--font-sans);
  padding            : var(--space-xxs);
  gap                : var(--category-pill-gap);
  --category-pill-gap: var(--space-xxs);
}

.category-pill__inner {
  border-radius: inherit;
  padding      : var(--space-xxxs) var(--space-s);
}


.category-pill__category {
  background-color: hsl(var(--bg-primary));
  font-weight     : bold;
  text-transform  : capitalize;
  text-decoration : none;
}

.category-pill__read-time {
  margin-inline-start: calc(-1 * var(--category-pill-gap));
}

.tag-scroller {
  display             : flex;
  gap                 : 1ch;
  overflow            : auto;
  padding             : var(--space-s);
  padding-inline-start: 5ch;
  scrollbar-width     : thin;
  transition          : scrollbar-color 200ms;

  @media (hover: hover) {
    &:not(:hover) {
      scrollbar-color: transparent transparent;
    }
  }
}

.tag {
  @extend .category-pill;

  padding        : var(--space-xxxs) var(--space-s);
  text-decoration: none;
  flex-shrink    : 0;
  display        : inline-flex;

  &.active {
    background-color: hsl(var(--primary-500));
    color           : hsl(var(--l-contrast));

    &:focus-visible {
      outline-color: hsl(var(--primary-700));
    }
  }
}