.feed-grid {
  align-items : start;
  display     : flex;
  flex-wrap   : wrap;
  gap         : var(--space-xl);
  margin-block: var(--space-xl);
}

.feed__profile {
  flex-basis: 35ch;
  flex-grow : 1;

  @media (min-width: 1080px) {
    position: sticky;
    top     : 7rem;
  }
}

.feed__entries {
  display       : flex;
  flex-basis    : 0;
  flex-direction: column;
  flex-grow     : 999;
  gap           : var(--space-l);
  min-width     : 50%;
}


.entry {

  border       : 1px solid hsl(var(--bg-secondary));
  border-radius: var(--radius-1);
  overflow     : hidden;

  .entry {
    border             : none;
    border-radius      : 0;
    margin-inline-start: 0;
  }

  p {
    margin: 0;
  }

  &__header {
    background-color: hsl(var(--bg-secondary));
    padding-inline  : var(--space-xs);
    padding-block   : var(--space-xxxs);
    display         : flex;
    justify-content : space-between;
    font-family     : var(--font-sans);
    font-size       : var(--type-size-6);
  }

  &__body {
    display       : flex;
    flex-direction: column;
    gap           : var(--space);
    padding       : var(--space);

    .invisible {
      display: none;
    }

    .ellipsis::after {
      content: '…';
    }

    a[target="_blank"] {
      &::after {
        content: none;
      }
    }
  }

  &__post-time {
    margin-inline-start: auto;
  }

  &__footer {
    display        : flex;
    gap            : var(--space);
    flex-wrap      : wrap;
    justify-content: space-around;
  }

  .statistic {
    flex-direction: row;
    font-family   : var(--font-sans);
    gap           : 0.5ch;

    &__figure {
      font-size: var(--type-size-6);
    }
  }
}