.image-scroller {
  margin: 0;
  padding: var(--space-l);
  list-style: none;
  display: flex;
  overflow: scroll;
  gap: 1ch;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.image-scroller > * {
  flex: 1 0 35ch;
}

.image-scroller img {
  border-radius: var(--ideal-radius);
  box-shadow: 2px 10px 20px #0004;
  scroll-snap-align: center;
}
