.modal {
  position: fixed;
  inset   : 0;
  display : grid;
  z-index : 9999;

  &[hidden] {
    display: none;
  }

  .fieldset {
    border-radius: var(--ideal-radius);
  }
}

.modal>* {
  grid-column: 1/1;
  grid-row   : 1/1;
}

.modal__backdrop {
  place-self      : stretch;
  background-color: #000d;
}

.modal__content {
  background-color: hsl(var(--bg-primary));
  box-shadow      : 0 6px 16px #0005;
  display         : flex;
  flex-direction  : column;
  height          : 100%;
  padding         : min(2ch, 2vw);
  place-self      : center;
  transition      : border-radius 300ms, padding 300ms;
  width           : 100%;
  overflow        : auto;
  position        : relative;

  @media (min-width: 80ch) {
    border-radius: 6px;
    padding      : 0;
    height       : auto;
    max-height   : 90%;
    max-width    : min(50ch, 100%);
  }
}

.modal__header {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  padding        : var(--space);


  button {
    flex: 0;
  }

  .modal__title {
    flex: 1;
  }
}

.modal__title {
  font-family: var(--font-sans);
  margin     : 0;
  font-size  : var(--type-size-4);
}

.modal__body {
  flex      : 1;
  max-height: 55ch;
  overflow  : auto;
  padding   : var(--space);
  max-width : 65ch;
}

.modal__footer {
  padding         : var(--space);
  display         : flex;
  gap             : 1ch;
  background-color: transparent;
  align-items     : center;

  @media (min-width: 80ch) {
    background-color: hsl(var(--bg-secondary) /50%);
  }
}