.navigation-bar {
  display        : flex;
  flex-wrap      : wrap;
  font-family    : var(--font-sans);
  justify-content: space-between;
  padding        : var(--space);
  transition     : padding 300ms;

  &.attached {
    padding: 0;
  }
}
.navigation-brand {
  @extend .stack;

  gap        : 0;
  line-height: 1;
}

.navigation-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @at-root body:not(.no-js) & {
    position: relative;

    &::before {
      background-color   : hsl(var(--primary-100));
      border-radius      : var(--ideal-radius);
      content            : "";
      height             : var(--height, 0);
      left               : var(--left, 0);
      position           : absolute;
      top                : var(--top, 0);
      transition-duration: 200ms;
      transition-property: opacity, top, left, width, height;
      width              : var(--width, 0);
      z-index            : -1;

      @media (prefers-reduced-motion) {
        transition-property: opacity;
      }
    }

    &.no-animation::before {
      transition-property: opacity;
    }

    &:not(.hover, .focus)::before {
      opacity: 0;
    }
  }
}

.navigation-link {
  align-items    : center;
  border-radius  : var(--ideal-radius);
  display        : flex;
  gap            : 1ch;
  outline        : 0 solid hsl(var(--primary-500));
  padding        : var(--space-xs) var(--space);
  text-decoration: none;
  transition     : background-color 300ms, outline 300ms;

  &:focus-within {
    border    : none;
    box-shadow: none;
    outline   : 5px solid hsl(var(--primary-500));
    outline   : none;
  }

  @at-root body:not(.no-js) .navigation-links & {
    &:focus-within {
      background-color: transparent;
    }
  }

  @at-root body:not(.no-js) .navigation-links:not(:hover) & {
    &:focus-within {
      outline: none;
    }
  }

  &.active {
    position: relative;

   &::after {
      background-color: hsl(var(--primary-500));
      border-radius   : 100px;
      bottom          : 0;
      content         : "";
      height          : 0.5ch;
      left            : 50%;
      position        : absolute;
      transform       : translateX(-50%);
      transition      : width 100ms;
      width           : 0.5ch;
    }

    &:focus-visible::after,
    &:hover::after {
      height: 3px;
      width : 75%;
    }
  }
}

.navigation-link-label {
  @extend .sr-only;
}
