.navigation-bar {
  align-items          : center;
  background-color     : hsl(var(--bg-secondary));
  border-radius        : calc(var(--ideal-radius) * 1.35);
  display              : flex;
  font-family          : var(--font-sans);
  grid-template-columns: repeat(auto-fit, minmax(min(6ch, 100%), 1fr));
  justify-content      : space-between;
  justify-content      : space-between;
  margin               : var(--space);
  margin-inline        : auto;
  max-width            : 100ch;
  padding              : var(--space-xs);
  position             : sticky;
  top                  : var(--space);
  transition           : padding 300ms, box-shadow 300ms, max-width 200ms, border 200ms, background-color 200ms;
  z-index              : 998;

  &.attached {
    box-shadow: 0 10px 25px #0003;
    max-width : min(75ch, 100%);
  }

  @supports (backdrop-filter: blur(10px)) {
    background-color: hsl(var(--bg-secondary) / 70%);
    backdrop-filter : blur(10px);

    &::before {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
      border-radius   : inherit;
      content         : "";
      inset           : 0;
      opacity         : 40%;
      position        : absolute;
      z-index         : -1;
    }
  }

  &__section {
    display: flex;

    &--start {
      justify-content: start;
    }

    &--center {
      justify-content: center;
    }

    &--end {
      justify-content: end;
    }
  }
}

.navigation-link {
  align-items     : center;
  background-color: transparent;
  border          : 0;
  border-radius   : var(--ideal-radius);
  color           : hsl(var(--fg-default));
  cursor          : pointer;
  display         : flex;
  font-family     : var(--font-sans);
  font-size       : 1rem;
  font-weight     : 300;
  gap             : 1ch;
  justify-content : center;
  line-height     : 1.5;
  outline         : 3px solid transparent;
  padding         : var(--space-xxs) var(--space);
  text-decoration : none;
  transition      : background 200ms, color 200ms, outline-offset 100ms, outline 50ms 50ms;
  white-space     : nowrap;

  &:is([class]):is(.navigation-link) {
    display: flex;
  }

  &:focus,
  &:focus-visible {
    box-shadow      : none;
    background-color: hsl(var(--bg-accent) /20%);
    outline-color   : hsl(var(--primary-500));
    outline-offset  : 5px;
    outline-width   : 3px;
    transition      : background 200ms, color 200ms, outline-offset 100ms, outline 100ms;
  }

  &.active {
    position: relative;

    &::after {
      content         : '';
      background-color: hsl(var(--primary-500));
      border-radius   : 100px;
      height          : 6px;
      width           : 6px;
      position        : absolute;
      bottom          : calc(-1 * var(--space-xxxs));
      left            : 50%;
      transform       : translate(-50%);
      transition      : width 200ms, height 100ms;
      will-change     : width, height;
    }

    &:hover,
    &:focus-visible {
      &::after {
        height: 4px;
        width : 90%;
      }
    }
  }

  &.primary {
    background-color: hsl(var(--primary-100));
    color           : hsl(var(--primary-900));
  }

  &:hover {
    background-color: hsl(var(--bg-accent) / 50%);
  }

  &.square {
    aspect-ratio: 1/1;
  }

  &-text {
    @media (max-width: 720px) {
      @include visually-hidden;
    }
  }

  svg {
    aspect-ratio: 1/1;
    height      : auto;
    stroke-width: 1px;
    width       : 1.5em;
  }

  @at-root .light {
    .navigation-bar:not(.attached) & {
      mix-blend-mode: multiply;
    }
  }

  @at-root .system {
    @media (prefers-color-scheme: light) {
      .navigation-bar:not(.attached) & {
        mix-blend-mode: multiply;
      }
    }
  }
}

.navigation-menu {
  display              : grid;
  grid-template-columns: 1fr;
  inset                : 0;
  justify-content      : start;
  position             : fixed;
  z-index              : 9999;
  transition           : visibility 0ms;

  &>* {
    grid-row   : 1/2;
    grid-column: 1/2;
  }

  &[hidden] {
    visibility: hidden;
    transition: visibility 0ms 350ms;

    .navigation-menu-backdrop {
      opacity: 0;
    }

    .navigation-menu-content {
      transform : translateX(-100%);
      transition: transform 200ms 300ms;
    }

    .navigation-menu-link {
      transform : translateX(-150%);
      transition: transform 300ms calc(70ms * var(--delay-factor, 1));
    }
  }
}

.navigation-menu-backdrop {
  background-color: #000d;
  justify-self    : stretch;
  transition      : opacity 300ms;
}

.navigation-menu-content {
  background-color: hsl(var(--bg-primary));
  max-width       : 50ch;
  overflow-y      : auto;
  padding-block   : var(--space-xxl);
  transition      : transform 200ms;
  z-index         : 99;
}

.navigation-menu-items {
  column-width  : 25ch;
  font-size     : var(--type-size-4);
  gap           : 1ch;
  padding-inline: var(--space-xxl);
}

.navigation-menu-link {
  @extend .navigation-link;
}

.navigation-menu-link {
  font-size      : var(--type-size-4);
  font-weight    : 300;
  justify-content: start;
  text-align     : left;
  transition     : background-color 300ms, box-shadow 300ms, outline 300ms, transform 300ms calc(70ms * var(--delay-factor, 1));
  width          : -moz-fit-content;
  width          : fit-content;
}

.navigation-list {
  display   : flex;
  flex-wrap : wrap;
  list-style: none;
  margin    : 0;
  padding   : 0;
  row-gap   : 1ch;
}

.navigation-list-item>* {
  height: 100%;
}

.navigation-list-radio {
  input {
    @extend .sr-only;
  }

  label {
    @extend .navigation-link;

    &::before {
      aspect-ratio : 1;
      outline      : 2px solid hsl(var(--fg-default) / 50%);
      border-radius: 100%;
      content      : "";
      height       : var(--size, 0.7em);
    }
  }

  input:checked+label::before {
    outline-offset  : 2px;
    background-color: hsl(var(--primary-500));
    outline-color   : hsl(var(--primary-500));
  }

  input:focus-visible+label {
    outline: 2px solid hsl(var(--primary-500));
  }
}

.navigation-popup {
  background-color: hsl(var(--bg-secondary));
  border-radius   : calc(var(--ideal-radius) * 1.35);
  box-shadow      : 0 10px 25px -15px #0003;
  height          : auto;
  padding         : var(--space-xs);
  position        : absolute;
  right           : 0;
  top             : calc(100% + var(--space-s));
  transition      : transform 200ms, box-shadow 300ms, opacity 200ms 75ms;
  z-index         : -2;
  --brightness    : 0.7;

  &:not(dialog):not([hidden]),
  &:is(dialog):is([open]) {
    display    : flex;
    align-items: center;
    gap        : 1ch;
    flex-wrap  : wrap;
  }

  @at-root .dark & {
    --brightness: 4.5;
  }

  @media (prefers-color-scheme: dark) {
    --brightness: 4.5;
  }

  &[aria-hidden] {
    transform     : translateY(calc(-50% - var(--space-s)));
    box-shadow    : 0 0 0 transparent;
    opacity       : 0;
    pointer-events: none;
    transition    : transform 200ms 75ms, box-shadow 300ms, opacity 200ms;
  }

  &__label {
    display                : block;
    font-family            : var(--font-sans);
    font-size              : 1rem;
    font-variation-settings: 'wght'600;
    padding-inline-start   : 1ch;
    text-align             : center;
    flex                   : 1;
  }

  @supports (backdrop-filter: blur(10px)) {
    background-color: hsl(var(--bg-primary) / 70%);
    backdrop-filter : blur(10px) brightness(var(--brightness, 1));



    &::after,
    &::before {
      border-radius: inherit;
      content      : "";
      inset        : 0;
      opacity      : 40%;
      position     : absolute;
      z-index      : -1;
    }

    &::before {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
    }

    &::after {
      background-color: hsl(var(--bg-secondary));
      opacity         : 0.1;
    }
  }
}

.navigation-popup {
  border    : 0;
  box-shadow: 0 4px 8px hsl(var(--d-contrast) / 5%), 0 8px 16px hsl(var(--d-contrast) / 5%), 0 16px 32px hsl(var(--d-contrast) / 5%), 0 32px 64px hsl(var(--d-contrast) / 5%);
  left      : auto;
  margin    : 0;
  max-width : 85vw;
  position  : absolute;
  right     : auto;
  top       : calc(3rem + var(--space-s));
  transform : translateX(-95%);
  width     : max-content;
  z-index   : 99;
}

.popup-wrapper {
  inset             : 0;
  left              : 50%;
  margin-block-start: calc(4.5rem + var(--space));
  max-width         : 100ch;
  position          : fixed;
  right             : auto;
  transform         : translateX(-50%);
  transition        : max-width 200ms, left 200ms, right 200ms, transform 200ms;
  width             : 90%;
  z-index           : 9999;

  &:not([hidden]):not(.hidden) {
    display: grid;
  }

  .navigation-popup {
    grid-column: 1/2;
    grid-row   : 1/2;
    height     : fit-content;
    position   : static;
    width      : fit-content;
  }
}

.navbar-wrapper {
  margin-block-end: var(--space);
  margin-inline   : auto;
  max-width       : 100%;
  position        : sticky;
  top             : var(--space);
  transition      : max-width 200ms;
  width           : 90%;
  z-index         : 9999;

  &.attached+.popup-wrapper,
  &.attached {
    max-width: min(75ch, 100%);
  }

  @media (max-width: 800px) {
    margin-block: var(--space);
  }
}

@media (max-width: 392px) {
  .hide-on-small {
    display: none;
  }
}

@media (max-width: 720px) {
  .hide-on-medium {
    display: none;
  }
}

.navigation-bar:not(.attached),
.popup-wrapper:not(.attached) .navigation-popup {
  background-color: hsl(var(--primary-100)/75%);
}

.mobile-nav {
  gap           : var(--space-xs);
  display       : flex;
  flex-direction: column;

  .navigation-menu-link {
    width: 100%;
  }
}

/* New navigation */
.navigation {

  &--tabs {
    margin-block-start: var(--space-xl);
  }

  &__list {
    display: flex;
    gap    : var(--space);
  }

  &__link {
    @extend .button;

    background-color: transparent;
    text-transform  : none;

    &[aria-current="page"] {
      background-color: hsl(var(--primary-500));
      box-shadow      : 0 6px 12px hsl(var(--primary-700) / 25%);
      color           : hsl(var(--l-contrast));
    }
  }
}