.seo-preview {
  border       : 1px solid hsl(var(--fg-non-essential));
  border-radius: var(--ideal-radius);
  overflow     : hidden;
  position     : relative;
}

.preview {
  &__image {
    width : 100%;
    height: auto;
  }

  &__body {
    background-color  : hsl(var(--bg-secondary) / 50%);
    border-block-start: start;
    padding           : var(--space);
  }

  &__title {
    font-family            : var(--font-sans);
    font-size              : var(--type-size-5);
    font-variation-settings: 'wght'500;
    margin                 : 0;
  }

  &__description {
    font-size: var(--type-size-6);
  }

  &__link {
    position: absolute;
    inset   : 0;

    &:focus-visible {
      background-color: transparent;
      outline-offset  : calc(-1 * var(--radius-2));
    }
  }
}