.scroll-snapper {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  transition: scrollbar-color 100ms;

  &:not(:hover) {
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar-thumb {
      visibility: hidden;
    }
  }
}

$snap-alignments: start, end, center;

.snap {
  @each $a in $snap-alignments {
    &-#{$a} {
      scroll-snap-align: $a;
    }
  }

  &-item {
    flex-basis: var(--snap-item-size, 30ch);
    flex-shrink: 0;
  }
}
