@keyframes scroll-in {
  from {
    transform: scale(75%) translateX(-25%);
    opacity  : 0;
  }

  50% {
    transform: scale(100%);
    opacity  : 1;
  }
}

.scroll-snapper {
  //scroll-snap-type: x mandatory;
  overflow-x     : auto;
  padding-inline : 25ch !important;
  scroll-behavior: smooth;
  scroll-timeline: --scroll-snapper inline;
  transition     : scrollbar-color 100ms;

  &:not(:hover) {
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar-thumb {
      visibility: hidden;
    }
  }

  @supports not (animation-timeline: view(inline)) {
    scroll-snap-type: x mandatory;
  }

  .feature-card {
    animation         : scroll-in linear;
    animation-range   : entry-crossing 0% contain 100%;
    animation-timeline: view(inline);
  }

  @at-root .section__inner & {
    width         : 100vw;
    margin-inline : calc((100vw - min(100ch, 98vw)) / -2);
    padding-inline: 40vw !important;
  }
}

$snap-alignments: start,
end,
center;

.snap {
  @each $a in $snap-alignments {
    &-#{$a} {
      scroll-snap-align: $a;
    }
  }

  &-item {
    flex-basis : var(--snap-item-size, 30ch);
    flex-shrink: 0;
  }
}