.dialog {
  background-color: hsl(var(--bg-primary));
  border        : none;
  border-radius : calc(var(--ideal-radius) + (var(--space) / 2));
  display       : flex;
  flex-direction: column;
  padding       : 0;
  width: min(var(--content-width), 95%);

  @include elevate();

  &:not([open]) {
    display: none;
  }

  &::backdrop {
    background-color: #000a;
  }

  &__header,
  &__body,
  &__footer, header, form, footer {
    padding-inline: var(--space);
  }

  header,
  &__header {
    align-items        : center;
    background-color: inherit;
    display            : flex;
    justify-content    : space-between;
    padding: var(--space);
    position: sticky;
    top: 0;
    z-index: 2;

    :is(h2, h3, h4, h5, h6) {
      font-family: var(--font-ui);
      font-size: var(--type-size-5);
      font-variation-settings: 'wght' 700;
      font-weight: 700;
      margin: 0;
    }
  }

  form,
  &__body {
    padding-block: var(--space);

    &:empty {
      display: none;
    }
  }

  footer,
  &__footer {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    padding: var(--space);
    justify-content: end;
    background-color: hsl(var(--neutral-100));
    flex-wrap: wrap;
    position: sticky;
    bottom: 0;

    .button {
      flex-shrink: 0;
      flex-basis: 10ch;
    }
  }

  &__comment {
    color: hsl(var(--fg-default));
    font-family: var(--font-ui);
    font-size: var(--type-size-6);
    margin: 0;
  }

  &--search {
    align-content     : center;
    background-color  : transparent;
    border-radius     : 0;
    display           : grid;
    gap               : var(--space-xl);
    grid-template-rows: min-content 1fr;
    height            : 100vh;
    overflow          : visible;
    padding           : var(--space);
    transition        : grid-template-rows 200ms;
    width             : min(var(--page-width), 98%);

    &:not(.has-results) {
      grid-template-rows: min-content 0fr;
      transition        : grid-template-rows 200ms;
    }

    .dialog {

      &__header,
      &__body,
      &__footer {
        background-color: hsl(var(--bg-primary));
        border-radius   : var(--radius-5);
      }

      &__header {
        --shadow-color: hsl(0 0% 0% / 3%);
        box-shadow    : 0 4px 8px var(--shadow-color), 0 8px 16px var(--shadow-color), 0 16px 32px var(--shadow-color), 0 32px 64px var(--shadow-color);
        padding       : 0;
        position      : sticky;
        top           : 0;
        overflow      : hidden;

        &:focus-within {
          outline: 5px solid hsl(var(--primary-500));
        }
      }
    }

    .search-form {
      align-items    : stretch;
      display        : flex;
      justify-content: stretch;
      width          : 100%;

      .button {
        backdrop-filter          : none;
        background-color         : inherit;
        border-bottom-left-radius: 0;
        border-top-left-radius   : 0;
        flex                     : 0 1 13ch;
        transition               : flex-basis 200ms;

        &:focus-visible {
          background-color: hsl(var(--primary-500));
          outline         : none;
          color           : hsl(var(--l-contrast));
        }
      }
    }

    .search-form-control {
      display : flex;
      flex    : 1 1 15ch;
      padding : var(--space);
      position: relative;

      &>* {
        grid-column: 1/2;
        grid-row   : 1/2;
      }

      label,
      input:not([type="radio"]):not([type="checkbox"]) {
        border     : none;
        color      : hsl(var(--fg-contrast));
        flex       : 1;
        font-family: var(--font-sans);
        font-size  : clamp(var(--type-size-4), 1vw + 1rem, var(--type-size-1));
        padding    : var(--space) var(--space-l);
        transition : font-size 200ms;
      }

      input:not([type="radio"]):not([type="checkbox"]):focus {
        outline: none;
      }

      label {
        align-items: center;
        color      : hsl(var(--fg-subtle));
        cursor     : text;
        display    : flex;
        inset      : 0;
        position   : absolute;
        transition : opacity 200ms;
      }

      input:not(:placeholder-shown)+label {
        opacity       : 0;
        pointer-events: none;
      }
    }

    .dialog__body {
      transition: transform 200ms, opacity 200ms;

      &>* {
        margin: 0;
      }
    }

    &.has-results {

      .search-form {

        label,
        input:not([type="radio"]):not([type="checkbox"]) {
          font-size: var(--type-size-4);
        }

        .button {
          flex-basis: 8ch;
        }
      }
    }

    &:not(.has-results) {
      .dialog__body {
        transform: translateY(100%);
        opacity  : 0;
      }
    }
  }

  &--navigation {
    width                  : min(50ch, 95vw);
    margin-top             : 0;
    border-top-right-radius: 0;
    border-top-left-radius : 0;
    transition             : transform 200ms, opacity 200ms, visibility 300ms 0ms;
    height                 : 100%;


    &:not([open]) {
      transform : translateY(-100%);
      display   : flex;
      visibility: collapse;
      opacity   : 0;
      z-index   : 999;
      position  : fixed;

      .navigation-list-item {
        transform: translateY(-200%);
        opacity  : 0;
      }
    }

    .navigation-list-item {
      transition      : transform 200ms, opacity 200ms;
      transition-delay: calc(100ms + (30ms * var(--delay-factor))), 200ms;
    }
  }
}

.results {
  &-count {
    align-items    : center;
    color          : hsl(var(--fg-default));
    display        : flex;
    font-family    : var(--font-sans);
    justify-content: space-between;
    padding-block  : var(--space);
    padding-inline : var(--space-xl);
  }

  &-container {
    align-items    : stretch;
    color          : hsl(var(--fg-default));
    display        : flex;
    flex-direction : column;
    font-family    : var(--font-sans);
    justify-content: space-between;
    list-style     : none;
    padding-block  : var(--space);
    padding-inline : var(--space-xl);
  }
}

.result {
  &-item {
    align-items          : stretch;
    border-radius        : var(--radius-4);
    column-gap           : var(--space);
    display              : grid;
    font-family          : var(--font-sans);
    grid-template-columns: auto 1fr;
    grid-template-rows   : auto auto;
    padding              : var(--space-xs);
    text-decoration      : none;

    &:hover {
      background-color: hsl(var(--bg-secondary));
    }
  }

  &-subtitle {
    -webkit-line-clamp: 2;
    display           : -webkit-box;
    overflow          : hidden;
    -webkit-box-orient: vertical;
  }

  &-image {
    aspect-ratio : 16/9;
    border       : none;
    border-radius: var(--radius-1);
    grid-column  : 1/2;
    grid-row     : 1/-1;
    height       : auto;
    object-fit   : cover;
    width        : 10ch;

    &[src=null],
    &:not([src]) {
      visibility: hidden;
    }
  }

  &-title {
    font-weight            : bold;
    font-variation-settings: 'wght'700;
    font-size              : var(--type-size-4);
  }
}