.skip-link {
  @extend .button;
  @extend .primary;

  position  : fixed;
  top       : 0;
  left      : 50%;
  transform : translate(-50%, calc(-100% - 1rem));
  transition: transform 200ms;
  z-index   : 99999;

  &:focus-within {
    transform: translate(-50%, 1rem);
  }

  &.tag {
    overflow  : hidden;
    position  : static;
    transform : none;
    transition: max-width 200ms, filter 300ms, padding 200ms;
    z-index   : 0;

    &:not(:focus-visible) {
      max-width: 0;
      padding  : 0;
    }
  }
}