.spotlight {
  position: relative;
  overflow: hidden;

  &:hover {
    &::before {
      opacity: 1;
    }
  }

  &::before {
    --mask            : radial-gradient(circle at var(--x, 0) var(--y, 0), #000 1%, transparent 50%);
    --x               : var(--hover-left);
    --y               : var(--hover-top);
    -webkit-mask-image: var(--mask);
    background-color  : hsl(var(--gradience-color, 0 0% 0% / 5%));
    border-radius     : inherit;
    content           : "";
    inset             : 0;
    mask-image        : var(--mask);
    outline           : var(--gradience-outline-size, 2px) solid hsl(var(--gradience-outline-color, 0 0% 0% / 25%));
    outline-offset    : calc(var(--gradience-outline-size, 2px) * -1);
    position          : absolute;
    opacity           : 0;
    transition        : opacity 300ms;
  }
}

.elevated {
  --glow-alpha: 20%;
  --glow-color: 0 0% 100%;
  --glow      : inset 0 0 1px hsl(var(--glow-color) / var(--glow-alpha));

  --highlight-alpha: 10%;
  --highlight-color: 0 0% 100%;
  --highlight      : inset 0 1px 1px hsl(var(--glow-color) / var(--highlight-alpha));

  --outline-alpha: 20%;
  --outline-color: 0 0% 0%;
  --outline      : 0 0 1px hsl(var(--outline-color) / var(--outline-alpha));

  --shadow-alpha    : 3%;
  --shadow-color    : 0 0% 0%;
  --elevation-shadow: 0 2px 4px hsl(var(--shadow-color) / var(--shadow-alpha)), 0 4px 8px hsl(var(--shadow-color) / var(--shadow-alpha)), 0 8px 16px hsl(var(--shadow-color) / var(--shadow-alpha)), 0 16px 32px hsl(var(--shadow-color) / var(--shadow-alpha));
  box-shadow        : var(--outline), var(--glow), var(--highlight), var(--elevation-shadow);
}

.navigation-bar.attached,
.navigation-bar .navigation-popup {
  @extend .elevated;
  --outline-alpha: 30%;
  --shadow-alpha : 5%;
  --elevation-shadow:
    0 2px 4px hsl(var(--shadow-color) / var(--shadow-alpha)),
    0 3px 8px hsl(var(--shadow-color) / var(--shadow-alpha)),
    0 4px 16px hsl(var(--shadow-color) / var(--shadow-alpha)),
    0 5px 32px hsl(var(--shadow-color) / var(--shadow-alpha)),
    0 6px 64px hsl(var(--shadow-color) / var(--shadow-alpha));
}

.dark .navigation-bar.attached {
  --shadow-alpha: 10%;
}

.entry {
  @extend .elevated;

  &[data-webmention-type] {
    --outline-alpha: 40%;
  }
}