.tab-panel {
  margin-inline: auto;
  width        : min(70ch, 100%);
}

.tab-panel:not([role="tabpanel"]):not(:target) {
  display: none;
}

.tab-panel[role="tabpanel"][hidden] {
  display   : block !important;
  visibility: hidden;
}

.tabpanel-container {
  display: grid;

  &>* {
    grid-column: 1/2;
    grid-row   : 1/2;
  }
}

.tab-trigger {
  background-color: transparent;
  width           : 5ch;
  padding         : var(--space-xs);

  svg {
    aspect-ratio: 1/1;
    fill        : hsl(var(--fg-default) / 50%);
    stroke      : hsl(var(--primary-500) / 0%);
    transition  : fill 200ms;
    width       : 5ch;
  }

  &[aria-selected="true"] {
    svg {
      fill: hsl(var(--primary-500));
    }
  }
}