.radio-control {
  font-family: var(--font-sans);

  label {
    display    : flex;
    align-items: center;
    gap        : 1ch;

    &::before {
      content       : '';
      --size        : 0.7ch;
      width         : var(--size);
      height        : var(--size);
      border-radius : 100%;
      outline       : 2px solid hsl(var(--primary-500) / 50%);
      outline-offset: 0.15ch;
    }
  }

  input:checked+label::before {
    background-color: hsl(var(--primary-500));
    outline-color   : hsl(var(--primary-500));
  }

  input:focus-visible+label {
    outline       : 2px solid hsl(var(--primary-500)/50%);
    outline-offset: 0.5rem;
    border-radius : 1px;
  }

  input {
    @extend .sr-only;
  }
}