.webmentions {
  &--summary {
    display         : flex;
    justify-content : space-between;
    padding         : 1rem 0.5ch;
    gap             : 2ch;
    background-color: hsl(var(--bg-primary));
    z-index         : 3;
    position        : relative;
  }
}

.webmention {
  &__statistic {
    display        : flex;
    flex-wrap      : wrap;
    align-items    : center;
    justify-content: center;
    column-gap     : 0.5ch;
    font-family    : var(--font-sans);
    text-decoration: none;

    &-label {
      font-size : var(--type-size-8);
      transition: transform 200ms, opacity 200ms;

      @media (hover: hover) {
        padding         : 0.25ch 1ch;
        border-radius   : 4px;
        background-color: hsl(var(--bg-secondary));

        @at-root *:not(:hover) & {
          transform: translateY(-100%);
          opacity  : 0;
        }
      }
    }
  }
}

.webmention-container {
  margin    : 0;
  padding   : 0;
  list-style: none;

  &.likes {
    display  : flex;
    flex-wrap: wrap;
    gap      : 1ch;
  }

  &.replies {
    display       : flex;
    flex-direction: column;
    gap           : 1ch;
  }
}

.webmention__entry {
  display       : flex;
  flex-direction: column;
  padding       : 0;
  margin        : 0;
  gap           : 1ch;
}

.webmention__photo-link {
  text-decoration: none;
  color          : inherit;
  position       : relative
}

.webmention__author {
  align-items: center;
  display    : flex;
  gap        : 1ch;

  &-photo {
    --photo-size : 5ch;
    aspect-ratio : 1;
    border-radius: 1ch;
    height       : var(--photo-size);
    width        : var(--photo-size);

    @at-root .likes & {
      --photo-size: 4ch;
    }
  }

  &-name {
    font-family            : var(--font-sans);
    font-size              : 1rem;
    font-weight            : bold;
    font-variation-settings: 'wght'600;
    text-decoration        : none;

    &:is(a[href]):hover {
      text-decoration      : underline;
      text-decoration-color: hsl(var(--primary-500));
    }

    @at-root .likes & {
      display: none;
    }
  }
}

.webmention__timestamp-link {
  @extend .webmention__author-name;

  font-size  : var(--type-size-6);
  font-weight: normal;
}

.webmention__author-details {
  display       : flex;
  flex-direction: column;

  @at-root .likes & {
    display: none;
  }
}

.webmention__photo-icon {
  aspect-ratio       : 1;
  border-radius      : 100%;
  display            : none;
  margin-block-start : -40%;
  margin-inline-start: auto;
  outline            : 0.3ch solid hsl(var(--bg-primary));
  position           : relative;
  right              : -20%;
  z-index            : 2;
  width              : 2.5ch;
  transition         : outline 200ms, background 200ms, color 200ms;

  @at-root .webmention__entry[data-webmention-type=like-of] &[data-webmention-type=like],
  .webmention__entry[data-webmention-type=repost-of] &[data-webmention-type=repost] {
    align-items    : center;
    display        : flex;
    justify-content: center;

    svg,
    img {
      aspect-ratio: 1/1;
      height      : 1ch;
      width       : auto;
    }
  }

  &[data-webmention-type=like] {
    background-color: hsl(var(--error-100));
    color           : hsl(var(--error-900));
  }

  &[data-webmention-type=repost] {
    background-color: hsl(var(--success-100));
    color           : hsl(var(--success-900));
  }
}

.webmention-reply {
  background-color: hsl(var(--bg-secondary) / 50%);
  border-radius   : var(--ideal-radius);

  &__header,
  &__body {
    padding: var(--space);
  }

  &__header {
    display        : flex;
    justify-content: space-between;
    font-family    : var(--font-sans);
    padding-bottom : 0;

    .webmention__author-photo {
      --photo-size : 3ch;
      border-radius: 100%;
    }
  }

  &__body {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    display           : -webkit-box;
    flex-direction    : column;
    font-size         : var(--type-size-6);
    gap               : 1ch;
    line-clamp        : 6;
    margin            : var(--space);
    max-height        : 40ch;
    overflow          : hidden;
    padding           : 0;
    text-align        : center;
    text-overflow     : ellipsis;

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin                 : 0;
      font-family            : var(--font-sans);
      font-variation-settings: 'wght'700;
      text-align             : start;
    }

    h2 {
      font-size         : clamp(var(--type-size-5), 10vw, calc(var(--type-size-5) + 0.5rem));
      margin-block-start: var(--space-l);
    }

    h3 {
      font-size: clamp(var(--type-size-5), 10vw, calc(var(--type-size-5) + 0.5rem));
    }

    blockquote {
      margin-inline       : 0;
      padding-block       : var(--space-xs);
      padding-inline-start: var(--space-xxl);
      position            : relative;
      width               : 100%;

      &::before {
        content    : '“';
        font-family: var(--font-serif);
        font-size  : var(--type-size-1);
        left       : var(--space);
        line-height: 1;
        opacity    : 0.2;
        position   : absolute;
        transform  : scale(2);
      }
    }

    p,
    ul,
    ol {
      margin     : 0;
      font-family: var(--font-sans);
      text-align : start;
      font-size  : var(--type-size);
    }
  }
}

[data-webmention-entry=interaction-timestamp] {
  font-size: var(--type-size-7);
}

img[src*="custom_emojis"] {
  display       : inline;
  height        : 2ch;
  vertical-align: bottom;
}