---
title: Year in Photos
type: like-of
originalPost: https://francisrub.io/writing/en/2024-year-in-photos/
sourceUrl: https://www.facebook.com/teacherbuknoyofficial/posts/pfbid0Lzdzt7PMQFTq2qoAzNjTe36FrhdK54y371p4zFp2dxEkNciKj21UyQb9qAHWxvZnl
dtPublished: 2024-12-24
author:
  name: Ronald Cruz
  photo: https://scontent.fmnl3-3.fna.fbcdn.net/v/t39.30808-1/446818339_10161663127932640_4816155279893941099_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=111&ccb=1-7&_nc_sid=e99d92&_nc_ohc=JNLQJ0xate8Q7kNvgEQpiPz&_nc_zt=24&_nc_ht=scontent.fmnl3-3.fna&_nc_gid=AzgzI7tcVNTKBjYafsUq3vr&oh=00_AYAT8dQ-ShUI1oQq68dpa4TBtPymJzB1_QXDkk-3cqacIQ&oe=6770035D
  url: https://www.facebook.com/i.am.ronaldcruz
---