---
title: Year in Photos
type: like-of
originalPost: https://francisrub.io/writing/en/2024-year-in-photos/
sourceUrl: https://www.facebook.com/teacherbuknoyofficial/posts/pfbid0Lzdzt7PMQFTq2qoAzNjTe36FrhdK54y371p4zFp2dxEkNciKj21UyQb9qAHWxvZnl
dtPublished: 2024-12-24
author:
  name: Robina Rubio
  photo: https://scontent.fmnl37-1.fna.fbcdn.net/v/t39.30808-6/362633940_298634639304606_5354042309489966659_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=bDp33n2HwKkQ7kNvgH87G-w&_nc_zt=23&_nc_ht=scontent.fmnl37-1.fna&_nc_gid=AXUOE9-LkTw9ZAAKpF957Sz&oh=00_AYB3X3UeO6BD4hK4yUT2febxdQ6W0AH3WGemfjawbW0LPw&oe=676FFA1F
  url: https://www.facebook.com/robina.rubio.2024
---