---
title: Year in Photos
type: like-of
originalPost: https://francisrub.io/writing/en/2024-year-in-photos/
sourceUrl: https://www.facebook.com/teacherbuknoyofficial/posts/pfbid0Lzdzt7PMQFTq2qoAzNjTe36FrhdK54y371p4zFp2dxEkNciKj21UyQb9qAHWxvZnl
dtPublished: 2024-12-24
author:
  name: Tonee Gipal
  photo: https://scontent.fmnl3-2.fna.fbcdn.net/v/t39.30808-6/363320448_2503409249828534_2977204554211606430_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=qafO9inQfHUQ7kNvgHNC2V6&_nc_zt=23&_nc_ht=scontent.fmnl3-2.fna&_nc_gid=AUcCBdb5D8IQc05oNNOQx8Q&oh=00_AYD0Perb42nLYHjEreG313mMdz_Sa5KpXcLzpbGx5ba9KQ&oe=676FFD6D
  url: https://www.facebook.com/lazyBroccoli
---