---
title: Year in Photos
type: like-of
originalPost: https://francisrub.io/writing/en/2024-year-in-photos/
sourceUrl: https://www.facebook.com/teacherbuknoyofficial/posts/pfbid0Lzdzt7PMQFTq2qoAzNjTe36FrhdK54y371p4zFp2dxEkNciKj21UyQb9qAHWxvZnl
dtPublished: 2024-12-24
author:
  name: Carl Orland Sabino
  photo: https://scontent.fmnl3-2.fna.fbcdn.net/v/t39.30808-1/470671608_28076573891987000_7855099286385697931_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=105&ccb=1-7&_nc_sid=e99d92&_nc_ohc=23M63V6771AQ7kNvgHjOWqz&_nc_zt=24&_nc_ht=scontent.fmnl3-2.fna&_nc_gid=AQ-1kQqLJNmSwdvLOahUYXQ&oh=00_AYAmWENFOOmy6v_XxAsvea48NXRDMfJtdZs0fv6L-ihFEA&oe=67701FB2
  url: https://www.facebook.com/thewanderer.carl
---