<dialog class="dialog" id="emailDialog" aria-labelledby="emaildialog__title">
  <form id="close-dialog" method="dialog"></form>
  <header>
    <h2 id="emaildialog__title">Get in touch.</h2>
    <button class="transparent icon-only button padding" form="close-dialog">
      <i aria-hidden="true" class="material-symbol">close</i>
      <span class="sr-only">Close this dialog</span>
    </button>
  </header>
  <form class="form" id="email-form" action="{{ site.api.email }}" method="POST">
    <div class="field">
      <label for="email-form__name">Your name</label>
      <p class="comment" id="email-form__name-comment">So I know how to address you in my reply.</p>
      <input type="text" name="name" id="email-form__name" placeholder="Ivy Aguas, PhD"
        aria-describedby="email-form__name-comment" required>
    </div>
    <div class="field">
      <label for="email-form__email">Your email</label>
      <p class="comment" id="email-form__email-comment">So I can reply to your message.</p>
      <input type="email" name="name" id="email-form__email" placeholder="ivyaguas@gmail.com"
        aria-describedby="email-form__email-comment" required>
    </div>
    <div class="field">
      <label>Your purpose</label>
      <p class="comment" id="email-form__email-comment">How can I help you?</p>
      <p aria-hidden="true" class="comment weight-bold weight-700 margin-block-start--s"><q>I'd like you to…</q></p>
      <div class="option-list">

        <div class="option">
          <input required type="radio" name="purpose" id="purpose__uiux"
          aria-describedby="purpose__uiux-comment"
          value="I'd like you to design an app or website" class="visually-hidden">
          <i aria-hidden="true" class="material-symbol">design_services</i>
          <label for="purpose__uiux">
            <span class="visually-hidden">I'd like you to</span>
            design an app or website
          </label>
          <p id="purpose__uiux-comment" class="comment">UI/UX Design</p>
        </div>
        
        <div class="option">
          <input required type="radio" name="purpose" id="purpose__webdev"
          aria-describedby="purpose__webdev-comment"
          value="I'd like you to code a website" class="visually-hidden">
          <i aria-hidden="true" class="material-symbol">terminal</i>
          <label for="purpose__webdev">
            <span class="visually-hidden">I'd like you to</span>
            code a website
          </label>
          <p id="purpose__webdev-comment" class="comment">Web development</p>
        </div>

        
        <div class="option">
          <input required type="radio" name="purpose" id="purpose__consulting"
          aria-describedby="purpose__consulting-comment"
          value="I'd like you to help with my existing website" class="visually-hidden">
          <i aria-hidden="true" class="material-symbol">person_raised_hand</i>
          <label for="purpose__consulting">
            <span class="visually-hidden">I'd like you to</span>
            help with my existing website
          </label>
          <p id="purpose__consulting-comment" class="comment">Consulting</p>
        </div>

        
        <div class="option">
          <input required type="radio" name="purpose" id="purpose__branddesign"
          aria-describedby="purpose__branddesign-comment"
          value="I'd like you to improve my branding" class="visually-hidden">
          <i aria-hidden="true" class="material-symbol">brand_family</i>
          <label for="purpose__branddesign">
            <span class="visually-hidden">I'd like you to</span>
            improve my branding
          </label>
          <p id="purpose__branddesign-comment" class="comment">Brand design</p>
        </div>

        
        <div class="option">
          <input required type="radio" name="purpose" id="purpose__training"
          aria-describedby="purpose__training-comment"
          value="I'd like you to train my team" class="visually-hidden">
          <i aria-hidden="true" class="material-symbol">school</i>
          <label for="purpose__training">
            <span class="visually-hidden">I'd like you to</span>
            train my team
          </label>
          <p id="purpose__training-comment" class="comment">Training</p>
        </div>

        
        <div class="option">
          <input required type="radio" name="purpose" id="purpose__talk"
          aria-describedby="purpose__talk-comment"
          value="I'd like you to speak at our event" class="visually-hidden">
          <i aria-hidden="true" class="material-symbol">podium</i>
          <label for="purpose__talk">
            <span class="visually-hidden">I'd like you to</span>
            speak at our event
          </label>
          <p id="purpose__talk-comment" class="comment">Public Speaking and Workshops</p>
        </div>

        
        <div class="option">
          <input required type="radio" name="purpose" id="purpose__mentorship"
          aria-describedby="purpose__mentorship-comment"
          value="I'd like you to teach me how to code" class="visually-hidden">
          <i aria-hidden="true" class="material-symbol">local_library</i>
          <label for="purpose__mentorship">
            <span class="visually-hidden">I'd like you to</span>
            teach me how to code
          </label>
          <p id="purpose__mentorship-comment" class="comment">Mentorship</p>
        </div>

        
        <div class="option">
          <input required type="radio" name="purpose" id="purpose__other"
          aria-describedby="purpose__other-comment"
          value="I'd like to ask something else" class="visually-hidden">
          <i aria-hidden="true" class="material-symbol">help</i>
          <label for="purpose__other">
            <span class="visually-hidden">I'd like to ask</span>
            Something else
          </label>
          <p id="purpose__other-comment" class="comment">Ask questions</p>
        </div>


      </div>
    </div>
    <div class="field">
      <label for="email-form__details">Details</label>
      <p class="comment" id="email-form__details-comment">You may include links to relevant information, inspirations, moodboards, or similar products. Ask as many questions as you want!</p>
      <textarea required name="details" id="email-form__details" placeholder="Write your comments…" aria-describedby="email-form__details-comment"></textarea>
    </div>
  </form>
  <footer>
    <p class="dialog__comment">All fields are required</p>
    <button form="close-dialog" class="button">Cancel</button>
    <button form="email-form" class="primary button">Send</button>
  </footer>
</dialog>