---
title: "Ang Munting Alon"
description: Isang salin sa Filipino ng awiting Pranses na <cite>La Vaguelette</cite>
type: Literature
cover:
  folder: ang-munting-alon
  filename: cover.png
  header: header.png
  sizes: [500, 600, 700, 1000, 1280]
  formats: ['png', 'webp', 'avif']
theme:
  scheme: light
  color: '#C8CDE0'
  color-hsl: '228 28% 83%'
author: "teacherbuknoy"
language: "en"
seo:
  twitter:
    url: "https://ik.imagekit.io/8jjzxcl9p/literature/ang-munting-alon/twitter.png"
    is_prefixed: true
  og:
    url: "https://ik.imagekit.io/8jjzxcl9p/literature/ang-munting-alon/og.png"
    is_prefixed: true
eleventyExcludeFromCollections: false
featured: true
size: full
---
<table class="poetry">
  <thead>
    <tr>
      <th>Salin sa Filipino</th>
      <th>Official English Translation</th>
      <th>Official French Lyrics (Filipino interlined)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td lang="tl">Oh, kung babalik ba sa tubig,</td>
      <td lang="en">O, if I become one with the springs</td>
      <td lang="fr">
        Ah,
        <ruby>si <rp>(</rp>
          <rt lang="tl">kung</rt>
          <rp>)</rp>
        </ruby>
        <ruby>je <rp>(</rp>
          <rt lang="tl">ako</rt>
          <rp>)</rp>
        </ruby>
        <ruby>pouvais <rp>(</rp>
          <rt lang="tl">puwede</rt>
          <rp>)</rp>
        </ruby>
        <ruby>vivre <rp>(</rp>
          <rt lang="tl">mabuhay</rt>
          <rp>)</rp>
        </ruby>
        <ruby>dans <rp>(</rp>
          <rt lang="tl">sa</rt>
          <rp>)</rp>
        </ruby>
        <ruby>l'eau <rp>(</rp>
          <rt lang="tl">ang tubig</rt>
          <rp>)</rp>
        </ruby>
      </td>
    </tr>
    <tr>
      <td lang="tl">Mundo'y muli bang gaganda?</td>
      <td lang="en">Can the world's wonder be restored?</td>
      <td lang="fr">
        <ruby>Le <rp>(</rp>
          <rt lang="tl">Ang</rt>
          <rp>)</rp>
        </ruby>
        <ruby>monde <rp>(</rp>
          <rt lang="tl">mundo</rt>
          <rp>)</rp>
        </ruby>
        <ruby>serait-il <rp>(</rp>
          <rt lang="tl">magiging</rt>
          <rp>)</rp>
        </ruby>
        <ruby>plus <rp>(</rp>
          <rt lang="tl">mas</rt>
          <rp>)</rp>
        </ruby>
        <ruby>beau <rp>(</rp>
          <rt lang="tl">maganda</rt>
          <rp>)</rp>
        </ruby>?
      </td>
    </tr>
    <tr>
      <td lang="tl">Patatawarin mo ba kami, Ina?</td>
      <td lang="en">And will you forgive us our sins, dear mother?</td>
      <td lang="fr">
        <ruby>Nous <rp>(</rp>
          <rt lang="tl">Kami</rt>
          <rp>)</rp>
        </ruby>
        <ruby>pardonneras-tu <rp>(</rp>
          <rt lang="tl">patatawarin mo ba</rt>
          <rp>)</rp>
        </ruby>
        <ruby>ô <rp>(</rp>
          <rt lang="tl">oh</rt>
          <rp>)</rp>
        </ruby>
        <ruby>chère <rp>(</rp>
          <rt lang="tl">mahal [na]</rt>
          <rp>)</rp>
        </ruby>
        <ruby>mère <rp>(</rp>
          <rt lang="tl">ina</rt>
          <rp>)</rp>
        </ruby>?
      </td>
    </tr>
    <tr>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td lang="tl">Buhos ng ulan, nagbibigay-buhay</td>
      <td lang="en">The water's flow puts the dance in our step</td>
      <td lang="fr">
        <ruby>L'eau <rp>(</rp>
          <rt lang="tl">Ang tubig</rt>
          <rp>)</rp>
        </ruby>
        <ruby>dans <rp>(</rp>
          <rt lang="tl">sa</rt>
          <rp>)</rp>
        </ruby>
        <ruby>son <rp>(</rp>
          <rt lang="tl">kanya</rt>
          <rp>)</rp>
        </ruby>
        <ruby>courant <rp>(</rp>
          <rt lang="tl">daloy</rt>
          <rp>)</rp>
        </ruby>
        <ruby>fait <rp>(</rp>
          <rt lang="tl">gawin</rt>
          <rp>)</rp>
        </ruby>
        <ruby>danser <rp>(</rp>
          <rt lang="tl">sumayaw</rt>
          <rp>)</rp>
        </ruby>
        <ruby>nos <rp>(</rp>
          <rt lang="tl">ating</rt>
          <rp>)</rp>
        </ruby>
        <ruby>vies. <rp>(</rp>
          <rt lang="tl">buhay</rt>
          <rp>)</rp>
        </ruby>
      </td>
    </tr>
    <tr>
      <td lang="tl">Sa nayon at kabisera</td>
      <td lang="en">It nurtures our city</td>
      <td lang="fr">
        <ruby>Et <rp>(</rp>
          <rt lang="tl">At</rt>
          <rp>)</rp>
        </ruby>
        <ruby>la <rp>(</rp>
          <rt lang="tl">doon</rt>
          <rp>)</rp>
        </ruby>
        <ruby>cité, <rp>(</rp>
          <rt lang="tl">lungsod</rt>
          <rp>)</rp>
        </ruby>
        <ruby>elle <rp>(</rp>
          <rt lang="tl">siya</rt>
          <rp>)</rp>
        </ruby>
        <ruby>nourrit <rp>(</rp>
          <rt lang="tl">nagpapakain</rt>
          <rp>)</rp>
        </ruby>
      </td>
    </tr>
    <tr>
      <td lang="tl">Pati sa ’yo, aking mahal.</td>
      <td lang="en">And thee, my beloved.</td>
      <td lang="fr">
        <ruby>Ainsi <rp>(</rp>
          <rt lang="tl">Samakatuwid</rt>
          <rp>)</rp>
        </ruby>
        <ruby>que <rp>(</rp>
          <rt lang="tl">na</rt>
          <rp>)</rp>
        </ruby>
        <ruby>toi, <rp>(</rp>
          <rt lang="tl">ikaw</rt>
          <rp>)</rp>
        </ruby>
        <ruby>mon <rp>(</rp>
          <rt lang="tl">aking</rt>
          <rp>)</rp>
        </ruby>
        <ruby>doux <rp>(</rp>
          <rt lang="tl">banayad</rt>
          <rp>)</rp>
        </ruby>
        <ruby>amour. <rp>(</rp>
          <rt lang="tl">mahal</rt>
          <rp>)</rp>
        </ruby>
      </td>
    </tr>
    <tr>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td lang="tl">Siya ngang ’di sapat ang pag-ibig;</td>
      <td lang="en">If only true love were enough</td>
      <td lang="fr">
        <ruby>Non, <rp>(</rp>
          <rt lang="tl">Hindi</rt>
          <rp>)</rp>
        </ruby>
        <ruby>le <rp>(</rp>
          <rt lang="tl">ang</rt>
          <rp>)</rp>
        </ruby>
        <ruby>grand <rp>(</rp>
          <rt lang="tl">malaki</rt>
          <rp>)</rp>
        </ruby>
        <ruby>amour <rp>(</rp>
          <rt lang="tl">pag-ibig</rt>
          <rp>)</rp>
        </ruby>
        <ruby>ne suffit pas. <rp>(</rp>
          <rt lang="tl">hindi sapat</rt>
          <rp>)</rp>
        </ruby>
      </td>
    </tr>
    <tr>
      <td lang="tl">Paalam lang ang bubukad.</td>
      <td lang="en">But alas, I must bid thee adieu</td>
      <td lang="fr">
        <ruby>Seul <rp>(</rp>
          <rt lang="tl">Nag-iisa</rt>
          <rp>)</rp>
        </ruby>
        <ruby>un adieu <rp>(</rp>
          <rt lang="tl">isang paalam</rt>
          <rp>)</rp>
        </ruby>
        <ruby>fleurira <rp>(</rp>
          <rt lang="tl">mamumukadkad</rt>
          <rp>)</rp>
        </ruby>
      </td>
    </tr>
    <tr>
      <td lang="tl">Sa wakas natin, lagi akong nariyan</td>
      <td lang="en">Our love but a bittersweet fairytale</td>
      <td lang="fr">
        <ruby>C'est <rp>(</rp>
          <rt lang="tl">Ito ay</rt>
          <rp>)</rp>
        </ruby>
        <ruby>notre <rp>(</rp>
          <rt lang="tl">ating</rt>
          <rp>)</rp>
        </ruby>
        <ruby>histoire <rp>(</rp>
          <rt lang="tl">kuwento</rt>
          <rp>)</rp>
        </ruby>
        <ruby>de vie, <rp>(</rp>
          <rt lang="tl">ng buhay</rt>
          <rp>)</rp>
        </ruby>
        <ruby>douce <rp>(</rp>
          <rt lang="tl">matamis</rt>
          <rp>)</rp>
        </ruby>
        <ruby>et <rp>(</rp>
          <rt lang="tl">at</rt>
          <rp>)</rp>
        </ruby>
        <ruby>amére. <rp>(</rp>
          <rt lang="tl">mapait</rt>
          <rp>)</rp>
        </ruby>
      </td>
    </tr>
    <tr>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td lang="tl">Sa tabi'y laging kasama</td>
      <td lang="en">Yet I am here, and here I shall remain</td>
      <td lang="fr">
        <ruby>Moi, <rp>(</rp>
          <rt lang="tl">Ako</rt>
          <rp>)</rp>
        </ruby>
        <ruby>je suis <rp>(</rp>
          <rt lang="tl">ako</rt>
          <rp>)</rp>
        </ruby>
        <ruby>et <rp>(</rp>
          <rt lang="tl">at</rt>
          <rp>)</rp>
        </ruby>
        <ruby>serai <rp>(</rp>
          <rt lang="tl">magiging</rt>
          <rp>)</rp>
        </ruby>
        <ruby>toujours <rp>(</rp>
          <rt lang="tl">palagi</rt>
          <rp>)</rp>
        </ruby>
        <ruby>lä. <rp>(</rp>
          <rt lang="tl">doon</rt>
          <rp>)</rp>
        </ruby>
      </td>
    </tr>
    <tr>
      <td lang="tl">Saksi sa mundo at ganda,</td>
      <td lang="en">To behold the world and its beauty,</td>
      <td lang="fr">
        <ruby>A voir <rp>(</rp>
          <rt lang="tl">Upang makita</rt>
          <rp>)</rp>
        </ruby>
        <ruby>le monde <rp>(</rp>
          <rt lang="tl">ang mundo</rt>
          <rp>)</rp>
        </ruby>
        <ruby>et <rp>(</rp>
          <rt lang="tl">at</rt>
          <rp>)</rp>
        </ruby>
        <ruby>sa beauté. <rp>(</rp>
          <rt lang="tl">kanyang ganda</rt>
          <rp>)</rp>
        </ruby>
      </td>
    </tr>
    <tr>
      <td lang="tl">’Di na muling lilisan pa.</td>
      <td lang="en">Until the end of time</td>
      <td lang="fr">
        <ruby>Et ça <rp>(</rp>
          <rt lang="tl">At iyon</rt>
          <rp>)</rp>
        </ruby>
        <ruby>ne <rp>(</rp>
          <rt lang="tl">[ay] hindi</rt>
          <rp>)</rp>
        </ruby>
        <ruby>changera <rp>(</rp>
          <rt lang="tl">magbabago</rt>
          <rp>)</rp>
        </ruby>
        <ruby>jamais, <rp>(</rp>
          <rt lang="tl">hindi kailanman</rt>
          <rp>)</rp>
        </ruby>
        <ruby>jamais. <rp>(</rp>
          <rt lang="tl">hindi kailanman</rt>
          <rp>)</rp>
        </ruby>
      </td>
    </tr>
  </tbody>
</table>

<hr>
{{ 'kglEsR7bqAY' | youtube | safe }}

<div style="width: min(var(--content-width), 95%); margin-inline: auto;">

  {% markdown %}
This table shows side-by-side my Filipino translation of the song, the official English translation of the lyrics, and the official French lyrics of the song. The official English translation is taken from the English transcript of the song's YouTube video, also included in this page. 

The French lyrics is interlined with literal Filipino translation per word. To achieve this, a combination of both Google Translate and the Cambridge French-to-English dictionary were used. This interlinear translation is the main reference point of my Filipino translation.

The Filipino translation considered both the melody of the song, as well as the context in which the song appears. As mentioned, I mainly referenced the Filipino interlinear translation to construct the Filipino lyrics. After the first few drafts, I then consulted the official English translation of the lyrics to correct some of the nuances that I missed. Finally, I considered the song's context in the game to take artistic liberties in the final version of the Filipino translation

<hr>

The song <i>La Vaguelette</i> appears in the game Genshin Impact, during a story quest <i>Animula Choragi, Act I: The Little Oceanid</i>. In this story, Furina‚ the human counterpart of the God of Justice Focalors, returns to the stage to perform last minute as the main character of the stage musical <i>The Little Oceanid</i> (which is heavily referencing The Little Mermaid).

In the story, there was a little oceanid (the game's equivalent to mermaids) who transformed herself into a human in exchange of her silence about her true nature; no one can ever know that she was an oceanid, or she'll die. Eventually, the little oceanid (played by Furina) falls in love with a human. As time went on, various plagues struck the city, and the people found out about the little oceanid's true nature. They wanted to kill her as a sacrifice to stop the plagues.

The little oceanid feels the guilt but is conflicted between her desire to stay human with the love of her life and a decision to sacrifice herself to pay for her sins and stop the plague. She eventually reveals her true nature to the people, completing her curse of death and stopping the plague with it. But much to everyone's surprise, the oceanid receives a Vision just as she dies. A Vision is a trinket gifted by the gods as a sign that someone's ambitions and resolve has been strong enough to be noticed by the heavens, thus signifying that the little oceanid's ambitions of becoming human had become so great that she would end her life so the people she loved so dearly could live in peace.

The following is a demo recording of me singing my Filipino translation of the song. The instrumental I used is the official one posted by Hoyoverse, only I changed the pitch to be three semitones higher.
{% endmarkdown %}
</div>

<audio controls style="position: sticky; bottom: var(--space); backdrop-filter: blur(3px);">
  <source src="/assets/files/ang_munting_alon_demo_by_francis_rubio.mp3" type="audio/mpeg">
  <source src="/assets/files/ang_munting_alon_demo_by_francis_rubio.ogg" type="audio/ogg">
  <p>
    Download <i lang="tl">Ang Munting Alon — Demo by Francis Rubio</i> in <a href="/assets/files/ang_munting_alon_demo_by_francis_rubio.mp3">MP3</a> or <a href="/assets/files/ang_munting_alon_demo_by_francis_rubio.ogg">OGG</a> file format.
  </p>
</audio>