.article__sidebar {
  background-color: hsl(var(--bg-secondary) / 50%);
  border-radius   : var(--ideal-radius);

  p {
    margin   : 0;
    font-size: 1rem;
  }
}

.sidebar__section {
  padding-block-end: var(--space);
  padding-inline   : var(--space);

  &:not(:last-child) {
    background-image   : linear-gradient(hsl(var(--fg-non-essential)), hsl(var(--fg-non-essential)));
    background-position: bottom center;
    background-repeat  : no-repeat;
    background-size    : 75% 1px;
  }
}

.sidebar__heading {
  margin        : 0;
  font-family   : var(--font-sans);
  text-transform: uppercase;
  font-weight   : normal;
  font-size     : 1rem;
  padding-block : var(--space);
}

.sidebar__title {
  margin     : 0;
  font-size  : var(--type-size-5);
  font-family: var(--font-sans);
}

.article__body {
  display              : grid;
  grid-auto-rows       : min-content;
  grid-template-columns: 1fr min(65ch, 100%) 1fr;
  gap                  : var(--space);

  &>* {
    margin-block: 0;
  }

  h1 {
    font-size: clamp(var(--type-size-4), 9vw, var(--type-size-1));
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend .responsive;

    &:not(:first-child) {
      margin-top: 1ch;
    }
  }
}

.article__header {
  margin-bottom: var(--space-xxl);
}

.article__logo {
  width: min(25ch, 100%);
}

.article__body>* {
  grid-column: 2/3;
}

.article__body>figure {
  grid-column: 1/-1;
}

.article__body>blockquote {
  font-size  : clamp(1.75rem, 5vw, 2.5rem);
  font-weight: 250;
  line-height: 1.2;
  position   : relative;
  text-align : center;

  cite {
    display    : block;
    font-family: var(--font-sans);
    font-size  : 1rem;
    font-style : normal;
    font-weight: 400;
    margin-top : 1ch;
  }
}

figure.image {
  align-items   : center;
  display       : flex;
  flex-direction: column;
  gap           : 1ch;

  img {
    flex: 1;
  }

  figcaption {
    font-family  : var(--font-sans);
    font-size    : 0.9rem;
    width        : min(65ch, 100%);
    margin-inline: auto;
  }
}

.literature__body {
  &>* {
    width        : min(65ch, 90%);
    margin-inline: auto;


    &+* {
      margin-block-start: var(--space-xl);
    }
  }
}

.article__toc,
.article__sidebar {
  --sidebar-width : 20ch;
  border-block    : 2px solid hsl(var(--fg-non-essential));
  border-radius   : 0;
  background-color: transparent;
  height          : fit-content;
  margin-bottom   : var(--space-xl);
  margin-inline   : auto;

  dl {
    margin-top: 1ch;
  }

  @media (min-width: 920px) {
    position: sticky;
    top     : calc(var(--space-xxl) * 2.4);
  }
}

.article__toc::before {
  content: 'Contents';
}

.article__toc::before,
.article__sidebar__title {
  display       : block;
  font-family   : var(--font-sans);
  font-weight   : bold;
  font-size     : inherit;
  letter-spacing: 2px;
  margin-top    : 1ch;
  text-transform: uppercase;
}

.article__sidebar__title {
  margin-bottom: 0;
}

details {
  summary.article__sidebar__title {
    display        : flex;
    gap            : 1ch;
    justify-content: space-between;
    align-items    : center;
    cursor         : pointer;

    &::after {
      content    : '▼';
      font-size  : 1ch;
      font-family: var(--font-mono);
    }
  }

  &[open] summary.article__sidebar__title {
    &::after {
      content: '▲';
    }
  }
}

.article__toc a {
  font-family    : var(--font-sans);
  text-decoration: none;

  &:hover {
    text-decoration: underline
  }
}

.article__toc ol {
  padding      : 0;
  width        : min(100%, 65ch);
  margin-inline: auto;
}

.article__toc li::marker {
  content: "";
}

.with-sidebar .article__body {
  grid-template-columns: 0fr min(65ch, 93%) 0fr;
}