.article__sidebar {
  background-color: hsl(var(--bg-secondary) / 50%);
  border-radius: var(--ideal-radius);

  p {
    margin: 0;
    font-size: 1rem;
  }
}

.sidebar__section {
  padding-block-end  : var(--space);
  padding-inline     : var(--space);

  &:not(:last-child) {
    background-image   : linear-gradient(hsl(var(--fg-non-essential)), hsl(var(--fg-non-essential)));
    background-position: bottom center;
    background-repeat  : no-repeat;
    background-size    : 75% 1px;
  }
}

.sidebar__heading {
  margin        : 0;
  font-family   : var(--font-sans);
  text-transform: uppercase;
  font-weight   : normal;
  font-size     : 1rem;
  padding-block : var(--space);
}

.sidebar__title {
  margin     : 0;
  font-size  : var(--type-size-5);
  font-family: var(--font-sans);
}

.article__body {
  display              : grid;
  grid-template-columns: 1fr min(65ch, 100%) 1fr;
}

.article__body > * {
  grid-column: 2/3;
}

.article__body > figure {
  grid-column: 1/-1;
}

.article__body > blockquote {
  font-size  : 2.5rem;
  font-weight: 250;
  line-height: 1.2;
  position   : relative;
  text-align : center;

  cite {
    display    : block;
    font-family: var(--font-sans);
    font-size  : 1rem;
    font-style : normal;
    font-weight: 400;
    margin-top : 1ch;
  }
}

figure.image {
  align-items   : center;
  display       : flex;
  flex-direction: column;
  gap           : 1ch;

  img {
    flex: 1;
  }

  figcaption {
    font-family: var(--font-sans);
    font-size  : 1rem;
  }
}
