.article__sidebar {
  background-color: hsl(var(--bg-secondary) / 50%);
  border-radius   : var(--ideal-radius);

  p {
    margin   : 0;
    font-size: 1rem;
  }
}

.sidebar__section {
  padding-block-end: var(--space);
  padding-inline   : var(--space);

  &:not(:last-child) {
    background-image   : linear-gradient(hsl(var(--fg-non-essential)), hsl(var(--fg-non-essential)));
    background-position: bottom center;
    background-repeat  : no-repeat;
    background-size    : 75% 1px;
  }
}

.sidebar__heading {
  margin        : 0;
  font-family   : var(--font-sans);
  text-transform: uppercase;
  font-weight   : normal;
  font-size     : 1rem;
  padding-block : var(--space);
}

.sidebar__title {
  margin     : 0;
  font-size  : var(--type-size-5);
  font-family: var(--font-sans);
}

.article__image {
  width          : 100%;
  border-radius  : var(--radius-3);
  height         : 25ch;
  object-fit     : cover;
  object-position: center;
  margin-bottom  : var(--space-l);
}

.article__body {
  display              : grid;
  gap                  : var(--space);
  grid-template-columns: min(65ch, 100%);
  justify-content      : center;

  &>* {
    margin-block: 0;

    @media (max-width: 1419px) {
      grid-column: 2/3;
    }
  }

  @media (min-width: 1420px) {
    grid-auto-rows       : min-content;
    grid-template-columns: 1fr min(65ch, 100%) 1fr;

    &>* {
      grid-column: 2/3;
    }

    &>div>p:first-of-type {
      margin-block-start: 0;
    }

    .qna {
      display              : grid;
      grid-template-columns: subgrid;
      grid-column          : 1/-1;
    }
  }

  dl dd+dt {
    margin-block-start: var(--space);
  }

  h1 {
    font-size: clamp(var(--type-size-4), 9vw, var(--type-size-1));
  }

  iframe {
    width: 100%;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend .responsive;
    align-items            : center;
    display                : flex;
    flex-wrap              : wrap;
    font-variation-settings: 'wght'500, 'SOFT'100, 'WONK'100, 'opsz'60;
    gap                    : var(--space-xs);
    padding-inline-end     : var(--space-xl);
    position               : relative;

    &:not(:first-child) {
      margin-top: 1ch;
    }

    .header-anchor {
      align-items    : center;
      border-radius  : var(--radius-1);
      display        : flex;
      flex-basis     : 3ch;
      font-size      : var(--type-size);
      gap            : 1ch;
      justify-content: center;
      position       : absolute;
      right          : 0;
      text-align     : center;
      text-decoration: none;
      top            : 50%;
      transform      : translateY(-50%);
      width          : min-content;

      &:focus-visible {
        background    : transparent;
        outline-offset: 0.25ch;
        outline-width : 3px;
      }

      &::before {
        --margin             : 100%;
        -webkit-mask-image   : linear-gradient(to right, black 50%, transparent 50%);
        -webkit-mask-position: calc(-1 * var(--margin));
        -webkit-mask-repeat  : no-repeat;
        -webkit-mask-size    : 200%;
        background-color     : hsl(var(--bg-secondary));
        border-radius        : var(--radius-2);
        content              : attr(aria-label);
        font-family          : var(--font-sans);
        mask-image           : linear-gradient(to right, black 50%, transparent 50%);
        mask-position        : calc(-1 * var(--margin));
        mask-repeat          : no-repeat;
        mask-size            : 200%;
        padding-block        : var(--space-xxs);
        padding-inline       : var(--space-s);
        transition           : mask-position 200ms, -webkit-mask-position 200ms;
        white-space          : nowrap;
      }

      &:focus-visible::before,
      &:hover::before {
        --margin: 0;
      }
    }
  }

  .cp_embed_wrapper {
    border: 1px solid hsl(var(--fg-non-essential));
  }

  pre[class^=language]+:is(pre[class^=language], .cp_embed_wrapper) {
    margin-block-start: calc(-1 * var(--space));
    border-block-start: none;
  }

  p {
    -moz-hyphens   : auto;
    -ms-hyphens    : auto;
    -o-hyphens     : auto;
    -webkit-hyphens: auto;
    hyphens        : auto;
  }
}

.article__body,
.article__header {
  width        : min(120ch, 95%);
  margin-inline: auto;
}

.article__header {
  margin-bottom: var(--space-xxl);
}

.article__logo {
  width: min(25ch, 100%);
}

.article__body>figure {
  /* grid-column: 1/-1; */
}

.article__body>blockquote {
  font-size  : clamp(1.75rem, 5vw, 2.5rem);
  font-weight: 250;
  line-height: 1.2;
  position   : relative;
  text-align : center;

  cite,
  address {
    display    : block;
    font-family: var(--font-sans);
    font-size  : 1rem;
    font-style : normal;
    font-weight: 400;
    margin-top : 1ch;
  }
}

figure.image {
  align-items   : center;
  display       : flex;
  flex-direction: column;
  gap           : 1ch;

  img,
  video {
    flex: 1;
  }

  figcaption {
    font-family  : var(--font-sans);
    font-size    : 0.9rem;
    width        : min(65ch, 100%);
    margin-inline: auto;
    text-align   : center;
  }
}

.literature__body {
  &>* {
    width        : min(var(--body-width, 65ch), 90%);
    margin-inline: auto;


    &+* {
      margin-block-start: var(--space-xl);
    }
  }

  ruby {
    line-height: 2.5;
  }
}

.article__scroller {
  grid-column   : 1/2;
  grid-row-start: 1;
  grid-row-end  : 2;

  @media (min-width: 1420px) {
    grid-row-end: var(--row-end);
  }
}

.article__toc,
.article__sidebar {
  --sidebar-width : 20ch;
  border-block    : 2px solid hsl(var(--fg-non-essential));
  border-radius   : 0;
  background-color: transparent;
  height          : fit-content;
  margin-inline   : auto;
  margin-block-end: var(--space);

  dl {
    margin-top: 1ch;
  }
}

.article__toc::before {
  content: 'Contents';
}

.article__toc::before,
.article__sidebar__title {
  display                : block;
  font-family            : var(--font-sans);
  font-weight            : bold;
  font-variation-settings: 'wght'600;
  font-size              : inherit;
  letter-spacing         : 2px;
  margin-top             : 1ch;
  text-transform         : uppercase;
}

.article__sidebar__title {
  margin-bottom: 0;
}

details {
  summary.article__sidebar__title {
    display        : flex;
    gap            : 1ch;
    justify-content: space-between;
    align-items    : center;
    cursor         : pointer;

    &::after {
      content    : '▼';
      font-size  : 1ch;
      font-family: var(--font-mono);
    }
  }

  &[open] summary.article__sidebar__title {
    &::after {
      content: '▲';
    }
  }
}

.article__toc a {
  display        : inline-block;
  font-family    : var(--font-sans);
  line-height    : 1.2;
  margin-bottom  : 0.8ch;
  text-decoration: none;

  &:hover {
    text-decoration: underline
  }
}

.article__toc ol {
  padding      : 0;
  width        : min(100%, 65ch);
  margin-inline: auto;
}

.article__toc li::marker {
  content: "";
}

.with-sidebar .article__body {
  grid-template-columns: 0fr min(65ch, 93%) 0fr;
}

.footnotes-sep {
  display: none;
}

.gallery__body {
  display       : grid;
  gap           : var(--space-xxxl);
  container-type: inline-size;
  container-name: gallery;

  .gallery {
    &-grid {
      --columns            : 1;
      --width              : min(120ch, 98%);
      display              : grid;
      grid-auto-flow       : dense;
      grid-auto-rows       : calc(var(--width) / var(--columns));
      grid-template-columns: repeat(var(--columns), 1fr);
      height               : min-content;
      margin-inline        : auto;
      width                : var(--width);

      @container (width > 50ch) {
        --columns: 2;
      }

      @container (width > 75ch) {
        --columns: 3;
      }
    }

    &-card {
      grid-row  : span var(--row-span);
      height    : 100%;
      --row-span: 2;

      &__link {
        display : flex;
        overflow: hidden;
      }

      img {
        width          : 100%;
        height         : 100%;
        object-fit     : cover;
        object-position: var(--img-object-position, center);
      }
    }
  }

  .statement {
    --column-width         : calc((var(--content-width) / 5) * 2);
    --margin-factor        : 5;
    font-family            : var(--font-serif);
    font-variation-settings: "wght"350, "WONK"0, "SOFT"100;
    gap                    : var(--space-xxl);
    margin-block           : calc(var(--space-xxxl) * var(--margin-factor));
    margin-inline          : auto;
    orphans                : 3;
    text-align             : justify;
    widows                 : 3;
    width                  : min(calc(var(--column-width) * 3), 98%);

    &::after,
    &::before {
      content            : '';
      background-image   : url("data:image/svg+xml,%3Csvg width='408' height='23' viewBox='0 0 408 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M178.484 11.5L203.984 2L229.484 11.5L203.984 21L178.484 11.5Z' fill='black'/%3E%3Cpath d='M0.314453 12.122H150.044L156.264 5.9024L162.484 12.122L157.508 17.0976L154.398 13.9878M407.653 12.122H257.923L251.703 5.9024L245.484 12.122L250.459 17.0976L253.569 13.9878M178.484 11.5L203.984 2L229.484 11.5L203.984 21L178.484 11.5Z' stroke='black' stroke-width='2.48782'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat  : no-repeat;
      background-size    : auto 100%;
      display            : block;
      height             : 1ch;
      margin-inline      : auto;
      width              : 100%;
    }

    &::before {
      margin-block-start: calc(var(--space-xxxl) * calc(var(--margin-factor)) / -2);
      margin-block-end  : calc(var(--space-xxxl) * calc(var(--margin-factor)) / 2);
    }

    &::after {
      margin-block-start: calc(var(--space-xxxl) * calc(var(--margin-factor)) / 2);
      margin-block-end  : calc(var(--space-xxxl) * calc(var(--margin-factor)) / -2);
    }

    &:first-child {
      margin-block-start: 0;

      &::before {
        margin-block-start: 0;
      }
    }

    *+* {
      margin-block-start: var(--space);
    }

    :is(p, ul, ol):first-child {
      margin-block-start: 0;
    }

    /* &:first-child {
      margin-block-start: 0;
    } */
  }
}

.sidenote,
.callout {

  @media screen and (min-width: 1420px) {
    grid-column: -1/-2;
    grid-row   : span 10;
    align-self : start;
  }

}

.article__body {
  counter-reset: footnote;
  counter-set  : footnoteref 1;
}

.sidenote {
  align-items      : start;
  counter-increment: footnote;
  display          : flex;
  font-family      : var(--font-sans);
  font-size        : var(--type-size-6);
  gap              : 1ch;
  margin-block     : var(--space-l);
  margin-inline    : auto;
  width            : 95%;

  p,
  ul,
  ol,
  dl {
    margin: 0;
  }

  .footnote-ref {
    counter-increment: footnoteref;
  }
}

.footnote-ref {
  color                  : hsl(var(--primary-500));
  font-family            : var(--font-serif);
  font-size              : var(--type-size-5);
  font-variation-settings: "wght"900;
  font-weight            : bold;
  line-height            : 1;
  margin-inline-end      : 0.5ch;
  position               : relative;
  text-decoration        : none;
  top                    : -0.5ch;
}

.footnote-ref {
  border-radius: var(--ideal-radius);

  &::before {
    content: attr(data-refcount);
  }

  &:focus-visible {
    background    : transparent;
    outline-offset: 5px;
    outline-width : 3px;
  }

  @at-root .sidenote & {
    margin-inline-end: 0;
    position         : static;

    &::before {
      content: counter(footnote);
    }
  }
}

@counter-style sidenote-counter {
  system  : symbolic;
  suffix  : ' ';
  speak-as: bullets;
  symbols : '*''†''‡''#''§''‖''¶';
}

.article__sidebar {
  position: static;

  @media (min-width: 1420px) {
    grid-column: 1/2;
    grid-row   : 1/span 10;
    position   : sticky;
    top        : calc(var(--space-xxxl) * 2);
  }
}

.article {
  &__title {
    font-variation-settings: 'wght'500, 'SOFT'100, 'WONK'100, 'opsz'60;
  }

  .p-summary {
    font-variation-settings: 'SOFT'100, 'WONK'1, 'opsz'100, 'wght'370;
  }
}

.floated-image {
  float        : var(--float, left);
  margin-top   : 4ch;
  position     : relative;
  shape-margin : 1ch;
  shape-outside: var(--shape-outside);
  width        : min(45ch, 50%);
  z-index      : 5;
}

.qna {
  h3 {
    font-size              : var(--type-size-5);
    font-family            : var(--font-sans);
    font-weight            : 700;
    font-variation-settings: "wght"700;
    margin-block-start     : 3em;
    margin-block-end       : 0;

    &+* {
      margin-block-start: 0;
    }
  }

  & :not(.qna__banner) {
    grid-column: 2/3;
  }

  &__banner {
    --c-width    : min(120ch, 100%);
    display      : flex;
    grid-column  : 1/-1;
    margin-inline: calc((var(--c-width) - 100vw) / 2);
    margin-block : calc(var(--space-xxxl) * 2);
    width        : 100vw;

    @media screen and (min-width: 690px) {}

    img {
      flex-grow: 1;
    }
  }
}

.poetry {
  &:is(table) {
    border-collapse: collapse;

    tr {
      border-radius: var(--radius-2);
      margin       : 0;
      transition   : background 200ms;

      td {
        padding: var(--space-xxxs) var(--space-s);
      }

      @media screen and (max-width: 890px) {
        display         : grid;
        gap             : var(--space-xxs);
        padding         : var(--space-xxxs) var(--space-s);
        margin-block-end: var(--space);

        td {
          padding      : 0;
          border-radius: 0;
        }
      }
    }

    thead {
      font-family            : var(--font-sans);
      font-size              : var(--type-size-6);
      font-variation-settings: 'wght'700;
      font-weight            : 700;
      text-transform         : uppercase;

      th {
        padding-block-end: var(--space);
      }

      @media screen and (max-width: 890px) {
        display: none;
      }
    }

    tbody {
      tr:not(:has(td[colspan])):hover {
        background-color: hsl(var(--bg-secondary));
      }
    }

    td {
      font-family: var(--font-sans);

      &[colspan="2"] {
        &::before {
          content: '';
          display: block;
          height : 1rem;
        }
      }

      &[lang=en] {
        font-size: var(--type-size-6);
      }

      &:first-child {
        border-top-left-radius   : var(--radius-2);
        border-bottom-left-radius: var(--radius-2);
        font-weight              : 700;
        font-variation-settings  : 'wght'700;
      }

      &:last-child {
        border-top-right-radius   : var(--radius-2);
        border-bottom-right-radius: var(--radius-2);
      }

      &:has(ruby) {
        margin-block-start: var(--space-xxs);
      }
    }

    ruby {
      margin-inline-end: var(--space-xxs);
      font-size        : var(--type-size-6);
    }

    rt {
      font-family: var(--font-sans);
      font-size  : var(--type-size-7);
    }

  }
}

.article__body.gallery__body {
  font-family: var(--font-sans);
  margin-block-end: var(--space-xxl);
}