.featured-post-banner {
  --width   : min(100ch, 90%);
  margin    : var(--space) var(--space-xl);
  transition: opacity 200ms;

  .post-card {
    height: 40ch;
  }

  @media (min-width: 700px) {
    background-color: var(--theme-color);
    margin          : 0;

    .post-card {
      border-radius: 0;
      height       : 25ch;

      &__body {
        padding-inline: calc((100vw - var(--width)) / 2);
      }

      &:hover {
        box-shadow: none;
        transform : none
      }
    }

    &:not(.reversed) {
      .post-card__body {
        padding-inline-start: 0;
      }
    }

    &.reversed {

      .post-card {
        &__body {
          padding-inline-end: 0;
        }

        &::before {
          transform: rotate(180deg)
        }

        &::before,
        &__image {
          grid-column: -1/-2;
        }

        &__image {
          --mask-image: linear-gradient(to left, black, transparent 90%);

          img {
            --img-object-position: right bottom;
          }
        }

        &__body {
          grid-column: 1/2;
        }
      }
    }

  }
}

.featured-post--focus-wrapper:focus-within .featured-post-banner:not(:focus-within) {
  opacity: 0.25;
}

.banner--literature {
  align-content        : end;
  display              : grid;
  grid-template-columns: minmax(2ch, 1fr) 50fr minmax(2ch, 1fr);
  grid-template-rows   : minmax(15ch, 1fr) repeat(3, auto) 3ch;
  justify-content      : end;
  text-align           : end;

  &>* {
    grid-column: 2/3;
    z-index    : 3;
  }

  .banner {
    &__image {
      aspect-ratio: 1920/506;
      filter      : brightness(20%);
      grid-column : 1/4;
      grid-row    : 1/6;
      height      : 100%;
      width       : 100%;
      object-fit  : cover;
      z-index     : 1;
    }

    &__title {
      font-size         : clamp(var(--type-size-4), 10vw + 1rem, var(--type-size-1));
      grid-row          : 3/4;
      margin            : 0;
      margin-block-start: 1rem;
      text-shadow       : 0 1px 1px rgba(0, 0, 0, 0.3333333333), 0 1px 2px rgba(0, 0, 0, 0.0666666667), 0 2px 4px rgba(0, 0, 0, 0.0666666667), 0 4px 8px rgba(0, 0, 0, 0.0666666667), 0 8px 16px rgba(0, 0, 0, 0.0666666667);

      a {
        text-decoration: none;
      }
    }
  }

  &.banner--gallery {
    .banner__image {
      aspect-ratio: 2560/978;
      filter      : brightness(110%);
    }
  }

  &[style*='--theme-color'] {
    &::after {
      content    : '';
      grid-column: 1/-1;
      grid-row   : 1/-1;
      background : radial-gradient(circle at right, hsl(var(--theme-color-hsl)/100%) 20%, hsl(var(--theme-color-hsl)/0%));
      z-index    : 2;
    }

    .banner {
      &__image {
        filter: none;
      }
    }
  }

  .category-pill__inner.category-pill__category {
    grid-row    : 2/3;
    align-self  : end;
    justify-self: end;
  }

  .cluster {
    grid-row: 4/5;
  }
}