.image-grid {
  --gap       : 1ch;
  --size      : 25ch;
  column-width: var(--size);
  gap         : var(--gap);

  &__link {
    display         : flex;
    flex-direction  : column;
    margin-block-end: var(--gap);
  }

  &__image {
    height    : 100%;
    object-fit: cover;
  }
}