.talks-grid {
  grid-template-columns: repeat(auto-fill, minmax(25ch, 1fr));
  display              : grid;
  gap                  : 2ch;
}

.talk-card {
  display              : grid;
  flex-direction       : column;
  gap                  : 0;
  font-family          : var(--font-sans);
  grid-template-columns: min-content 1fr;
  column-gap           : 1ch;
  text-decoration      : none;

  &:hover {
    color: hsl(var(--fg-default));

    .talk-card__title {
      color: hsl(var(--primary-700));
    }
  }

  &>* {
    margin     : 0;
    grid-column: 2;

    &:empty {
      display: none;
    }
  }

  &::before {
    content    : attr(data-index) ".";
    grid-column: 1/2;
    font-weight: bold;
    color      : hsl(var(--primary-700));
  }

  &__title {
    font-family: inherit;
    font-size  : var(--type-size-5);
    font-weight: bold;
    margin     : 0;
    padding    : 0;
    color      : inherit;

    &.upcoming::after {
      content         : 'Upcoming';
      font-size       : 0.9ch;
      font-weight     : bold;
      text-transform  : uppercase;
      padding         : 0.3ch 1ch;
      margin-inline   : 1ch;
      background-color: hsl(var(--success-300) / 25%);
      color           : hsl(var(--success-900));
      border-radius   : 6px;
    }
  }

  &__time,
  &__location {
    display    : flex;
    gap        : 0.5ch;
    align-items: center;
    opacity    : 0.75;
  }
}