.footer {
  display         : flex;
  flex-direction  : column;
  gap             : 0;
  margin          : 0;
  background-color: hsl(var(--bg-secondary));
  color           : hsl(var(--fg-default));
  z-index: 10;

  &__header {
    background-color: hsl(var(--fg-default) / 5%);
    display         : flex;
    flex-wrap       : wrap;
    column-gap      : 1ch;
    justify-content : space-between;
    padding         : var(--space);

    p {
      margin: 0;
    }
  }

  &__body {
    display  : flex;
    gap      : var(--space-l);
    flex-wrap: wrap;
  }

  &__section {
    padding       : var(--space-xl) var(--space);
    display       : flex;
    flex-direction: column;
    gap           : 1ch;
    flex          : 1 0 25ch;

    &-title {
      margin        : 0;
      font-size     : var(--type-size-6);
      text-transform: uppercase;
      font-family   : var(--font-sans);
    }
  }
}