/* MAX-WIDTHS */
$mobile: 670px;
$tablet: 1080px;

/* MAX-HEIGHTS */
$h-small: 650px;

.hero {
  --banner-bg-1: 351 100% 66%;
  --banner-bg-2: 354 80% 57%;
  --banner-bg-3: 358 73% 44%;
  --banner-fg-1: 0 0% 100%;
  --top-offset : -7.5rem;

  background-color   : hsl(var(--banner-bg-1));
  display            : grid;
  margin-block-start : var(--top-offset);
  min-height         : max(100vh, 35ch);
  overflow           : hidden;
  padding-block-start: calc(-1 * var(--top-offset));
  position           : relative;
  z-index            : 10;

  &__inner {
    display      : grid;
    margin-inline: auto;
    width        : min(var(--page-width), 95%);

    &::before {
      content         : '';
      aspect-ratio    : 1/1;
      background-color: hsl(var(--banner-bg-3));
      border-radius   : 100%;
      filter          : blur(72ch);
      height          : auto;
      left            : 50%;
      position        : absolute;
      translate       : -50%;
      width           : 100%;

      @media (min-width: ($tablet + 1)) {
        height: 100%;
        width : auto;
      }
    }

    &>* {
      grid-row   : 1/2;
      grid-column: 1/2;
      margin     : 0;
      width      : 100%;
      height     : 100%;
      z-index    : 3;
    }
  }

  &__title {
    z-index: 1;

    @media (min-width: ($mobile + 1)) and (max-width: ($tablet - 1)) {
      z-index: 3;
    }

    svg {
      width : 100%;
      height: auto;
    }
  }

  &__image {
    bottom         : 0;
    height         : calc(100% + var(--top-offset));
    left           : 0;
    object-fit     : cover;
    object-position: top;
    position       : absolute;
    right          : 0;
    width          : 100%;
    z-index        : 2;

    @media (min-width: ($mobile + 1)) {
      height         : 100%;
      object-position: center;
      width          : 100%;
    }

    @media (min-width: ($tablet + 1)) {
      height       : calc(100% + var(--top-offset));
      margin-inline: auto;
      width        : auto;
    }
  }

  &__body {
    display           : grid;
    grid-template-rows: 1fr auto;
    padding-block-end : var(--space);

    .hero__baybayin,
    .hero__captionlist {
      grid-row   : 1/2;
      grid-column: 1/2;

      @media (max-height: $h-small) {
        display: none;
      }
    }

    .hero__actions {
      grid-row: 2/3;
    }
  }

  &__captionlist {
    display              : grid;
    grid-template-columns: 1fr 2ch 1fr;
    grid-template-rows   : min-content 5fr min-content 2fr min-content;
    justify-content      : stretch;
    margin-top           : calc(var(--top-offset) * -0.15);
    position             : relative;

    @media (min-width: ($mobile + 1)) {
      grid-template-columns: auto 1ch auto 1ch auto;
      grid-template-rows   : auto 1ch auto 1ch auto;
      align-content        : center;
      justify-content      : center;
    }

    @media (min-width: ($tablet + 1)) {
      grid-template-columns: 3fr minmax(1ch, 1.5fr) 3fr;
      grid-template-rows   : 1fr auto minmax(1ch, 2fr) auto minmax(1ch, 3fr) auto 1fr;
    }
  }

  &__caption {
    backdrop-filter : blur(1ch);
    background-color: hsl(var(--banner-bg-3) / 20%);
    border-radius   : var(--radius-5);
    display         : flex;
    flex-direction  : column;
    font-family     : var(--font-sans);
    font-size       : var(--type-size-6);
    gap             : 0;
    padding         : var(--space-s);
    text-transform  : uppercase;

    &:first-child {
      grid-row   : 1/2;
      grid-column: 1/3;

      @media (min-width: ($mobile + 1)) {
        grid-column: 1/2;
        grid-row   : 1/2;
      }

      @media (min-width: ($tablet + 1)) {
        align-items : end;
        grid-row    : 2/3;
        justify-self: end;
      }
    }

    &:nth-child(2) {
      grid-column: 1/2;
      grid-row   : 3/4;

      @media (min-width: ($mobile + 1)) {
        grid-column: 3/4;
      }

      @media (min-width: ($tablet + 1)) {
        grid-row    : 4/5;
        justify-self: start;
      }
    }

    &:nth-child(3) {
      grid-row   : 5/6;
      grid-column: 3/4;

      @media (min-width: ($mobile + 1)) {
        grid-column: 5/6;
      }

      @media (min-width: ($tablet + 1)) {
        grid-column : 1/2;
        grid-row    : 6/7;
        justify-self: end;
        align-items : end;
      }
    }

    dt {
      font-weight            : bold;
      font-variation-settings: 'wght'700;
    }

    dd {
      margin: 0;
    }
  }

  &__actions {
    backdrop-filter : blur(1ch);
    background-color: hsl(var(--fg-contrast) / 15%);
    border-radius   : var(--radius-5);
    display         : flex;
    flex-wrap       : wrap;
    gap             : var(--space-xs);
    padding         : var(--space-xs);

    @media (min-width: ($mobile + 1)) {
      max-width    : 35ch;
      margin-inline: auto;
    }

    .button {
      flex: 1 1 auto;
    }
  }

  &__baybayin {
    display       : none;
    pointer-events: none;

    @media (min-width: ($tablet + 1)) {
      align-content        : center;
      display              : grid;
      grid-template-columns: auto 1fr auto 5ch auto;
      grid-template-rows   : 2fr auto 1fr auto 1fr auto 3fr;
      justify-content      : center;
      z-index              : 2;

      .animated,
      .animated-fallback {
        display              : grid;
        grid-column          : 1/-1;
        grid-row             : 1/-1;
        grid-template-columns: inherit;
        grid-template-rows   : inherit;
      }
    }

    .term {
      font-size     : var(--type-size-6);
      font-style    : normal;
      font-family   : var(--font-sans);
      text-transform: uppercase;
      pointer-events: all;

      &:first-child {
        grid-row   : 2/3;
        grid-column: 3/4;
      }

      &:nth-child(2) {
        grid-column: 1/2;
        grid-row   : 4/5;
      }

      &:nth-child(3) {
        grid-column: 5/6;
        grid-row   : 6/7;
      }

      &:is(button) {
        border          : none;
        background-color: transparent;
        cursor          : pointer;
        position        : relative;

        &[aria-pressed="true"] .term__baybayin,
        &[aria-pressed="false"] .term__latin {
          span {
            opacity  : 0;
            transform: translateY(var(--translate));
          }
        }

        .term {

          &__hidden {
            opacity: 0;
          }

          &__baybayin,
          &__latin {
            font-style : normal;
            left       : 50%;
            position   : absolute;
            top        : 50%;
            translate  : -50% -50%;
            white-space: nowrap;

            span {
              transition     : opacity 200ms, transform 200ms;
              display        : inline-block;
              --default-delay: 15ms;
              $n-children    : 20;

              @for $i from 2 through $n-children {
                &:nth-child(#{$i}) {
                  transition-delay: calc(var(--default-delay) * $i);
                }
              }

              &:empty::before {
                content: ' ';
                display: inline-block;
                width  : 0.5ch;
              }
            }
          }

          &__baybayin {
            --translate: -100%;
          }

          &__latin {
            --translate: 100%;
          }
        }
      }
    }
  }
}

@at-root .no-js .animated,
body:not(.no-js) .animated-fallback {
  display: none;
}