.page {

  &__inner,
  &__header {
    padding-block: var(--space-xl);
    width        : min(100ch, 90%);
    margin-inline: auto;
  }

  &__cover {
    @extend .dark;

    --offset           : calc(-5.7rem - 10vh);
    align-content      : end;
    background-color   : #d82b3b;
    background-position: top right;
    background-repeat  : no-repeat;
    background-size    : cover;
    display            : grid;
    justify-content    : start;
    margin-block-start : var(--offset);
    min-height         : 50ch;

    @media (min-width: 920px) {
      background-image     : var(--page-cover-image);
      grid-template-columns: 1fr min(90%, 100ch) 1fr;
    }

    [data-baybayin]::after {
      mix-blend-mode: multiply;
      color         : hsl(var(--primary-500)) !important;
    }
  }

  &__header {
    display       : flex;
    flex-direction: column;
    grid-column   : 2/3;
    margin-inline : auto;
    margin-bottom : var(--space-xl);

    @media (min-width: 920px) {
      margin: 0;
      width : 100%;
    }

    &.no-section {
      margin-block : var(--space-xxl);
      margin-inline: auto;
      width        : min(100ch, 90%);
    }
  }
}