{% set sizes = sizes if sizes else 
  [700, 980, 1000, 1280] %}
{% set formats = formats if formats else 
  ['png', 'avif', 'webp'] %}
{% set cdnUrl = site.api.images %}

{% set sizesAttr %}
{% for size in sizes %}
    (max-width: {{ size }}px) {{ size }}px{{ ", " if not loop.last }}
{% endfor %}
{% endset %}

{% if thumbnail == null %}
  {% set defaultImageSource = cdnUrl + filename %}
{% else %}
  {% set defaultImageSource = thumbnail %}
{% endif %}
{% set thumbnailSize = width / 4 %}
{% set thumbnail = cdnUrl + 'tr:w-1,h-1:w-' + width + ',h-' + height + ',bl-5' + filename %}

<picture>
  {% for format in formats | reverse %}
    {% set srcset %}
    {% for size in sizes %}
      {{ cdnUrl }}tr:f-{{ format }},w-{{ size }}{{ filename }}
      {{ size }}w{{ ',' if not loop.last }}
    {% endfor %}
    {% endset %}

    <source
      srcset="{{ srcset }}"
      type="image/{{ format }}"
      sizes="{{ sizesAttr }}"
      width="{{ width }}"
      height="{{ height }}"
    >
  {% endfor %}

  {% set styles %}
    {% if focus %}
      object-position: {{ focus }};
    {% endif %}
  {% endset %}

  <img 
      {% if hasThumbnail %}style="--thumbnail: url({{ thumbnail }})"{% endif %}
      src="{{ defaultImageSource }}" alt="{{ alt }}"
      class="{{ defaultImageClass }}"
      width="{{ width }}"
      height="{{ height }}"
      loading="lazy"
      style="{{ styles }}">
</picture>