<div class="modal" id="modal__email" hidden aria-labelledby="heading-contact-form">
  <div class="modal__backdrop" data-dialog-hide></div>
  <div class="modal__content">
    <div class="modal__header">
      <h2 class="modal__title" id="heading-contact-form">Contact Form</h2>
      <button class="icon-only button" style="padding: var(--space-m)" data-dialog-hide>
        {{ 'x' | icon }}
        <span class="sr-only">Close dialog</span>
      </button>
    </div>
    <form id="frm-email" action="{{ site.api.email }}" class="modal__body form" method="POST">
      <div class="form-group">
        <input placeholder=" " class="form-control" type="text" name="name" id="frm-email__name" aria-describedby="frm-address__message-comment" required
          aria-describedby="frm-name__message-status">
        <label for="frm-email__name" class="form-label">Your Name</label>
        <p class="form-comment" id="frm-name__message-comment">So I know how to address you in my reply.</p>
        <p class="form-status" id="frm-email__name-status">This field cannot be empty</p>
      </div>
      <div class="form-group">
        <input placeholder=" " class="form-control" type="email" name="email" id="frm-email__email" aria-describedby="frm-address__message-comment" required />
        <label for="frm-email__email" class="form-label">Your Email</label>
        <p class="form-comment" id="frm-address__message-comment">So I can reply to your message.</p>
      </div>
    <div class="form-group">
      <textarea placeholder=" " class="form-control" name="message" id="frm-email__message" aria-describedby="frm-email__message-description" required></textarea>
        <label for="frm-email__message" class="form-label">Message</label>
      <p class="form-comment" id="frm-email__message-comment">Why are you reaching out? Is it an interesting project you want to build? Or do you want to invite me as a guest speaker?</p>
      <p class="form-status" id="frm-email__message-description">This field cannot be empty</p>
    </div>
  </form>
  <div class="modal__footer">
    <div class="modal__footer-section">
      <p style="white-space: nowrap" class="form-comment text-align--right">All fields are required</p>
      <button form="frm-email" type="button" data-dialog-hide class="button">Cancel</button>
      <button form="frm-email" type="submit" class="primary button">Send</button>
    </div>
  </div>
</div>
</div>