<footer class="footer" id="main-footer">
  <div class="footer__header font-sans">
    <p>&copy; {{ "" | year }} Francis Rubio. All rights reserved.</p>
    <p>Powered by <a href="https://11ty.dev">Eleventy</a> and <a href="https://netlify.com">Netlify</a>.</p>
  </div>
  <div class="footer__body">
    <div class="footer__section">
      <div class="cluster ai--center gap--m">
        {% set logoClass = 'logo--large' %}
        {% include "components/logo.njk" %}
        <h2 class="responsive fs-4 font-sans weight-700 fg-primary-900" style="margin: 0;">Francis Rubio</h2>
      </div>
      <p style="margin: 0; font-family: var(--font-sans);">Web designer, developer, and educator from the Philippines.</p>
    </div>
    <div class="footer__section" id="footer-contact">
      <h2 class="footer__section-title">Contact Me</h2>
      <ul class="button-list">
        {% for item in site.contact | notHidden %}
          <li class="button-list__item">
            <a href="{{ item.url }}" class="button button--small">{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="footer__section" id="footer-press-kit">
      <h2 class="footer__section-title">Links</h2>
      <ul class="button-list">
        <li class="button-list__item">
          <a href="/speaking/information-for-event-organizers/" class="button button--small">For event organizers</a>
        </li>
        <li class="button-list__item">
          <a href="/press-kit/" class="button button--small">Press kit</a>
        </li>
        <li class="button-list__item">
          <a href="https://webring.antaresph.dev/" target="_blank" rel="noopener" class="button button--small">Pinoy Bloggers</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<div>
  <a href="#top" class="primary button go-to-top" style="z-index: 9; position: fixed;bottom: 1rem;right: 1rem;margin-inline-start: auto;display: flex;margin-block-end: 1rem;margin-inline-end: 1rem; font-size: var(--type-size-6)">
    {% set feathericon = 'arrow-up' %}
    {% include 'components/feathericon.njk' %}
    <span class="sr-only">Back to top</span>
  </a>
</div>
{% set domain = site.domains | selectattr('isPreferred') | first %}
<div class="h-card hidden">
  <span class="p-name">Francis Rubio</span>
  <span class="p-given-name">Francis</span>
  <span class="p-family-name">Rubio</span>
  <span class="p-nickname">teacherbuknoy</span>
  <div class="p-org">Antares Programming</div>
  <div class="p-job-title">Software Developer</div>
  <img alt="Francis Rubio" class="u-photo" src="{{ site.photo }}"/>
  <a class="u-url" rel="me" href="{{ domain.value }}">{{ domain.value }}</a>,
  <a class="u-email" href="{{ site.contact.email.url }}">{{ site.contact.email.identifier }}</a>
  <div class="p-tel">{{ site.contact.phone.identifier }}</div>
  <span class="p-locality">Metro Manila</span>,
  <div class="p-country-name">Philippines</div>
  <time class="dt-bday">1999-01-13</time>
  <div class="p-note">Creator of Antares Programming</div>
</div>