<footer class="padding--m bg--secondary spaced cluster">
  <p><small>&copy; 2022 Francis Rubio</small></p>
  <p><small>Powered by <a href="https://11ty.dev/" target="_blank" rel="noreferer">Eleventy</a></small></p>
</footer>