<a href="#top" class="primary button go-to-top" style="position: sticky;bottom: 1rem;right: 1rem;margin-inline-start: auto;display: flex;margin-block-end: 1rem;margin-inline-end: 1rem;">
  {% set feathericon = 'arrow-up' %}
  {% include 'components/feathericon.njk' %}
  <span class="sr-only">Back to top</span>
</a>
<footer class="padding--m bg--secondary spaced cluster">
  <p><small>&copy; 2022 Francis Rubio</small></p>
  <p><small>Powered by <a href="https://11ty.dev/" target="_blank" rel="noreferer">Eleventy</a></small></p>
</footer>