{% set gallery = item.data %}
{% set cover = gallery.entries[0] %}
{% set sizes = gallery.sizes %}
{% set formats = gallery.formats if gallery.formats else gallery.types %}
{% set filename = '/gallery/' + gallery.folder + '/' + cover.key %}
{% set defaultImageClass = "gallery-entry__cover-image" %}
{% set thumbnail = 'tr:w-' + sizes[0] + '/gallery/' + gallery.folder + '/' + cover.key %}
{% set width = cover.width %}
{% set height = cover.height %}
<a href="{{ item.url }}" class="gallery-entry-link">
  <article class="gallery-entry">
    {% include "components/cdn-picture.njk" %}
    <div class="gallery-entry__body">
      <h2 class="gallery-entry__headline">{{ item.data.title | safe }}</h2>
      <p class="gallery-entry__subtitle">{{ item.data.description | safe }}</p>
      <p class="gallery-entry__metadata"><time datetime="{{ item.date | machineReadableDate }}">{{ item.date | humanReadableDate }}</time></p>
    </div>
  </article>
</a>
