{% set gallery = item.data %}

{% if gallery.parts %}
  {% set filename %}gallery/{{ gallery.cover.folder }}/{{ gallery.cover.filename }}{% endset %}
{% else %}
  {% set entries = gallery.entries %}
  {% if entries == null and gallery.enum != null %}
    {% set entries = gallery.enum | enumToGalleryEntry %}
  {% endif %}

  {% set coverIdx = gallery.cover_images.index %}
  {% if coverIdx == null %}
    {% set coverIdx = 0 %}
  {% endif %}

  {% set cover = entries[coverIdx] %}
  {% set sizes = gallery.sizes %}
  {% set formats = gallery.formats if gallery.formats else 
    gallery.types %}
  {% set filename = '/gallery/' + gallery.folder + '/' + cover.key %}
  {% set defaultImageClass = "gallery-entry__cover-image" %}
  {% set imageClass = "gallery-entry__cover-image" %}
  {% set thumbnail = 'tr:w-' + sizes[0] + '/gallery/' + gallery.folder + '/' + cover.key %}
  {% set width = cover.width %}
  {% set height = cover.height %}
{% endif %}

{% set image = {
  imageClass: "gallery-entry__cover-image",
  width: cover.width,
  height: cover.height,
  filename: filename,
  defaultWidth: 400
} %}

<a href="{{ item.url }}" class="gallery-entry-link">
  <article class="gallery-entry">
    {# {% set formats = ['avif', 'webp', 'jpg'] %} #}
    {% set formats = ['avif', 'webp', 'jpg'] %}
    {% set quality = 90 %}
    {% set fixedSize = gallery.cover.fixedSize %}
    <picture>
      {% for format in formats %}
        <source
            type="image/{{ format }}"
            srcset="
              {{ site.api.images }}/tr:w-{{ fixedSize if fixedSize else '360' }},q-{{ quality }},f-{{ format }}/{{ filename }} 300w,
              {{ site.api.images }}/tr:w-{{ fixedSize if fixedSize else '400' }},q-{{ quality }},f-{{ format }}/{{ filename }} 400w,
              {{ site.api.images }}/tr:w-{{ fixedSize if fixedSize else '500' }},q-{{ quality }},f-{{ format }}/{{ filename }} 500w,
              {{ site.api.images }}/tr:w-{{ fixedSize if fixedSize else '710' }},q-{{ quality }},f-{{ format }}/{{ filename }} 710w"
            sizes="
              (max-width: 300px) 300px,
              (max-width: 400px) 400px,
              (max-width: 700px) 700px,
              (min-width: 700px) 400px
            "
          >
      {% endfor %}
      <img src="{{ site.api.images }}/tr:w-400/{{ filename }}"
        alt="{{ cover.alt }}"
        width="{{ cover.width }}"
        height="{{ cover.height }}"
        class="gallery-entry__cover-image">
    </picture>
    <div class="gallery-entry__body">
      <h2 class="gallery-entry__headline">{{ item.data.title | safe }}</h2>
      <p class="gallery-entry__subtitle">{{ item.data.description | safe }}</p>
      <p class="gallery-entry__metadata">
        <time datetime="{{ item.date | machineReadableDate }}">{{ item.date | humanReadableDate }}</time>
      </p>
    </div>
  </article>
</a>