<article class="entry">
  <header class="entry__header">
    {% if entry.in_reply_to_id != null and entry.in_reply_to_account_id !== mastodon.id %}
      {% set replyToLink%}#entry-{{ entry.in_reply_to_id }}{% endset %}
      <span class="entry__reply">In response to <a href="{{ replyToLink | safe }}">this post</a>
      </span>
    {% endif %}

    <div class="entry__profile">
      <div class="profile__header">
        <img src="{{ profile.avatar }}" alt="" class="profile__avatar">
        <b class="profile__name">
          <a href="{{ profile.url | safe }}" target="_blank" class="profile__link no-arrow">
            {{ utils.replaceMastodonEmoji(profile.display_name, profile.emojis) | safe }}
          </a>
        </b>
        <a href="{{ profile.url | safe }}" target="_blank" class="profile__identifier no-arrow">{{ utils.getFederatedUsername(profile.username, profile.url) }}</a>
      </div>
    </div>

    {% if entry.sensitive %}
      <div class="entry__sensitive">
        <button class="button entry__cw-toggle" data-toggle="content-{{ entry.id }}">
          <div class="hide-on-pressed">{{ "eye-off" | icon | safe }}
            <span class="sr-only">Hide content</span></div>
          <div class="hide-on-unpressed">{{ "eye" | icon | safe }}
            <div class="sr-only">Show content</div>
          </div>
        </button>
        <span class="entry__reply">{{ entry.spoiler_text }}</span>
      </div>
    {% endif %}
  </header>
  <section class="entry__body" id="entry-{{ entry.id }}">
    <div class="entry__content" id="content-{{ entry.id }}" {{ 'hidden' if entry.sensitive }}>
      {% if entry.emojis.length > 0 %}
        {{ utils.replaceMastodonEmoji(entry.content, entry.emojis) | safe }}
      {% else %}
        {{ entry.content | safe }}
      {% endif %}
      {% if entry.media_attachments != null and entry.media_attachments.length > 0 %}
        <div class="entry__media">
          {% for media in entry.media_attachments %}
            {% if media.type === 'image' %}
              <a class="entry__media-link" href="{{ media.url }}" target="_blank" rel="noopener">
                <img src="{{ media.url }}" alt="{{ media.description }}" width="{{ media.meta.original.width }}" height="{{ media.meta.original.height }}">
              </a>
            {% elif media.type === 'video' %}
              <video src="{{ media.url }}" 
                aria-label="{{ media.description }}" 
                poster="{{ media.preview_url }}" 
                controls="" 
                width="{{ media.meta.original.width }}" height="{{ media.meta.original.height }}"></video>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
    {% if entry.sensitive %}
      <div class="entry__content-hidden-notice">
        <button class="button entry__cw-toggle" data-toggle="content-{{ entry.id }}">[Show content]</button>
      </div>
    {% endif %}
  </section>
  <footer class="entry__footer">
    <a href="{{ entry.url }}" class="no-arrow entry__post-time" target="_blank" rel="noopener" style="margin-right: auto;">
      <time datetime="{{ entry.created_at }}">{{ utils.humanReadableDate(entry.created_at) }}</time>
    </a>
    <p class="statistic">
      {% set replies = entry.replies_count %}
      <span class="statistic__figure">{{ replies if replies else '0' }}</span>
      <span class="statistic__label">
        {% set feathericon = 'corner-up-left' %}
        {% include "components/feathericon.njk" %}
        <span class="sr-only">Replies</span>
      </span>
    </p>
    <p class="statistic">
      {% set reblog = entry.reblogs_count %}
      <span class="statistic__figure">{{ reblog if reblog else '0' }}</span>
      <span class="statistic__label">
        {% set feathericon = 'repeat' %}
        {% include "components/feathericon.njk" %}
        <span class="sr-only">Reblogs</span>
      </span>
    </p>
    <p class="statistic">
      {% set likes = entry.favourites_count %}
      <span class="statistic__figure">{{ likes if likes else '0' }}</span>
      <span class="statistic__label">
        {% set feathericon = 'star' %}
        {% include "components/feathericon.njk" %}
        <span class="sr-only">Favorites</span>
      </span>
    </p>
  </footer>
  {% if not noreply %}
    {% if entry.replyEntry != null %}
      {% set entry = mastodon.findReply(entry.replyEntry) %}
      {% include "components/mastodon-feed-entry.njk" %}
    {% elif context != null %}
      {% if entryIndex == null %}
        {% set entryIndex = 1 %}
        {# 1 as index of the second post #}
      {% else %}
        {% set entryIndex = entryIndex + 1 %}
        {# 1 as index of the second post #}
      {% endif %}
      {% set entry = context[entryIndex] %}
      {% set length = context | length %}

      {% if entryIndex < length %}
        {% include "components/mastodon-feed-entry.njk" %}
      {% endif %}
    {% endif %}
  {% endif %}
</article>