<a href="#main" class="skip-link">Skip to content</a>
<div class="navigation-bar">
  <button class="navigation-link has-icon--start" data-dialog="nav-menu">
    {% set feathericon = 'menu' %}
    {% include 'components/feathericon.njk' %}
    <span class="navigation-link-text">Menu</span>
  </button>
  <span class="weight-300 fs-6">Francis Rubio</span>
  <div class="cluster gap">
    <button class="navigation-link has-icon--start" data-dialog="search-menu">
      {% set feathericon = 'search' %}
      {% include 'components/feathericon.njk' %}
      <span class="navigation-link-text">Search</span>
    </button>
    <button class="navigation-link" data-dialog="color-scheme">
      {% set feathericon = 'moon' %}
      {% include 'components/feathericon.njk' %}
      <span class="navigation-link-text sr-only">Change color Scheme</span>
    </button>
  </div>
</div>
<div class="navigation-menu" id="nav-menu" aria-label="Navigation menu dialog" hidden>
  <div class="navigation-menu-backdrop" data-dialog-hide aria-hidden="true"></div>
  <nav class="navigation-menu-content" aria-label="Navigation menu">
    <div class="spaced cluster ai--center padding-inline--xxl padding-block--l">
      <span class="weight-300 font-sans">Francis Rubio</span>
      <button class="navigation-link has-icon--start" data-dialog-hide>
        {% set feathericon = 'x' %}
        {% include 'components/feathericon.njk' %}
        <span class="navigation-link-text">Close menu</span>
      </button>
    </div>
    <div class="navigation-menu-items">
      {% for item in navigation %}
        <a href="{{ item.url }}" class="navigation-menu-link" style="--delay-factor: {{ loop.index0 }}">
          {% if item.text %}
            <span class="navigation-menu-link-text">{{ item.text }}</span>
          {% endif %}
          {% if item.feathericon %}
            {% set feathericon = item.feathericon %}
            {% include "components/feathericon.njk" %}
          {% endif %}
          {% if item.label %}
            <span class="navigation-menu-link-label">{{ item.label }}</span>
          {% endif %}
        </a>
      {% endfor %}
    </div>
    <div class="navigation-menu-contact-items"></div>
  </nav>
</div>
<div class="modal" id="search-menu" aria-label="Search control" hidden>
  <div class="modal__backdrop" data-dialog-hide></div>
  <div class="search-control">
    <form name="search" aria-labelledby="search-label" class="search-container search-form">
      <div class="search-form-control">
        <input type="text" name="term" id="term" placeholder=" ">
        <label id="search-label" for="term">Maghanap sa site</label>
      </div>
      <button class="primary button padding--m">
        {% set feathericon = 'search' %}
        {% include "components/feathericon.njk" %}
        <span class="sr-only">Hanapin</span>
      </button>
    </form>
    <ul class="results-container" id="search-results-list"></ul>
    <template id="search-result-listitem-template">
      <li>
        <a class="result-item" href="#!">
          <img data-result="image" class="result-image" alt="">
          <span data-result="title" class="result-title"></span>
          <span data-result="subtitle" class="result-subtitle"></span>
          <time data-result="date" class="result-date" datetime="2021-04-11"></time>
        </a>
      </li>
    </template>
  </div>
</div>
<div class="modal" id="color-scheme" aria-label="dlg-color-scheme-header" hidden>
  <div class="modal__backdrop" data-dialog-hide></div>
  <div class="modal__content">
    <h2 class="sr-only" id="dlg-color-scheme-header">Change website color scheme</h2>
    <form id="form-color-scheme" name="color-scheme" class="padding">
      <fieldset class="fieldset">
        <legend class="font-sans">Select color scheme</legend>

        <div class="cluster gap--l">
          <div class="cluster radio-control">
            <input type="radio" id="colscheme-dark" name="color-scheme" value="dark">
            <label for="colscheme-dark">Dark</label>
          </div>
          <div class="cluster radio-control">
            <input type="radio" id="colscheme-light" name="color-scheme" value="light">
            <label for="colscheme-light">Light</label>
          </div>
          
          <div class="cluster radio-control">
            <input type="radio" id="colscheme-system" name="color-scheme" value="system" checked>
            <label for="colscheme-system">Follow system setting</label>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div data-observer-trigger></div>