<a href="#main" class="skip-link">Skip to content</a>
<nav class="navigation-bar">
  <button class="navigation-link">
    {% set feathericon = 'menu' %}
    {% include 'components/feathericon.njk' %}
    <span>Menu</span>
  </button>
  <span class="weight-300 fs-6">Francis Rubio</span>
  <button class="navigation-link">
    {% set feathericon = 'search' %}
    {% include 'components/feathericon.njk' %}
    <span>Search</span>
  </button>
</nav>
<div data-observer-trigger></div>