{% set sizes = imgconfig.sizes %}
{% set formats = imgconfig.formats %}
{% set path = baseFolder %}
{% if images.path %}
  {% set path = images.path %}
{% elif post.images.path %}
  {% set path = post.images.path %}
{% endif %}
{% set identifier = identifier if identifier else 'cover' %}
{% set width = '600' %}
{% set height = '350' %}

{% set sizesAttr %}
  {% for size in sizes %}(max-width: {{ size }}px) {{ size }}px{{ "," if not loop.last }}{% endfor %}
{% endset %}

{% set sourceElements %}
{% for format in formats %}
  {% set srcset %}{% for size in sizes %}{{ path }}/{{ identifier }}-{{ size }}.{{ format }} {{ size }}w{{ ',' if not loop.last }}{% endfor %}{% endset %}
  
  <source 
    data-format="{{ format }}"
    srcset="{{ srcset }}"
    type="image/{{ format }}"
    width="{{ width }}"
    height="{{ height }}"
    size="{{ sizesAttr | trim }}"
  />
{% endfor %}
{% endset %}

{% set src %}{{ path }}/{{ identifier }}-{{ sizes | first }}.{{ formats | first }}{% endset %}
<picture>
  {{ sourceElements | safe }}
  <img
    src="{{ src }}"
    alt=""
    width="{{ width }}"
    height="{{ height }}"
    class="{{ defaultImageClass }}"
/>
</picture>