<a href="{{ item.url }}" class="product-card">
  <div class="product-card__body">
    <img src="{{ item.data.logo.src }}"
        alt="{{ item.data.logo.alt }}"
        width="{{ item.data.logo.width }}"
        height="{{ item.data.logo.height }}"
        loading="lazy"
        class="product-card__logo">
    <span class="cluster ai--center">
      {% for tag in item.data.tags %}
        {% if loop.index > 1 %}
          <span style="aspect-ratio: 1/1; background-color: hsl(var(--fg-default) / 50%); width: 0.4ch; border-radius: 100%;"></span>
        {% endif %}
        <span class="uppercase fs-7 ls-s font-sans">{{ tag }}</span>
      {% endfor %}
    </span>
    <h{{ cardLevel if cardLevel != null else 3 }}
      class="product-card__title">
      {{ item.data.title | safe }}
    </h{{ cardLevel if cardLevel != null else 3 }}>
    <p class="product-card__description">{{ item.data.description | safe }}</p>
  </div>
</a>