<!-- Primary Meta Tags -->
<meta name="title" content="{{ title if title else site.title }}">
<meta name="description" content="{{ description if description else site.description }}">

{% set domain = site.domains | selectattr('isPreferred') | first %}
<link rel="canonical" href="https://{{ domain.value }}{{ page.url }}">

<link rel="manifest" href="/manifest.webmanifest">
<link rel="icon" href="/favicon.ico" sizes="any">
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">

<link rel="webmention" href="https://webmention.io/francisrubio.antaresph.dev/webmention" />
<link rel="pingback" href="https://webmention.io/francisrubio.antaresph.dev/xmlrpc" />

{% if not fb_image %}
  {% if image %}
    {% set fb_image %}/assets/images{{ image }}{% endset %}
  {% elif cover and cover.src %}
    {% set fb_image %}{{ cover.src }}{% endset %}
  {% endif %}
{% endif %}

{% if not twitter_image %}
  {% if image %}
    {% set twitter_image %}/assets/images{{ image }}{% endset %}
  {% elif cover and cover.src %}
    {% set twitter_image %}{{ cover.src }}{% endset %}
  {% endif %}
{% endif %}

{% if seo.twitter.src %}
  {% set twitter_image %}{{ "/assets/images" if seo.twitter.is_prefixed == null or seo.twitter.is_prefixed == true }}{{ seo.twitter.src }}{% endset %}
{% endif %}

{% if seo.og.src %}
  {% set fb_image %}{{ "/assets/images" if seo.og.is_prefixed == null or seo.og.is_prefixed == true }}{{ seo.og.src }}{% endset %}
{% endif %}

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ page.url if page.url }}">
<meta property="og:title" content="{{ title if title else site.title }}">
<meta property="og:description" content="{{ description if description else site.description }}">
<meta property="og:image" content="{{ site.url }}{{ fb_image if fb_image else site.seo.fb_image }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ site.url }}{{ page.url if page.url }}">
<meta property="twitter:title" content="{{ title if title else site.title }}">
<meta property="twitter:description" content="{{ description if description else site.description }}">
<meta property="twitter:image" content="{{ site.url }}{{ twitter_image if twitter_image else site.seo.twitter_image }}">

<!-- Feeds -->
<link rel="alternate" type="application/rss+xml" title="Blog - by Francis Rubio" href="/blog.xml">
<link rel="alternate" type="application/rss+xml" title="Literature - by Francis Rubio" href="/literature.xml">