<!-- Primary Meta Tags -->
<meta name="title" content="{{ title if title else site.title }}">
<meta name="description" content="{{ description if description else site.description }}">
<meta name="generator" content="Eleventy v2.0.0">

{% set domain = site.domains | selectattr('isPreferred') | first %}
<link rel="canonical" href="https://{{ domain.value }}{{ page.url }}">

<link rel="manifest" href="/manifest.webmanifest">
<link rel="icon" href="/favicon.ico" sizes="any">
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">

<link rel="preconnect" href="{{ site.api.images }}">

<link rel="webmention" href="https://webmention.io/francisrubio.antaresph.dev/webmention"/>
<link rel="pingback" href="https://webmention.io/francisrubio.antaresph.dev/xmlrpc"/>

{% if translations != null %}
  {% for translation in translations %}
    <link rel="alternate" href="https://{{domain.value}}{{ translation.url }}" hreflang="{{ translation.lang }}"/>
  {% endfor %}
{% endif %}

{% set preferredDomain = site.domains | selectattr('isPreferred') | first %}

{% if not twitter_image %}
  {% if image %}
    {% set twitter_image %}{{ 'https://' + preferredDomain.value }}/assets/images{{ image }}{% endset %}
  {% elif cover and cover.src %}
    {% set twitter_image %}{{ 'https://' + preferredDomain.value }}{{ cover.src }}{% endset %}
  {% endif %}
{% endif %}

{% if seo.twitter.src %}
  {% set twitter_image %}{{ 'https://' + preferredDomain.value }}{{ "/assets/images" if seo.twitter.is_prefixed == null or seo.twitter.is_prefixed == true }}{{ seo.twitter.src }}{% endset %}
{% elif seo.twitter.url %}
  {% set twitter_image %}{{ seo.twitter.url }}{% endset %}
{% endif %}

{% if not twitter_image %}
  {% set twitter_image %}
  {% if not twitter_image %}{{ 'https://' + preferredDomain.value }}/{{ site.seo.twitter_image }}
  {% endif %}{% endset %}
{% endif %}

{% include "components/seo/og.njk" %}

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ 'https://' + preferredDomain.value }}{{ page.url if page.url }}">
<meta property="twitter:title" content="{{ title if title else site.title }}">
<meta property="twitter:description" content="{{ description if description else site.description }}">
<meta property="twitter:image" content="{{ twitter_image if twitter_image else site.seo.twitter_image }}">

<!-- Feeds -->
<link rel="alternate" type="application/rss+xml" title="All Posts - by Francis Rubio" href="/feed.xml">
<link rel="alternate" type="application/rss+xml" title="Blog - by Francis Rubio" href="/blog.xml">
<link rel="alternate" type="application/rss+xml" title="Literature - by Francis Rubio" href="/literature.xml">
<link rel="alternate" type="application/rss+xml" title="Videos - by Francis Rubio" href="/videos.xml">