<template id="mastodon-feed-entry">
  <article class="entry">
    <section class="entry__body" data-entry="entry">
      <div class="entry__content" data-entry="content"></div>
      <div class="entry__content-hidden-notice" data-entry="sensitive" hidden>
        <button class="button entry__cw-toggle" data-toggle="">[Show content]</button>
      </div>
    </section>
    <footer class="entry__footer" data-entry="footer">
      <a class="no-arrow entry__post-time" target="_blank" rel="noopener" style="margin-right: auto;" data-entry="permalink">
        <time data-entry="timestamp"></time>
      </a>
      <p class="statistic">
        <span class="statistic__figure" data-entry="replies">0</span>
        <span class="statistic__label">
          {{ 'corner-up-left' | icon | safe }}
          <span class="sr-only">Replies</span>
        </span>
      </p>
      <p class="statistic">
        <span class="statistic__figure" data-entry="reblogs">0</span>
        <span class="statistic__label">
          {{ 'repeat' | icon | safe }}
          <span class="sr-only">Reblogs</span>
        </span>
      </p>
      <p class="statistic">
        <span class="statistic__figure" data-entry="favorites">0</span>
        <span class="statistic__label">
          {{ 'start' | icon | safe }}
          <span class="sr-only">Favorites</span>
        </span>
      </p>
    </footer>
  </article>
</template>
<template id="mastodon-feed-header">
  <header class="entry__header">
    <span class="entry__reply" data-entry="reply" hidden>
          In response to <a href="" data-entry="reply-link">this post</a>
    </span>
    <div class="entry__profile">
      <div class="profile__header">
        <img src="{{ profile.avatar }}" alt="" class="profile__avatar" data-profile="avatar">
        <b class="profile__name">
          <a href="{{ profile.url | safe }}" target="_blank" class="profile__link no-arrow" data-profile="display-name">
            {{ utils.replaceMastodonEmoji(profile.display_name, profile.emojis) | safe }}
          </a>
        </b>
        <a href="{{ profile.url | safe }}" target="_blank" class="profile__identifier no-arrow" data-profile="username">{{ utils.getFederatedUsername(profile.username, profile.url) }}</a>
      </div>
    </div>
    <div class="entry__sensitive" data-entry="sensitive" hidden>
      <button data-entry="sensitive-toggle" class="button entry__cw-toggle" data-toggle="">
        <div class="hide-on-pressed">
          {{ "eye-off" | icon | safe }}
          <span class="sr-only">Hide content</span>
        </div>
        <div class="hide-on-unpressed">
          {{ "eye" | icon | safe }}
          <span class="sr-only">Show content</span>
        </div>
      </button>
      <span data-entry="spoiler-text" class="entry__reply"></span>
    </div>
  </header>
</template>
<template id="mastodon-preview-card">
  <article class="entry__preview-card seo-preview">
    <a href="" class="preview__link" aria-labelledby="" data-preview="link"></a>
    <img src="" alt="" class="preview__image" data-preview="image">
    <div class="preview__body">
      <h3 class="preview__title" data-preview="title"></h3>
      <p class="preview__description" data-preview="description"></p>
    </div>
  </article>
</template>