<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Recursive:CASL,CRSV,MONO@1,1,0&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="/assets/styles/styles.css">

{% if stylesheets %}
  {% for sheet in stylesheets %}
    <link rel="stylesheet" href="/assets/styles/{{ sheet }}">
  {% endfor %}
{% endif %}