{% include "components/fonts.njk" %}
{# <link rel="preload" href="/assets/fonts/fraunces-var.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/assets/fonts/fraunces-italic-var.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/assets/fonts/fraunces-regular.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/assets/fonts/fraunces-italic.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/assets/fonts/fraunces-bold.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/assets/fonts/fraunces-bold-italic.ttf" as="font" type="font/ttf" crossorigin /> #}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Tagalog&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/styles/styles.css">

{% if stylesheets %}
  {% for sheet in stylesheets %}
    <link rel="stylesheet" href="/assets/styles/{{ sheet }}">
  {% endfor %}
{% endif %}