{% include "components/fonts.njk" %}
{# <link rel="preload" href="/assets/fonts/fraunces-var.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/assets/fonts/fraunces-italic-var.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/assets/fonts/fraunces-regular.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/assets/fonts/fraunces-italic.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/assets/fonts/fraunces-bold.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/assets/fonts/fraunces-bold-italic.ttf" as="font" type="font/ttf" crossorigin /> #}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Tagalog&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
<link rel="stylesheet" href="/assets/styles/styles.css">
<link rel="stylesheet" href="/assets/styles/print.css" media="print">

{% if layoutStylesheets %}
  {% for sheet in layoutStylesheets %}
    <link rel="stylesheet" href="/assets/styles/{{ sheet }}">
  {% endfor %}
{% endif %}

{% if stylesheets %}
  {% for sheet in stylesheets %}
    <link rel="stylesheet" href="/assets/styles/{{ sheet }}">
  {% endfor %}
{% endif %}