{% set isUpcoming = post.tentativeDate != null or utils.isFutureDate(post.date) %}
{% set attributes %}
  href="{{ postURL }}"
{% endset %}

<{{ 'article' if isUpcoming else "a" }} {{ attributes | safe if not isUpcoming }} class="talk-card" data-index="{% padStart index, 2, "0" %}">
  <h3 class="talk-card__title {{ 'upcoming' if isUpcoming }}">{{ post.title | safe }}</h3>
  <p class="talk-card__description">{{ post.description | safe }}</p>
  <p class="talk-card__time">
    {{ 'calendar' | icon | safe }}
    {% if post.tentativeDate != null %}
      {% set tDate = post.tentativeDate %}
      {% set talkDate = utils.tentativeDate(tDate.year, tDate.month, tDate.day) %}
      <time datetime="{{ utils.machineReadableDate(talkDate) }}">
        {{ utils.extractMonth(talkDate) }} {{ tDate.day + ', ' if tDate.day }}{{ tDate.year }} (tentative)
      </time>
    {% else %}
    <time datetime="{{ item.date | machineReadableDate }}">{{ item.date | humanReadableDate }}</time>
    {% endif %}
  </p>
  <p class="talk-card__location">
    {{ 'map-pin' | icon | safe }}
    {{ post.location | safe }}
  </p>
</{{ 'article' if isUpcoming else "a" }}>