<a href="{{ postURL }}" class="talk-card" data-index="{% padStart index, 2, "0" %}">
  <h3 class="talk-card__title {{ 'upcoming' if post.tentativeDate != null }}">{{ post.title | safe }}</h3>
  <p class="talk-card__description">{{ post.description | safe }}</p>
  <p class="talk-card__time">
    {% set feathericon = 'calendar' %}
    {% include 'components/feathericon.njk' %}
    {% if post.tentativeDate != null %}
      {% set tDate = post.tentativeDate %}
      {% set talkDate = utils.tentativeDate(tDate.year, tDate.month, tDate.day) %}
      <time datetime="{{ utils.machineReadableDate(talkDate) }}">
        {{ utils.extractMonth(talkDate) }} {{ tDate.day + ', ' if tDate.day }}{{ tDate.year }} (tentative)
      </time>
    {% else %}
    <time datetime="{{ item.date | machineReadableDate }}">{{ item.date | humanReadableDate }}</time>
    {% endif %}
  </p>
  <p class="talk-card__location">
    {% set feathericon = 'map-pin' %}
    {% include 'components/feathericon.njk' %}
    {{ post.location | safe }}
  </p>
</a>