{% set preferredDomain = site.domains | selectattr('isPreferred') | first %}
<form class="form content-wrapper margin--auto margin-block--xxxl" action="{{ site.api.webmentions }}" method="POST">
  <h2 class="margin-block--none font-sans uppercase fs-5 weight-700" id="response-heading">Send a shoutout!</h2>
  <p class="margin-block--none">Did you post a response to this in your own website? send me a <a href="http://indiewebcamp.com/webmention">webmention</a>!</p>
  <input class="form-control" name="target" type="hidden" value="https://{{ preferredDomain.value }}{{ page.url }}">
  <div class="form-group margin--none">
    <label for="source" class="form-label">Your response's <abbr>URL</abbr></label>
    <input class="form-control" name="source" type="url" placeholder="https://your.example.site/posts/response-to-francis/">
  </div>
  <button type="submit" class="primary button">Send</button>

  <p class="font-sans margin-top--xl">Don't have a website? Send a response via <a href="https://commentpara.de"><b>commentpara.de</b></a>! Copy and paste the <abbr>URL</abbr> of this webpage, and paste it on there along with your response. Comments can be anonymous, too!</p>
</form>
<div class="content-wrapper margin--auto hidden" data-webmention-container>
  <h2 class="font-sans uppercase fs-5 weight-700" id="webmention-likes-repost">Likes and reposts</h2>
  <ul data-webmention-container="likes" class="webmention-container likes">
    <template id="webmention-like-entry">
      <li class="webmention__entry" id="">
        <div class="webmention__author">
          <a href="" class="webmention__photo-link" data-webmention-entry="author-link">
            <img data-webmention-entry="photo" src="" alt="" class="webmention__author-photo">
            <div class="webmention__photo-icon" data-webmention-type="like">
              {% set feathericon = 'heart' %}
              {% include 'components/feathericon.njk' %}
            </div>
            <div class="webmention__photo-icon" data-webmention-type="repost">
              {% set feathericon = 'rotate-cw' %}
              {% include 'components/feathericon.njk' %}
            </div>
          </a>
          <div class="webmention__author-details">
            <a data-webmention-entry="author-name" href="" class="webmention__author-name"></a>
            <a data-webmention-entry="interaction-link" href="" class="webmention__timestamp-link">
              <time data-webmention-entry="interaction-timestamp" class="webmention__timestamp" datetime=""></time>
            </a>
          </div>
        </div>
      </li>
    </template>
  </ul>
</div>
<div class="content-wrapper margin--auto hidden" data-webmention-container>
  <h2 class="font-sans uppercase fs-5 weight-700" id="webmention-replies">Replies</h2>
  <div data-webmention-container="in-reply-to" class="webmention-container replies">
    <template id="webmention-reply-entry">
      <article class="webmention-reply">
        <header class="webmention-reply__header">
          <div class="d-flex gap--xs ai--center">
            <img data-webmention-entry="photo" src="https://webmention.io/avatar/files.mstdn.party/089e99cacf526c9177d55baa6896ede0bac8f11da8fb0a9c99456d613680bf8f.jpg" alt="Francis Rubio's photo" class="webmention__author-photo">
            <a data-webmention-entry="author-name" href="https://mstdn.party/@teacherbuknoy" class="webmention__author-link">Francis Rubio</a>
          </div>
          <a data-webmention-entry="interaction-link" href="https://mstdn.party/@teacherbuknoy/109450410920194422">
            <time data-webmention-entry="interaction-timestamp" datetime="2022-12-03T15:18:53">Just now</time>
          </a>
        </header>
        <div class="webmention-reply__body" data-webmention-entry="interaction-body">
          <p>I enjoyed chronicling this journey. Now I'm thinking of making a video out of this one</p>
        </div>
      </article>
    </template>
  </div>
</div>
<script>
  const siteData = {{ site | dump | safe }}
</script>
<script src="/assets/scripts/webmentions.js"></script>