<div class="content-wrapper margin--auto">
  <h2 class="font-sans uppercase fs-5 weight-900">Likes</h2>
  <ul data-webmention-container="likes" class="webmention-container likes">
    <template id="webmention-like-entry">
      <li class="webmention__entry" id="1554122">
        <div class="webmention__author">
          <a href="https://twitter.com/maniczirconium" class="webmention__photo-link" data-webmention-entry="author-link">
            <img data-webmention-entry="photo" src="https://webmention.io/avatar/pbs.twimg.com/40c15c7db201a98b078afb6a49bf5ec90fe44268ad5e2814a24b52ccb29238cc.jpg" alt="Photo of Padisarah Geronimo" class="webmention__author-photo">
          </a>
          <div class="webmention__author-details">
            <a data-webmention-entry="author-name" href="https://twitter.com/maniczirconium" class="webmention__author-name">Padisarah Geronimo</a>
            <a data-webmention-entry="interaction-link" href="https://twitter.com/teacherbuknoy/status/1590248061179240448#favorited-by-1569536272175370241" class="webmention__timestamp-link">
              <time data-webmention-entry="interaction-timestamp" class="webmention__timestamp" datetime="2022-11-09T07:42:07Z">Just now</time>
            </a>
          </div>
        </div>
      </li>
    </template>
  </ul>
</div>