<form class="form" id="{{ emailFormPrefix }}email-form" action="{{ site.api.email }}" method="POST">
  <div class="field">
    <label for="{{ emailFormPrefix }}email-form__name">Your name</label>
    <p class="comment" id="{{ emailFormPrefix }}email-form__name-comment">So I know how to address you in my reply.</p>
    <input type="text" name="name" id="{{ emailFormPrefix }}email-form__name" placeholder="Ivy Aguas, PhD"
        aria-describedby="{{ emailFormPrefix }}email-form__name-comment" required>
  </div>
  <div class="field">
    <label for="{{ emailFormPrefix }}email-form__email">Your email</label>
    <p class="comment" id="{{ emailFormPrefix }}email-form__email-comment">So I can reply to your message.</p>
    <input type="email" name="email" id="{{ emailFormPrefix }}email-form__email" placeholder="ivyaguas@gmail.com"
        aria-describedby="{{ emailFormPrefix }}email-form__email-comment" required>
  </div>
  <div class="field">
    <label>Your purpose</label>
    <p class="comment" id="{{ emailFormPrefix }}email-form__email-comment">How can I help you?</p>
    <p aria-hidden="true" class="comment weight-bold weight-700 margin-block-start--s">
      <q>I'd like you to…</q>
    </p>
    <div class="option-list">

      <div class="option">
        <input required type="radio" name="purpose" id="{{ emailFormPrefix }}purpose__jobdescription"
          aria-describedby="{{ emailFormPrefix }}purpose__jobdescription-comment"
          value="I'd like you to design an app or website" class="visually-hidden">
        <i aria-hidden="true" class="material-symbol">work</i>
        <label for="{{ emailFormPrefix }}purpose__jobdescription">
          <span class="visually-hidden">I'd like you to</span>
            join our team!
          </label>
        <p id="{{ emailFormPrefix }}purpose__jobdescription-comment" class="comment">Hire me full time</p>
      </div>

      <div class="option">
        <input required type="radio" name="purpose" id="{{ emailFormPrefix }}purpose__uiux"
          aria-describedby="{{ emailFormPrefix }}purpose__uiux-comment"
          value="I'd like you to design an app or website" class="visually-hidden">
        <i aria-hidden="true" class="material-symbol">design_services</i>
        <label for="{{ emailFormPrefix }}purpose__uiux">
          <span class="visually-hidden">I'd like you to</span>
            design an app or website
          </label>
        <p id="{{ emailFormPrefix }}purpose__uiux-comment" class="comment">UI/UX Design</p>
      </div>

      <div class="option">
        <input required type="radio" name="purpose" id="{{ emailFormPrefix }}purpose__webdev"
          aria-describedby="{{ emailFormPrefix }}purpose__webdev-comment"
          value="I'd like you to code a website" class="visually-hidden">
        <i aria-hidden="true" class="material-symbol">terminal</i>
        <label for="{{ emailFormPrefix }}purpose__webdev">
          <span class="visually-hidden">I'd like you to</span>
            code a website
          </label>
        <p id="{{ emailFormPrefix }}purpose__webdev-comment" class="comment">Web development</p>
      </div>

      <div class="option">
        <input required type="radio" name="purpose" id="{{ emailFormPrefix }}purpose__consulting"
          aria-describedby="{{ emailFormPrefix }}purpose__consulting-comment"
          value="I'd like you to help with my existing website" class="visually-hidden">
        <i aria-hidden="true" class="material-symbol">person_raised_hand</i>
        <label for="{{ emailFormPrefix }}purpose__consulting">
          <span class="visually-hidden">I'd like you to</span>
            help with my existing website
          </label>
        <p id="{{ emailFormPrefix }}purpose__consulting-comment" class="comment">Consulting</p>
      </div>

      <div class="option">
        <input required type="radio" name="purpose" id="{{ emailFormPrefix }}purpose__branddesign"
          aria-describedby="{{ emailFormPrefix }}purpose__branddesign-comment"
          value="I'd like you to improve my branding" class="visually-hidden">
        <i aria-hidden="true" class="material-symbol">brand_family</i>
        <label for="{{ emailFormPrefix }}purpose__branddesign">
          <span class="visually-hidden">I'd like you to</span>
            improve my branding
          </label>
        <p id="{{ emailFormPrefix }}purpose__branddesign-comment" class="comment">Brand design</p>
      </div>

      <div class="option">
        <input required type="radio" name="purpose" id="{{ emailFormPrefix }}purpose__training"
          aria-describedby="{{ emailFormPrefix }}purpose__training-comment"
          value="I'd like you to train my team" class="visually-hidden">
        <i aria-hidden="true" class="material-symbol">school</i>
        <label for="{{ emailFormPrefix }}purpose__training">
          <span class="visually-hidden">I'd like you to</span>
            train my team
          </label>
        <p id="{{ emailFormPrefix }}purpose__training-comment" class="comment">Training</p>
      </div>

      <div class="option">
        <input required type="radio" name="purpose" id="{{ emailFormPrefix }}purpose__talk"
          aria-describedby="{{ emailFormPrefix }}purpose__talk-comment"
          value="I'd like you to speak at our event" class="visually-hidden">
        <i aria-hidden="true" class="material-symbol">podium</i>
        <label for="{{ emailFormPrefix }}purpose__talk">
          <span class="visually-hidden">I'd like you to</span>
            speak at our event
          </label>
        <p id="{{ emailFormPrefix }}purpose__talk-comment" class="comment">Public Speaking and Workshops</p>
      </div>

      <div class="option">
        <input required type="radio" name="purpose" id="{{ emailFormPrefix }}purpose__mentorship"
          aria-describedby="{{ emailFormPrefix }}purpose__mentorship-comment"
          value="I'd like you to teach me how to code" class="visually-hidden">
        <i aria-hidden="true" class="material-symbol">local_library</i>
        <label for="{{ emailFormPrefix }}purpose__mentorship">
          <span class="visually-hidden">I'd like you to</span>
            teach me how to code
          </label>
        <p id="{{ emailFormPrefix }}purpose__mentorship-comment" class="comment">Mentorship</p>
      </div>

      <div class="option">
        <input required type="radio" name="purpose" id="{{ emailFormPrefix }}purpose__other"
          aria-describedby="{{ emailFormPrefix }}purpose__other-comment"
          value="I'd like to ask something else" class="visually-hidden">
        <i aria-hidden="true" class="material-symbol">help</i>
        <label for="{{ emailFormPrefix }}purpose__other">
          <span class="visually-hidden">I'd like to ask</span>
            Something else
          </label>
        <p id="{{ emailFormPrefix }}purpose__other-comment" class="comment">Ask questions</p>
      </div>

    </div>
  </div>
  <div class="field">
    <label for="{{ emailFormPrefix }}email-form__details">Details</label>
    <p class="comment" id="{{ emailFormPrefix }}email-form__details-comment">You may include links to relevant information, inspirations, moodboards, or similar products. Ask as many questions as you want!</p>
    <textarea required name="details" id="{{ emailFormPrefix }}email-form__details" placeholder="Write your comments…" aria-describedby="{{ emailFormPrefix }}email-form__details-comment"></textarea>
  </div>
</form>