{% from "components/ui/utils.njk" import icon %}
<a href="#main" class="skip-link">Skip to content</a>
<div class="navbar-wrapper" data-navbar-animations>
  <nav class="attached navigation-bar" aria-label="Site">
    <div class="navigation-bar__section navigation-bar__section--start">
      <ul class="navigation-list">
        <li class="navigation-list-item">
          <a href="/" class="navigation-link weight-700">
            {# {% include "components/logo.njk" %} #}
            <span class="logo-type">francisrub<span class="logo-dot">.</span>io</span>
          </a>
        </li>
        {% for item in navigation | rejectattr("overflow") %}
          <li class="navigation-list-item hide-on-mobile">
            <a href="{{ item.url }}" class="navigation-link{{ ' active' if utils.isActivePath(activePath, item.url) }}">
              {% if item.text %}
                <span class="navigation-link-text">{{ item.text }}</span>
              {% endif %}

              {% if item.feathericon %}
                {{ icon(item.feathericon) }}
              {% endif %}

              {% if item.label %}
                <span class="navigation-link-label">{{ item.label }}</span>
              {% endif %}
            </a>
          </li>
        {% endfor %}

        <li class="navigation-list-item hide-on-noscript relative hide-on-mobile">
          {% set popupId = 'nav-overflow-desktop' %}
          <button class="navigation-link icon-only" data-opens="{{ popupId }}">
            {{ icon("more-horizontal") }}
            <span class="sr-only">More items</span>
          </button>
          {% include "components/popups/overflow-links.njk" %}
        </li>
      </ul>
    </div>

    <div class="navigation-bar__section navigation-bar__section--end">
      <ul class="navigation-list">
        <li class="navigation-list-item hide-on-noscript hide-on-mobile">
          <button class="navigation-link icon-only" data-opens="nav-search-menu" data-is-modal="true">
            {{ icon('search') }}
            <span class="navigation-link-text sr-only">Search</span>
          </button>
        </li>
        <li class="navigation-list-item hide-on-noscript show-on-mobile">
          <button class="navigation-link icon-only" data-opens="nav-search-menu" data-is-modal="true">
            {{ icon('search') }}
            <span class="navigation-link-text sr-only">Search</span>
          </button>
        </li>
        <li class="navigation-list-item hide-on-noscript">
          {% set popupId = 'nav-color-scheme-desktop' %}
          <button class="navigation-link icon-only" data-opens="{{ popupId }}">
            {{ icon('moon') }}
            <span class="navigation-link-text sr-only">Change color scheme</span>
          </button>
          {% include "components/popups/color-scheme.njk" %}
        </li>
        <li class="navigation-list-item hide-on-noscript relative">
          {% set popupId = 'nav-rss-desktop' %}
          <button class="navigation-link icon-only" popovertarget="popover-rss" data-opens="{{ popupId }}">
            {{ icon('rss') }}
            <span class="navigation-link-text sr-only">RSS Feeds</span>
          </button>
          {% include "components/popups/nav-rss.njk" %}
        </li>
        <li class="navigation-list-item show-on-noscript">
          <a href="#footer-rss" class="navigation-link icon-only">
            {{ icon('rss') }}
            <span class="navigation-link-text sr-only">
              RSS Feeds
            </span>
          </a>
        </li>
        <li class="navigation-list-item show-on-mobile">
          <button class="navigation-link icon-only" data-opens="nav-mobile-menu" data-is-modal="true">
            {{ icon("menu") }}
            <span class="navigation-link-text sr-only">Menu</span>
          </button>
        </li>
        <li class="navigation-list-item hide-on-mobile">
          <button class="primary button button--small padding-inline--l hide-on-noscript" onclick="emailDialog.showModal()">Hire Me</button>
          <noscript>
            <a href="/contact/" class="primary button button--small padding-inline--l">Hire Me</a>
          </noscript>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div data-observer-trigger></div>

{% include "components/popups/mobile-navigation.njk" %}
{% include "components/popups/search-dialog.njk" %}
{% include 'components/popups/email-dialog.njk' %}