{% macro icon(name, class) %}
  <svg class="feather {{ class }}" aria-hidden="true">
    <use href="/assets/images/feather-sprite.svg#{{ name }}"/>
  </svg>
{% endmacro %}

{% macro emailButton(innerText) %}
  <button class="primary button hide-on-noscript" data-dialog="modal__email">{{ innerText }}</button>
  <noscript>
    <a href="/contact/" class="primary button">{{ innerText }}</a>
  </noscript>
{% endmacro %}

{% macro image(filename, image, postType, imgClass) %}
  {% set sizes = image.sizes %}
  {% set width = image.width %}
  {% set height = image.height %}
  {% set formats = image.formats %}
  {% set filename = image.filename %}
  {% set defaultImageClass = imgClass %}
  {% include "components/cdn-picture.njk" %}
{% endmacro %}