{% macro icon(name, class) %}
  <svg class="feather {{ class }}" aria-hidden="true">
    <use href="/assets/images/feather-sprite.svg#{{ name }}"/>
  </svg>
{% endmacro %}

{% macro emailButton(innerText) %}
  <button class="primary button hide-on-noscript" data-dialog="modal__email">{{ innerText }}</button>
  <noscript>
    <a href="/contact/" class="primary button">{{ innerText }}</a>
  </noscript>
{% endmacro %}

{% macro image(image) %}
  <responsive-picture src="{{ image.src }}" alt="{{ image.alt }}" height="{{ image.height }}" width="{{ image.width }}">
    <img src="{{ site.api.images }}{{ image.src }}" alt="{{ image.alt }}" height="{{ image.height }}" width="{{ image.width }}">
  </responsive-picture>
{% endmacro %}