@charset "UTF-8";
/* @docs
label: Core Remedies
version: 0.1.0-beta.2

note: |
  These remedies are recommended
  as a starter for any project.

category: file
*/
/* @docs
label: Box Sizing

note: |
  Use border-box by default, globally.

category: global
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/* @docs
label: Line Sizing

note: |
  Consistent line-spacing,
  even when inline elements have different line-heights.

links:
  - https://drafts.csswg.org/css-inline-3/#line-sizing-property

category: global
*/
html {
  line-sizing: normal;
}

/* @docs
label: Body Margins

note: |
  Remove the tiny space around the edge of the page.

category: global
*/
body {
  margin: 0;
}

/* @docs
label: Hidden Attribute

note: |
  Maintain `hidden` behaviour when overriding `display` values.

  category: global
*/
[hidden] {
  display: none;
}

/* @docs
label: Heading Sizes

note: |
  Switch to rem units for headings

category: typography
*/
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

/* @docs
label: H1 Margins

note: |
  Keep h1 margins consistent, even when nested.

category: typography
*/
h1 {
  margin: 0.67em 0;
}

/* @docs
label: Pre Wrapping

note: |
  Overflow by default is bad...

category: typography
*/
pre {
  white-space: pre-wrap;
}

/* @docs
label: Horizontal Rule

note: |
  1. Solid, thin horizontal rules
  2. Remove Firefox `color: gray`
  3. Remove default `1px` height, and common `overflow: hidden`

category: typography
*/
hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: inherit;
  height: 0;
  overflow: visible;
}

/* @docs
label: Responsive Embeds

note: |
  1. Block display is usually what we want
  2. The `vertical-align` removes strange space-below in case authors overwrite the display value
  3. Responsive by default
  4. Audio without `[controls]` remains hidden by default

category: embedded elements
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
}

/* @docs
label: Responsive Images

note: |
  These new elements display inline by default,
  but that's not the expected behavior for either one.
  This can interfere with proper layout and aspect-ratio handling.

  1. Remove the unnecessary wrapping `picture`, while maintaining contents
  2. Source elements have nothing to display, so we hide them entirely

category: embedded elements
*/
picture {
  display: contents;
}

source {
  display: none;
}

/* @docs
label: Aspect Ratios

note: |
  Maintain intrinsic aspect ratios when `max-width` is applied.
  `iframe`, `embed`, and `object` are also embedded,
  but have no intrinsic ratio,
  so their `height` needs to be set explicitly.

category: embedded elements
*/
img,
svg,
video,
canvas {
  height: auto;
}

/* @docs
label: Audio Width

note: |
  There is no good reason elements default to 300px,
  and audio files are unlikely to come with a width attribute.

category: embedded elements
*/
audio {
  width: 100%;
}

/* @docs
label: Image Borders

note: |
  Remove the border on images inside links in IE 10 and earlier.

category: legacy browsers
*/
img {
  border-style: none;
}

/* @docs
label: SVG Overflow

note: |
  Hide the overflow in IE 10 and earlier.

category: legacy browsers
*/
svg {
  overflow: hidden;
}

/* @docs
label: HTML5 Elements

note: |
  Default block display on HTML5 elements.
  For oldIE to apply this styling one needs to add some JS as well (i.e. `document.createElement("main")`)

links:
  - https://www.sitepoint.com/html5-older-browsers-and-the-shiv/

category: legacy browsers
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/* @docs
label: Checkbox & Radio Inputs

note: |
  1. Add the correct box sizing in IE 10
  2. Remove the padding in IE 10

category: legacy browsers
*/
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/* @docs
label: Reminders
version: 0.1.0-beta.2

note: |
  All the remedies in this file are commented out by default,
  because they could cause harm as general defaults.
  These should be used as reminders
  to handle common styling issues
  in a way that will work for your project and users.
  Read, explore, uncomment, and edit as needed.

category: file
*/
/* @docs
label: List Style

note: |
  List styling is not usually desired in navigation,
  but this also removes list-semantics for screen-readers

links:
  - https://github.com/mozdevs/cssremedy/issues/15

category: navigation
*/
nav ul {
  list-style: none;
  padding-left: 0;
}

/* @docs
label: List Voiceover

note: |
  1. Add zero-width-space to prevent VoiceOver disable
  2. Absolute position ensures no extra space

links:
  - https://unfetteredthoughts.net/2017/09/26/voiceover-and-list-style-type-none/

category: navigation
*/
nav li:before {
  content: "​";
  position: absolute;
}

/* @docs
label: Reduced Motion

note: |
  1. Immediately jump any animation to the end point
  2. Remove transitions & fixed background attachment

links:
  - https://github.com/mozdevs/cssremedy/issues/11

category: accessibility
*/
@media (prefers-reduced-motion: reduce) {
  *,
::before,
::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}
/* @docs
label: Line Heights

note: |
  The default `normal` line-height is tightly spaced,
  but takes font-metrics into account,
  which is important for many fonts.
  Looser spacing may improve readability in latin type,
  but may cause problems in some scripts --
  from cusrive/fantasy fonts to
  [Javanese](https://jsbin.com/bezasax/1/edit?html,css,output),
  [Persian](https://jsbin.com/qurecom/edit?html,css,output),
  and CJK languages.

links:
  - https://github.com/mozdevs/cssremedy/issues/7
  - https://jsbin.com/bezasax/1/edit?html,css,output
  - https://jsbin.com/qurecom/edit?html,css,output

todo: |
  - Use `:lang(language-code)` selectors?
  - Add typography remedies for other scripts & languages...

category: typography
*/
html {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}

caption,
figcaption,
label,
legend {
  line-height: 1.375;
}

.feather,
.feather-icon {
  width: 1em;
  height: 1em;
  fill: none;
  stroke: currentColor;
  stroke-width: 2px;
  stroke-linecap: round;
  flex: 0 0 1em;
  stroke-linejoin: round;
}

@font-face {
  font-family: "Fraunces var";
  src: url("/assets/fonts/fraunces-var.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Fraunces var";
  src: url("/assets/fonts/fraunces-italic-var.ttf") format("truetype");
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Fraunces";
  src: url("/assets/fonts/fraunces-regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Fraunces";
  src: url("/assets/fonts/fraunces-italic.ttf") format("truetype");
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Fraunces";
  src: url("/assets/fonts/fraunces-bold-italic.ttf") format("truetype");
  font-display: swap;
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "Fraunces";
  src: url("/assets/fonts/fraunces-bold-italic.ttf") format("truetype");
  font-display: swap;
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "Fraunces";
  src: url("/assets/fonts/fraunces-bold.ttf") format("truetype");
  font-display: swap;
  font-weight: bold;
}
@font-face {
  font-family: "Inter var";
  src: url("/assets/fonts/inter-var.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/Inter-Light.woff2?v=3.19") format("woff2"), url("/assets/fonts/Inter-Light.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Inter-Regular.woff2?v=3.19") format("woff2"), url("/assets/fonts/Inter-Regular.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Inter-Italic.woff2?v=3.19") format("woff2"), url("/assets/fonts/Inter-Italic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/Inter-Bold.woff2?v=3.19") format("woff2"), url("/assets/fonts/Inter-Bold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/Inter-BoldItalic.woff2?v=3.19") format("woff2"), url("/assets/fonts/Inter-BoldItalic.woff?v=3.19") format("woff");
}
/* COLORS */
:root {
  --d-contrast: 0 0% 0%;
  --d-default: 0 0% 20%;
  --d-subtle: 0 0% 50%;
  --d-non-essential: 0 0% 75%;
  --l-contrast: 0 0% 100%;
  --l-default: 0 0% 80%;
  --l-subtle: 0 0% 50%;
  --l-non-essential: 0 0% 25%;
  --l-primary-900: 279 80% 12%;
  --l-primary-700: 279 80% 25%;
  --l-primary-500: 279 80% 49%;
  --l-primary-300: 279 70% 75%;
  --l-primary-100: 279 50% 80%;
  --l-secondary-100: 233 100% 21%;
  --l-secondary-300: 233 80% 41%;
  --l-secondary-500: 233 80% 61%;
  --l-secondary-700: 233 50% 71%;
  --l-secondary-900: 233 50% 81%;
  --l-error-100: 5 100% 75%;
  --l-error-300: 0 81% 63%;
  --l-error-500: 357 68% 46%;
  --l-error-700: 1 94% 33%;
  --l-error-900: 0 100% 24%;
  --l-success-100: 82 100% 75%;
  --l-success-300: 87 66% 58%;
  --l-success-500: 92 68% 43%;
  --l-success-700: 97 95% 29%;
  --l-success-900: 102 100% 21%;
  --l-warning-100: 32 100% 75%;
  --l-warning-300: 27 100% 66%;
  --l-warning-500: 22 89% 56%;
  --l-warning-700: 17 98% 40%;
  --l-warning-900: 12 100% 33%;
  --d-error-900: 5 100% 75%;
  --d-error-700: 0 81% 63%;
  --d-error-500: 357 68% 46%;
  --d-error-300: 1 94% 33%;
  --d-error-100: 0 100% 24%;
  --d-success-900: 82 100% 75%;
  --d-success-700: 87 66% 58%;
  --d-success-500: 92 68% 43%;
  --d-success-300: 97 95% 29%;
  --d-success-100: 102 100% 21%;
  --d-warning-900: 32 100% 75%;
  --d-warning-700: 27 100% 66%;
  --d-warning-500: 22 89% 56%;
  --d-warning-300: 17 98% 40%;
  --d-warning-100: 12 100% 33%;
  --d-primary-100: 279 80% 12%;
  --d-primary-300: 279 80% 25%;
  --d-primary-500: 279 80% 49%;
  --d-primary-700: 279 70% 75%;
  --d-primary-900: 279 50% 80%;
  --d-secondary-900: 53 100% 79%;
  --d-secondary-700: 48 100% 71%;
  --d-secondary-500: 43 94% 61%;
  --d-secondary-300: 38 82% 46%;
  --d-secondary-100: 33 100% 34%;
}

:root {
  --contrast: var(--l-contrast);
  --default: var(--l-default);
  --subtle: var(--l-subtle);
  --non-essential: var(--l-non-essential);
  --primary-900: var(--l-primary-900);
  --primary-700: var(--l-primary-700);
  --primary-500: var(--l-primary-500);
  --primary-300: var(--l-primary-300);
  --primary-100: var(--l-primary-100);
  --secondary-100: var(--l-secondary-100);
  --secondary-300: var(--l-secondary-300);
  --secondary-500: var(--l-secondary-500);
  --secondary-700: var(--l-secondary-700);
  --secondary-900: var(--l-secondary-900);
  --error-100: var(--l-error-100);
  --error-300: var(--l-error-300);
  --error-500: var(--l-error-500);
  --error-700: var(--l-error-700);
  --error-900: var(--l-error-900);
  --success-100: var(--l-success-100);
  --success-300: var(--l-success-300);
  --success-500: var(--l-success-500);
  --success-700: var(--l-success-700);
  --success-900: var(--l-success-900);
  --warning-100: var(--d-warning-100);
  --warning-300: var(--d-warning-300);
  --warning-500: var(--d-warning-500);
  --warning-700: var(--d-warning-700);
  --warning-900: var(--d-warning-900);
}
@media (prefers-color-scheme: dark) {
  :root {
    --contrast: var(--d-contrast);
    --default: var(--d-default);
    --subtle: var(--d-subtle);
    --non-essential: var(--d-non-essential);
    --primary-900: var(--d-primary-900);
    --primary-700: var(--d-primary-700);
    --primary-500: var(--d-primary-500);
    --primary-300: var(--d-primary-300);
    --primary-100: var(--d-primary-100);
    --secondary-100: var(--d-secondary-100);
    --secondary-300: var(--d-secondary-300);
    --secondary-500: var(--d-secondary-500);
    --secondary-700: var(--d-secondary-700);
    --secondary-900: var(--d-secondary-900);
    --error-100: var(--d-error-100);
    --error-300: var(--d-error-300);
    --error-500: var(--d-error-500);
    --error-700: var(--d-error-700);
    --error-900: var(--d-error-900);
    --success-100: var(--d-success-100);
    --success-300: var(--d-success-300);
    --success-500: var(--d-success-500);
    --success-700: var(--d-success-700);
    --success-900: var(--d-success-900);
    --warning-100: var(--d-warning-100);
    --warning-300: var(--d-warning-300);
    --warning-500: var(--d-warning-500);
    --warning-700: var(--d-warning-700);
    --warning-900: var(--d-warning-900);
  }
}

/* FONTS */
:root {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Fraunces", serif;
  --font-display: "Inter", sans-serif;
  --font-display-serif: "Fraunces", serif;
  --font-body: var(--font-serif);
  --font-ui: var(--font-sans);
  --type-size: 1rem;
  --type-size-1: 4.209rem;
  --type-size-2: 3.157rem;
  --type-size-3: 2.369rem;
  --type-size-4: 1.777rem;
  --type-size-5: 1.333rem;
  --type-size-6: 1rem;
  --type-size-7: 0.75rem;
  --type-size-8: 0.563rem;
  --type-size-9: 0.422rem;
  --content-width: 65ch;
}
@supports (font-variation-settings: "wght" 100) {
  :root {
    --font-sans: "Inter var", sans-serif;
    --font-serif: "Fraunces var", serif;
    --font-display: "Inter var", sans-serif;
    --font-display-serif: "Fraunces var", serif;
  }
}

/* SPACES */
:root {
  --space-none: 0;
  --space-auto: auto;
  --space-xxxl: 4rem;
  --space-xxl: 3rem;
  --space-xl: 2rem;
  --space-l: 1.5rem;
  --space: 1rem;
  --space-s: 0.75rem;
  --space-xs: 0.5rem;
  --space-xxs: 0.25rem;
  --space-xxxs: 0.1rem;
  --space-m: var(--space);
  /* ALIAS */
  --ideal-radius: 6px;
}

/* LAYOUTS */
.box {
  padding: var(--box-padding, var(--space-s));
  color: var(--box-fg);
  background-color: var(--box-bg);
  outline: 0.125rem solid transparent;
  outline-offset: -0.125rem;
  --box-fg: hsl(var(--fg-default));
  --box-bg: hsl(var(--bg-secondary) / 25%);
}
.box * {
  color: inherit;
}
.box.transparent {
  --box-bg: hsl(var(--bg-secondary) / 0%);
}
.box.inverted {
  color: var(--box-bg);
  background-color: var(--box-fg);
}
.box.bordered {
  border: 1px solid var(--box-border, hsl(var(--bg-secondary)));
}
.box.rounded {
  border-radius: calc(var(--ideal-radius) * 2);
}

.box + .box {
  margin-top: var(--space-xs);
}

.box {
  --code-border: var(--box-border);
}
.box.error {
  --box-border: hsl(var(--error-500));
  --box-bg: hsl(var(--error-100));
}
.box.success {
  --box-border: hsl(var(--success-500));
  --box-bg: hsl(var(--success-100));
}
.box.success {
  --box-border: hsl(var(--success-500));
  --box-bg: hsl(var(--success-100));
}

.center {
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--content-width);
  padding-left: var(--center-padding, var(--space-s));
  padding-right: var(--center-padding, var(--space-s));
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--cluster-gap, var(--space-xs));
}
.cluster.spaced {
  justify-content: space-between;
}
.cluster.end-justified {
  justify-content: flex-end;
}
.cluster.center-aligned {
  align-items: center;
}
.cluster.center-justified {
  justify-content: center;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.content-wrapper {
  max-width: var(--content-width);
}

.wide-wrapper {
  max-width: calc(var(--content-width) * 1.5);
}

.page-wrapper {
  max-width: var(--page-width);
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sidebar-gap, var(--space-m));
}

.sidebar {
  flex-grow: 1;
  flex-basis: var(--sidebar-width, 35ch);
}

.not-sidebar {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
}

.stack, .navigation-brand {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* #region SIZES */
  /* #endregion */
}
.stack > *, .navigation-brand > * {
  margin-top: 0;
  margin-bottom: 0;
}
.stack > * + *, .navigation-brand > * + * {
  margin-top: var(--stack-gap, 0);
}
.stack > .push-to-end, .navigation-brand > .push-to-end {
  margin-top: auto;
}
.stack.recursive * + *, .recursive.navigation-brand * + * {
  margin-bottom: var(--stack-gap, 0);
}
.stack-exception, .stack-exception > * {
  --stack-gap: 3rem;
}
.stack.xx-small, .xx-small.navigation-brand {
  --stack-gap: var(--space-xxs);
}
.stack.x-small, .x-small.navigation-brand {
  --stack-gap: var(--space-xs);
}
.stack.small-gap, .small-gap.navigation-brand {
  --stack-gap: var(--space-s);
}
.stack.medium, .medium.navigation-brand {
  --stack-gap: var(--space-m);
}
.stack.large, .large.navigation-brand {
  --stack-gap: var(--space-l);
}
.stack.x-large, .x-large.navigation-brand {
  --stack-gap: var(--space-xl);
}
.stack.xx-large, .xx-large.navigation-brand {
  --stack-gap: var(--space-xxl);
}

/* COMPONENTS */
.button, .skip-link {
  align-items: center;
  background: transparent;
  border-radius: var(--ideal-radius);
  border: 1px solid transparent;
  color: hsl(var(--primary-700));
  cursor: pointer;
  display: inline flex;
  font-size: inherit;
  justify-content: center;
  padding: var(--space-xs) var(--space);
  text-align: center;
  text-decoration: none;
  transition: background 300ms;
  width: -moz-fit-content;
  width: fit-content;
}
.button:hover, .skip-link:hover {
  background-color: hsl(var(--primary-100));
}
.button:focus-visible, .skip-link:focus-visible {
  outline: 3px solid hsl(var(--primary-700));
  outline-offset: 4px;
}
.button.small, .small.skip-link {
  padding: var(--space-xxs) var(--space-xs);
}

.button.primary, .skip-link {
  color: hsl(var(--l-contrast));
  background-color: hsl(var(--primary-500));
}
.button.primary:hover, .skip-link:hover {
  background-color: hsl(var(--primary-700));
}
.button.circle, .circle.skip-link, .button.square, .square.skip-link {
  aspect-ratio: 1;
}
.button.circle, .circle.skip-link {
  border-radius: 100%;
}

.menu {
  position: relative;
}

.menu__popover {
  background: hsl(Var(--bg-primary));
  border-radius: var(--ideal-radius);
  box-shadow: 0 6px 12px #0005;
  margin: var(--space-xs);
  overflow: clip;
  position: absolute;
  top: 100%;
}
@media (prefers-color-scheme: dark) {
  .menu__popover {
    filter: brightness(115%);
  }
}

.menu__item {
  color: hsl(var(--fg-default));
  cursor: pointer;
  display: flex;
  padding: var(--space-xs) var(--space-s);
  text-decoration: none;
}

.menu__item:hover {
  color: hsl(var(--fg-default));
  background-color: hsl(var(--primary-100));
}

.menu__item:focus-visible {
  background-color: transparent;
  box-shadow: none;
  color: inherit;
  outline-color: hsl(var(--primary-500));
  outline-offset: -4px;
  outline-width: 2px;
}

.modal {
  position: fixed;
  inset: 0;
  display: grid;
}
.modal[hidden] {
  display: none;
}

.modal > * {
  grid-column: 1/1;
  grid-row: 1/1;
}

.modal__backdrop {
  place-self: stretch;
  background-color: #0005;
}

.modal__content {
  background-color: hsl(var(--bg-primary));
  place-self: center;
  display: flex;
  flex-direction: column;
}

.modal__content {
  background-color: hsl(var(--bg-primary));
  place-self: center;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: 0 6px 16px #0005;
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space);
}

.modal__title {
  font-family: var(--font-sans);
  margin: 0;
  font-size: var(--type-size-4);
}

.modal__body {
  padding: var(--space);
  overflow: auto;
  max-height: 55ch;
  max-width: 65ch;
}

.modal__footer {
  padding: var(--space);
  display: flex;
  gap: 1ch;
}

.navigation-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: var(--font-sans);
  padding: var(--space);
  transition: padding 300ms;
}
.navigation-bar.attached {
  padding: 0;
}

.navigation-brand {
  gap: 0;
  line-height: 1;
}

.navigation-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
body:not(.no-js) .navigation-links {
  position: relative;
}
body:not(.no-js) .navigation-links::before {
  background-color: hsl(var(--primary-100));
  border-radius: var(--ideal-radius);
  content: "";
  height: var(--height, 0);
  left: var(--left, 0);
  position: absolute;
  top: var(--top, 0);
  transition-duration: 200ms;
  transition-property: opacity, top, left, width, height;
  width: var(--width, 0);
  z-index: -1;
}
@media (prefers-reduced-motion) {
  body:not(.no-js) .navigation-links::before {
    transition-property: opacity;
  }
}
body:not(.no-js) .navigation-links.no-animation::before {
  transition-property: opacity;
}
body:not(.no-js) .navigation-links:not(.hover, .focus)::before {
  opacity: 0;
}

.navigation-link {
  text-decoration: none;
  padding: var(--space-xs) var(--space);
  display: flex;
  gap: 1ch;
  align-items: center;
  border-radius: var(--ideal-radius);
  transition: background-color 300ms, outline 300ms;
  outline: 0 solid hsl(var(--primary-500));
}
.navigation-link:focus-within {
  border: none;
  box-shadow: none;
  outline: none;
  outline: 5px solid hsl(var(--primary-500));
}
body:not(.no-js) .navigation-links .navigation-link:focus-within {
  background-color: transparent;
}

body:not(.no-js) .navigation-links:not(:hover) .navigation-link:focus-within {
  outline: none;
}

.skip-link {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - 1rem));
  transition: transform 200ms;
}
.skip-link:focus-within {
  transform: translate(-50%, 1rem);
}

/* UTILITIES */
/* #region TEXT ALIGNMENT */
.text-left,
.text-align--left {
  text-align: left;
}
.text-right,
.text-align--right {
  text-align: right;
}
.text-center,
.text-align--center {
  text-align: center;
}
.text-justify,
.text-align--justify {
  text-align: justify;
}
.text-start,
.text-align--start {
  text-align: start;
}
.text-end,
.text-align--end {
  text-align: end;
}

/* #endregion */
/* #region BOX ALIGNMENT */
/* Align Items */
.ai-start, .ai--start {
  align-items: start;
}
.ai-end, .ai--end {
  align-items: end;
}
.ai-center, .ai--center {
  align-items: center;
}
.ai-stretch, .ai--stretch {
  align-items: stretch;
}

/* Align Self */
.as-start, .as--start {
  align-self: start;
}
.as-end, .as--end {
  align-self: end;
}
.as-center, .as--center {
  align-self: center;
}
.as-stretch, .as--stretch {
  align-self: stretch;
}

/* Align Content */
.ac-start, .ac--start {
  align-content: start;
}
.ac-end, .ac--end {
  align-content: end;
}
.ac-center, .ac--center {
  align-content: center;
}
.ac-stretch, .ac--stretch {
  align-content: stretch;
}

/* #endregion */
/* #region BOX JUSTIFICATION */
/* Justify Content */
.jc-start, .jc--start {
  justify-content: start;
}
.jc-end, .jc--end {
  justify-content: end;
}
.jc-center, .jc--center {
  justify-content: center;
}
.jc-stretch, .jc--stretch {
  justify-content: stretch;
}
.jc-between, .jc--between {
  justify-content: space-between;
}
.jc-around, .jc--around {
  justify-content: space-around;
}
.jc-evenly, .jc--evenly {
  justify-content: space-evenly;
}

/* Justify Items */
.ji-start, .ji--start {
  justify-items: start;
}
.ji-end, .ji--end {
  justify-items: end;
}
.ji-center, .ji--center {
  justify-items: center;
}
.ji-stretch, .ji--stretch {
  justify-items: stretch;
}

/* Justify Self */
.js-start, .js--start {
  justify-self: start;
}
.js-end, .js--end {
  justify-self: end;
}
.js-center, .js--center {
  justify-self: center;
}
.js-stretch, .js--stretch {
  justify-self: stretch;
}

/* #endregion */
.border {
  border: 1px solid hsl(var(--border-color, var(--fg-non-essential)));
}

.border-bottom {
  border-bottom: 1px solid hsl(var(--border-color, var(--fg-non-essential)));
}

.border-top {
  border-top: 1px solid hsl(var(--border-color, var(--fg-non-essential)));
}

.border-left {
  border-left: 1px solid hsl(var(--border-color, var(--fg-non-essential)));
}

.border-right {
  border-right: 1px solid hsl(var(--border-color, var(--fg-non-essential)));
}

.shadow {
  box-shadow: 0 1px 2px #0000000a, 0 3px 6px #0000000a, 0 6px 12px #0000000a, 0 9px 18px #0000000a, 0 12px 24px #0000000a, 0 15px 30px #0000000a;
}

.bg--primary {
  background-color: hsl(var(--bg-primary));
}
@media (prefers-color-scheme: dark) {
  .bg-d--primary {
    background-color: hsl(var(--bg-primary));
  }
}
@media (prefers-color-scheme: light) {
  .bg-l--primary {
    background-color: hsl(var(--bg-primary));
  }
}
.bg--secondary {
  background-color: hsl(var(--bg-secondary));
}
@media (prefers-color-scheme: dark) {
  .bg-d--secondary {
    background-color: hsl(var(--bg-secondary));
  }
}
@media (prefers-color-scheme: light) {
  .bg-l--secondary {
    background-color: hsl(var(--bg-secondary));
  }
}
.bg--accent {
  background-color: hsl(var(--bg-accent));
}
@media (prefers-color-scheme: dark) {
  .bg-d--accent {
    background-color: hsl(var(--bg-accent));
  }
}
@media (prefers-color-scheme: light) {
  .bg-l--accent {
    background-color: hsl(var(--bg-accent));
  }
}
.bg--exception {
  background-color: hsl(var(--bg-exception));
}
@media (prefers-color-scheme: dark) {
  .bg-d--exception {
    background-color: hsl(var(--bg-exception));
  }
}
@media (prefers-color-scheme: light) {
  .bg-l--exception {
    background-color: hsl(var(--bg-exception));
  }
}

.fg--contrast {
  color: hsl(var(--fg-contrast));
}
@media (prefers-color-scheme: dark) {
  .fg-d--contrast {
    color: hsl(var(--fg-contrast));
  }
}
@media (prefers-color-scheme: light) {
  .fg-l--contrast {
    color: hsl(var(--fg-contrast));
  }
}
.fg--default {
  color: hsl(var(--fg-default));
}
@media (prefers-color-scheme: dark) {
  .fg-d--default {
    color: hsl(var(--fg-default));
  }
}
@media (prefers-color-scheme: light) {
  .fg-l--default {
    color: hsl(var(--fg-default));
  }
}
.fg--subtle {
  color: hsl(var(--fg-subtle));
}
@media (prefers-color-scheme: dark) {
  .fg-d--subtle {
    color: hsl(var(--fg-subtle));
  }
}
@media (prefers-color-scheme: light) {
  .fg-l--subtle {
    color: hsl(var(--fg-subtle));
  }
}
.fg--non-essential {
  color: hsl(var(--fg-non-essential));
}
@media (prefers-color-scheme: dark) {
  .fg-d--non-essential {
    color: hsl(var(--fg-non-essential));
  }
}
@media (prefers-color-scheme: light) {
  .fg-l--non-essential {
    color: hsl(var(--fg-non-essential));
  }
}

.flex {
  display: flex;
}
.flex.end-justified {
  justify-content: flex-end;
}

.d-block {
  display: block;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}
.d-grid {
  display: grid;
}
.d-inline-grid {
  display: inline-grid;
}

.gap--none {
  gap: var(--space-none);
}
.gap--xxxl {
  gap: var(--space-xxxl);
}
.gap--xl {
  gap: var(--space-xl);
}
.gap--l {
  gap: var(--space-l);
}
.gap--m {
  gap: var(--space-m);
}
.gap--s {
  gap: var(--space-s);
}
.gap--xs {
  gap: var(--space-xs);
}
.gap--xxs {
  gap: var(--space-xxs);
}
.gap--xxxs {
  gap: var(--space-xxxs);
}

.row-gap--none {
  row-gap: var(--space-none);
}
.row-gap--xxxl {
  row-gap: var(--space-xxxl);
}
.row-gap--xl {
  row-gap: var(--space-xl);
}
.row-gap--l {
  row-gap: var(--space-l);
}
.row-gap--m {
  row-gap: var(--space-m);
}
.row-gap--s {
  row-gap: var(--space-s);
}
.row-gap--xs {
  row-gap: var(--space-xs);
}
.row-gap--xxs {
  row-gap: var(--space-xxs);
}
.row-gap--xxxs {
  row-gap: var(--space-xxxs);
}

.column-gap--none {
  column-gap: var(--space-none);
}
.column-gap--xxxl {
  column-gap: var(--space-xxxl);
}
.column-gap--xl {
  column-gap: var(--space-xl);
}
.column-gap--l {
  column-gap: var(--space-l);
}
.column-gap--m {
  column-gap: var(--space-m);
}
.column-gap--s {
  column-gap: var(--space-s);
}
.column-gap--xs {
  column-gap: var(--space-xs);
}
.column-gap--xxs {
  column-gap: var(--space-xxs);
}
.column-gap--xxxs {
  column-gap: var(--space-xxxs);
}

.margin, .m {
  margin: var(--space);
}
.margin--none, .m--none {
  margin: var(--space-none);
}
.margin-top--none, .m-top--none {
  margin-top: var(--space-none);
}
.margin-bottom--none, .m-bottom--none {
  margin-bottom: var(--space-none);
}
.margin-left--none, .m-left--none {
  margin-left: var(--space-none);
}
.margin-right--none, .m-right--none {
  margin-right: var(--space-none);
}
.margin-inline--none, .m-inline--none {
  margin-inline: var(--space-none);
}
.margin-block--none, .m-block--none {
  margin-block: var(--space-none);
}
.margin-inline-start--none, .m-inline-start--none {
  margin-inline-start: var(--space-none);
}
.margin-inline-end--none, .m-inline-end--none {
  margin-inline-end: var(--space-none);
}
.margin-block-start--none, .m-block-start--none {
  margin-block-start: var(--space-none);
}
.margin-block-end--none, .m-block-end--none {
  margin-block-end: var(--space-none);
}
.margin--auto, .m--auto {
  margin: var(--space-auto);
}
.margin-top--auto, .m-top--auto {
  margin-top: var(--space-auto);
}
.margin-bottom--auto, .m-bottom--auto {
  margin-bottom: var(--space-auto);
}
.margin-left--auto, .m-left--auto {
  margin-left: var(--space-auto);
}
.margin-right--auto, .m-right--auto {
  margin-right: var(--space-auto);
}
.margin-inline--auto, .m-inline--auto {
  margin-inline: var(--space-auto);
}
.margin-block--auto, .m-block--auto {
  margin-block: var(--space-auto);
}
.margin-inline-start--auto, .m-inline-start--auto {
  margin-inline-start: var(--space-auto);
}
.margin-inline-end--auto, .m-inline-end--auto {
  margin-inline-end: var(--space-auto);
}
.margin-block-start--auto, .m-block-start--auto {
  margin-block-start: var(--space-auto);
}
.margin-block-end--auto, .m-block-end--auto {
  margin-block-end: var(--space-auto);
}
.margin--xxxl, .m--xxxl {
  margin: var(--space-xxxl);
}
.margin-top--xxxl, .m-top--xxxl {
  margin-top: var(--space-xxxl);
}
.margin-bottom--xxxl, .m-bottom--xxxl {
  margin-bottom: var(--space-xxxl);
}
.margin-left--xxxl, .m-left--xxxl {
  margin-left: var(--space-xxxl);
}
.margin-right--xxxl, .m-right--xxxl {
  margin-right: var(--space-xxxl);
}
.margin-inline--xxxl, .m-inline--xxxl {
  margin-inline: var(--space-xxxl);
}
.margin-block--xxxl, .m-block--xxxl {
  margin-block: var(--space-xxxl);
}
.margin-inline-start--xxxl, .m-inline-start--xxxl {
  margin-inline-start: var(--space-xxxl);
}
.margin-inline-end--xxxl, .m-inline-end--xxxl {
  margin-inline-end: var(--space-xxxl);
}
.margin-block-start--xxxl, .m-block-start--xxxl {
  margin-block-start: var(--space-xxxl);
}
.margin-block-end--xxxl, .m-block-end--xxxl {
  margin-block-end: var(--space-xxxl);
}
.margin--xl, .m--xl {
  margin: var(--space-xl);
}
.margin-top--xl, .m-top--xl {
  margin-top: var(--space-xl);
}
.margin-bottom--xl, .m-bottom--xl {
  margin-bottom: var(--space-xl);
}
.margin-left--xl, .m-left--xl {
  margin-left: var(--space-xl);
}
.margin-right--xl, .m-right--xl {
  margin-right: var(--space-xl);
}
.margin-inline--xl, .m-inline--xl {
  margin-inline: var(--space-xl);
}
.margin-block--xl, .m-block--xl {
  margin-block: var(--space-xl);
}
.margin-inline-start--xl, .m-inline-start--xl {
  margin-inline-start: var(--space-xl);
}
.margin-inline-end--xl, .m-inline-end--xl {
  margin-inline-end: var(--space-xl);
}
.margin-block-start--xl, .m-block-start--xl {
  margin-block-start: var(--space-xl);
}
.margin-block-end--xl, .m-block-end--xl {
  margin-block-end: var(--space-xl);
}
.margin--l, .m--l {
  margin: var(--space-l);
}
.margin-top--l, .m-top--l {
  margin-top: var(--space-l);
}
.margin-bottom--l, .m-bottom--l {
  margin-bottom: var(--space-l);
}
.margin-left--l, .m-left--l {
  margin-left: var(--space-l);
}
.margin-right--l, .m-right--l {
  margin-right: var(--space-l);
}
.margin-inline--l, .m-inline--l {
  margin-inline: var(--space-l);
}
.margin-block--l, .m-block--l {
  margin-block: var(--space-l);
}
.margin-inline-start--l, .m-inline-start--l {
  margin-inline-start: var(--space-l);
}
.margin-inline-end--l, .m-inline-end--l {
  margin-inline-end: var(--space-l);
}
.margin-block-start--l, .m-block-start--l {
  margin-block-start: var(--space-l);
}
.margin-block-end--l, .m-block-end--l {
  margin-block-end: var(--space-l);
}
.margin--m, .m--m {
  margin: var(--space-m);
}
.margin-top--m, .m-top--m {
  margin-top: var(--space-m);
}
.margin-bottom--m, .m-bottom--m {
  margin-bottom: var(--space-m);
}
.margin-left--m, .m-left--m {
  margin-left: var(--space-m);
}
.margin-right--m, .m-right--m {
  margin-right: var(--space-m);
}
.margin-inline--m, .m-inline--m {
  margin-inline: var(--space-m);
}
.margin-block--m, .m-block--m {
  margin-block: var(--space-m);
}
.margin-inline-start--m, .m-inline-start--m {
  margin-inline-start: var(--space-m);
}
.margin-inline-end--m, .m-inline-end--m {
  margin-inline-end: var(--space-m);
}
.margin-block-start--m, .m-block-start--m {
  margin-block-start: var(--space-m);
}
.margin-block-end--m, .m-block-end--m {
  margin-block-end: var(--space-m);
}
.margin--s, .m--s {
  margin: var(--space-s);
}
.margin-top--s, .m-top--s {
  margin-top: var(--space-s);
}
.margin-bottom--s, .m-bottom--s {
  margin-bottom: var(--space-s);
}
.margin-left--s, .m-left--s {
  margin-left: var(--space-s);
}
.margin-right--s, .m-right--s {
  margin-right: var(--space-s);
}
.margin-inline--s, .m-inline--s {
  margin-inline: var(--space-s);
}
.margin-block--s, .m-block--s {
  margin-block: var(--space-s);
}
.margin-inline-start--s, .m-inline-start--s {
  margin-inline-start: var(--space-s);
}
.margin-inline-end--s, .m-inline-end--s {
  margin-inline-end: var(--space-s);
}
.margin-block-start--s, .m-block-start--s {
  margin-block-start: var(--space-s);
}
.margin-block-end--s, .m-block-end--s {
  margin-block-end: var(--space-s);
}
.margin--xs, .m--xs {
  margin: var(--space-xs);
}
.margin-top--xs, .m-top--xs {
  margin-top: var(--space-xs);
}
.margin-bottom--xs, .m-bottom--xs {
  margin-bottom: var(--space-xs);
}
.margin-left--xs, .m-left--xs {
  margin-left: var(--space-xs);
}
.margin-right--xs, .m-right--xs {
  margin-right: var(--space-xs);
}
.margin-inline--xs, .m-inline--xs {
  margin-inline: var(--space-xs);
}
.margin-block--xs, .m-block--xs {
  margin-block: var(--space-xs);
}
.margin-inline-start--xs, .m-inline-start--xs {
  margin-inline-start: var(--space-xs);
}
.margin-inline-end--xs, .m-inline-end--xs {
  margin-inline-end: var(--space-xs);
}
.margin-block-start--xs, .m-block-start--xs {
  margin-block-start: var(--space-xs);
}
.margin-block-end--xs, .m-block-end--xs {
  margin-block-end: var(--space-xs);
}
.margin--xxs, .m--xxs {
  margin: var(--space-xxs);
}
.margin-top--xxs, .m-top--xxs {
  margin-top: var(--space-xxs);
}
.margin-bottom--xxs, .m-bottom--xxs {
  margin-bottom: var(--space-xxs);
}
.margin-left--xxs, .m-left--xxs {
  margin-left: var(--space-xxs);
}
.margin-right--xxs, .m-right--xxs {
  margin-right: var(--space-xxs);
}
.margin-inline--xxs, .m-inline--xxs {
  margin-inline: var(--space-xxs);
}
.margin-block--xxs, .m-block--xxs {
  margin-block: var(--space-xxs);
}
.margin-inline-start--xxs, .m-inline-start--xxs {
  margin-inline-start: var(--space-xxs);
}
.margin-inline-end--xxs, .m-inline-end--xxs {
  margin-inline-end: var(--space-xxs);
}
.margin-block-start--xxs, .m-block-start--xxs {
  margin-block-start: var(--space-xxs);
}
.margin-block-end--xxs, .m-block-end--xxs {
  margin-block-end: var(--space-xxs);
}
.margin--xxxs, .m--xxxs {
  margin: var(--space-xxxs);
}
.margin-top--xxxs, .m-top--xxxs {
  margin-top: var(--space-xxxs);
}
.margin-bottom--xxxs, .m-bottom--xxxs {
  margin-bottom: var(--space-xxxs);
}
.margin-left--xxxs, .m-left--xxxs {
  margin-left: var(--space-xxxs);
}
.margin-right--xxxs, .m-right--xxxs {
  margin-right: var(--space-xxxs);
}
.margin-inline--xxxs, .m-inline--xxxs {
  margin-inline: var(--space-xxxs);
}
.margin-block--xxxs, .m-block--xxxs {
  margin-block: var(--space-xxxs);
}
.margin-inline-start--xxxs, .m-inline-start--xxxs {
  margin-inline-start: var(--space-xxxs);
}
.margin-inline-end--xxxs, .m-inline-end--xxxs {
  margin-inline-end: var(--space-xxxs);
}
.margin-block-start--xxxs, .m-block-start--xxxs {
  margin-block-start: var(--space-xxxs);
}
.margin-block-end--xxxs, .m-block-end--xxxs {
  margin-block-end: var(--space-xxxs);
}

.padding {
  padding: var(--space);
}
.padding--none {
  padding: var(--space-none);
}
.padding-top--none {
  padding-top: var(--space-none);
}
.padding-bottom--none {
  padding-bottom: var(--space-none);
}
.padding-left--none {
  padding-left: var(--space-none);
}
.padding-right--none {
  padding-right: var(--space-none);
}
.padding-inline--none {
  padding-inline: var(--space-none);
}
.padding-block--none {
  padding-block: var(--space-none);
}
.padding-inline-start--none {
  padding-inline-start: var(--space-none);
}
.padding-inline-end--none {
  padding-inline-end: var(--space-none);
}
.padding-block-start--none {
  padding-block-start: var(--space-none);
}
.padding-block-end--none {
  padding-block-end: var(--space-none);
}
.padding--xxxl {
  padding: var(--space-xxxl);
}
.padding-top--xxxl {
  padding-top: var(--space-xxxl);
}
.padding-bottom--xxxl {
  padding-bottom: var(--space-xxxl);
}
.padding-left--xxxl {
  padding-left: var(--space-xxxl);
}
.padding-right--xxxl {
  padding-right: var(--space-xxxl);
}
.padding-inline--xxxl {
  padding-inline: var(--space-xxxl);
}
.padding-block--xxxl {
  padding-block: var(--space-xxxl);
}
.padding-inline-start--xxxl {
  padding-inline-start: var(--space-xxxl);
}
.padding-inline-end--xxxl {
  padding-inline-end: var(--space-xxxl);
}
.padding-block-start--xxxl {
  padding-block-start: var(--space-xxxl);
}
.padding-block-end--xxxl {
  padding-block-end: var(--space-xxxl);
}
.padding--xxl {
  padding: var(--space-xxl);
}
.padding-top--xxl {
  padding-top: var(--space-xxl);
}
.padding-bottom--xxl {
  padding-bottom: var(--space-xxl);
}
.padding-left--xxl {
  padding-left: var(--space-xxl);
}
.padding-right--xxl {
  padding-right: var(--space-xxl);
}
.padding-inline--xxl {
  padding-inline: var(--space-xxl);
}
.padding-block--xxl {
  padding-block: var(--space-xxl);
}
.padding-inline-start--xxl {
  padding-inline-start: var(--space-xxl);
}
.padding-inline-end--xxl {
  padding-inline-end: var(--space-xxl);
}
.padding-block-start--xxl {
  padding-block-start: var(--space-xxl);
}
.padding-block-end--xxl {
  padding-block-end: var(--space-xxl);
}
.padding--xl {
  padding: var(--space-xl);
}
.padding-top--xl {
  padding-top: var(--space-xl);
}
.padding-bottom--xl {
  padding-bottom: var(--space-xl);
}
.padding-left--xl {
  padding-left: var(--space-xl);
}
.padding-right--xl {
  padding-right: var(--space-xl);
}
.padding-inline--xl {
  padding-inline: var(--space-xl);
}
.padding-block--xl {
  padding-block: var(--space-xl);
}
.padding-inline-start--xl {
  padding-inline-start: var(--space-xl);
}
.padding-inline-end--xl {
  padding-inline-end: var(--space-xl);
}
.padding-block-start--xl {
  padding-block-start: var(--space-xl);
}
.padding-block-end--xl {
  padding-block-end: var(--space-xl);
}
.padding--l {
  padding: var(--space-l);
}
.padding-top--l {
  padding-top: var(--space-l);
}
.padding-bottom--l {
  padding-bottom: var(--space-l);
}
.padding-left--l {
  padding-left: var(--space-l);
}
.padding-right--l {
  padding-right: var(--space-l);
}
.padding-inline--l {
  padding-inline: var(--space-l);
}
.padding-block--l {
  padding-block: var(--space-l);
}
.padding-inline-start--l {
  padding-inline-start: var(--space-l);
}
.padding-inline-end--l {
  padding-inline-end: var(--space-l);
}
.padding-block-start--l {
  padding-block-start: var(--space-l);
}
.padding-block-end--l {
  padding-block-end: var(--space-l);
}
.padding--m {
  padding: var(--space-m);
}
.padding-top--m {
  padding-top: var(--space-m);
}
.padding-bottom--m {
  padding-bottom: var(--space-m);
}
.padding-left--m {
  padding-left: var(--space-m);
}
.padding-right--m {
  padding-right: var(--space-m);
}
.padding-inline--m {
  padding-inline: var(--space-m);
}
.padding-block--m {
  padding-block: var(--space-m);
}
.padding-inline-start--m {
  padding-inline-start: var(--space-m);
}
.padding-inline-end--m {
  padding-inline-end: var(--space-m);
}
.padding-block-start--m {
  padding-block-start: var(--space-m);
}
.padding-block-end--m {
  padding-block-end: var(--space-m);
}
.padding--s {
  padding: var(--space-s);
}
.padding-top--s {
  padding-top: var(--space-s);
}
.padding-bottom--s {
  padding-bottom: var(--space-s);
}
.padding-left--s {
  padding-left: var(--space-s);
}
.padding-right--s {
  padding-right: var(--space-s);
}
.padding-inline--s {
  padding-inline: var(--space-s);
}
.padding-block--s {
  padding-block: var(--space-s);
}
.padding-inline-start--s {
  padding-inline-start: var(--space-s);
}
.padding-inline-end--s {
  padding-inline-end: var(--space-s);
}
.padding-block-start--s {
  padding-block-start: var(--space-s);
}
.padding-block-end--s {
  padding-block-end: var(--space-s);
}
.padding--xs {
  padding: var(--space-xs);
}
.padding-top--xs {
  padding-top: var(--space-xs);
}
.padding-bottom--xs {
  padding-bottom: var(--space-xs);
}
.padding-left--xs {
  padding-left: var(--space-xs);
}
.padding-right--xs {
  padding-right: var(--space-xs);
}
.padding-inline--xs {
  padding-inline: var(--space-xs);
}
.padding-block--xs {
  padding-block: var(--space-xs);
}
.padding-inline-start--xs {
  padding-inline-start: var(--space-xs);
}
.padding-inline-end--xs {
  padding-inline-end: var(--space-xs);
}
.padding-block-start--xs {
  padding-block-start: var(--space-xs);
}
.padding-block-end--xs {
  padding-block-end: var(--space-xs);
}
.padding--xxs {
  padding: var(--space-xxs);
}
.padding-top--xxs {
  padding-top: var(--space-xxs);
}
.padding-bottom--xxs {
  padding-bottom: var(--space-xxs);
}
.padding-left--xxs {
  padding-left: var(--space-xxs);
}
.padding-right--xxs {
  padding-right: var(--space-xxs);
}
.padding-inline--xxs {
  padding-inline: var(--space-xxs);
}
.padding-block--xxs {
  padding-block: var(--space-xxs);
}
.padding-inline-start--xxs {
  padding-inline-start: var(--space-xxs);
}
.padding-inline-end--xxs {
  padding-inline-end: var(--space-xxs);
}
.padding-block-start--xxs {
  padding-block-start: var(--space-xxs);
}
.padding-block-end--xxs {
  padding-block-end: var(--space-xxs);
}
.padding--xxxs {
  padding: var(--space-xxxs);
}
.padding-top--xxxs {
  padding-top: var(--space-xxxs);
}
.padding-bottom--xxxs {
  padding-bottom: var(--space-xxxs);
}
.padding-left--xxxs {
  padding-left: var(--space-xxxs);
}
.padding-right--xxxs {
  padding-right: var(--space-xxxs);
}
.padding-inline--xxxs {
  padding-inline: var(--space-xxxs);
}
.padding-block--xxxs {
  padding-block: var(--space-xxxs);
}
.padding-inline-start--xxxs {
  padding-inline-start: var(--space-xxxs);
}
.padding-inline-end--xxxs {
  padding-inline-end: var(--space-xxxs);
}
.padding-block-start--xxxs {
  padding-block-start: var(--space-xxxs);
}
.padding-block-end--xxxs {
  padding-block-end: var(--space-xxxs);
}

.full-height {
  min-height: 100%;
}

.full-vh {
  min-height: 100vh;
}

/* #region CASES */
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

/* #endregion */
/* #region ALIGNMENT */
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}

/* #endregion */
/* #region WEIGHTS */
.weight-normal {
  font-weight: normal;
}
.weight-bold {
  font-weight: bold;
}
.weight-100 {
  font-weight: 100;
}
.weight-200 {
  font-weight: 200;
}
.weight-300 {
  font-weight: 300;
}
.weight-400 {
  font-weight: 400;
}
.weight-500 {
  font-weight: 500;
}
.weight-600 {
  font-weight: 600;
}
.weight-700 {
  font-weight: 700;
}
.weight-800 {
  font-weight: 800;
}
.weight-900 {
  font-weight: 900;
}

/* #endregion */
/* #region LETTER SPACING */
.ls-xs {
  letter-spacing: 0.5px;
}
.ls-s {
  letter-spacing: 0.75px;
}
.ls-m {
  letter-spacing: 1px;
}
.ls-l {
  letter-spacing: 1.5px;
}
.ls-xxl {
  letter-spacing: 2px;
}
.ls-xxxl {
  letter-spacing: 3px;
}

/* #endregion */
/* #region FONT FAMILIES */
.font-display {
  font-family: var(--font-display);
}

.font-sans {
  font-family: var(--font-sans);
}

/* #endregion */
/* #region FONT SIZES */
.fs-1 {
  font-size: var(--type-size-1);
}

.fs-1.responsive {
  font-size: clamp(
      var(--type-size-2),
      9vw,
      var(--type-size-1)
    );
}

.fs-2 {
  font-size: var(--type-size-2);
}

.fs-2.responsive {
  font-size: clamp(
      var(--type-size-3),
      8vw,
      var(--type-size-2)
    );
}

.fs-3 {
  font-size: var(--type-size-3);
}

.fs-3.responsive {
  font-size: clamp(
      var(--type-size-4),
      7vw,
      var(--type-size-3)
    );
}

.fs-4 {
  font-size: var(--type-size-4);
}

.fs-4.responsive {
  font-size: clamp(
      var(--type-size-5),
      6vw,
      var(--type-size-4)
    );
}

.fs-5 {
  font-size: var(--type-size-5);
}

.fs-5.responsive {
  font-size: clamp(
      var(--type-size-6),
      5vw,
      var(--type-size-5)
    );
}

.fs-6 {
  font-size: var(--type-size-6);
}

.fs-6.responsive {
  font-size: clamp(
      var(--type-size-7),
      4vw,
      var(--type-size-6)
    );
}

.fs-7 {
  font-size: var(--type-size-7);
}

.fs-7.responsive {
  font-size: clamp(
      var(--type-size-8),
      3vw,
      var(--type-size-7)
    );
}

.fs-8 {
  font-size: var(--type-size-8);
  line-height: 1;
}

.fs-8.responsive {
  font-size: clamp(
      var(--type-size-9),
      2vw,
      var(--type-size-8)
    );
}

.fs-9 {
  font-size: var(--type-size-9);
  line-height: 1;
}

.fs-9.responsive {
  font-size: clamp(
      var(--type-size-10),
      1vw,
      var(--type-size-9)
    );
}

/* #endregion */
/* #region LINE HEIGHTS */
.lh-xxxs {
  line-height: 0.5;
}
.lh-xxs {
  line-height: 0.75;
}
.lh-xs {
  line-height: 0.8;
}
.lh-s {
  line-height: 1;
}
.lh-m {
  line-height: 1.25;
}
.lh-l {
  line-height: 1.5;
}
.lh-xl {
  line-height: 1.75;
}
.lh-xxl {
  line-height: 2;
}
.lh-xxxl {
  line-height: 3;
}

/* #endregion */
.quotation {
  text-align: end;
  border-inline-end: 3px solid hsl(var(--primary-100));
  padding: var(--space);
}
.quotation blockquote {
  font-family: var(--font-mono);
  font-size: var(--type-size-3);
  line-height: 1.2;
  font-variation-settings: "CRSV" 1, "CASL" 0.5;
  font-weight: 350;
}
.quotation cite {
  font-style: normal;
}
.quotation figcaption::before {
  content: "— ";
}

.footnotes {
  margin-top: var(--space-xxl);
  font-size: 0.8rem;
  background-image: linear-gradient(hsl(var(--fg-default)), hsl(var(--fg-default)));
  background-repeat: no-repeat;
  background-size: 35ch 1px;
  background-position: top left;
  padding-top: var(--space);
}

.font-sans {
  font-family: var(--font-sans);
}
.font-serif {
  font-family: var(--font-serif);
}
.font-display {
  font-family: var(--font-display);
}
.font-display-serif {
  font-family: var(--font-display-serif);
}
.font-body {
  font-family: var(--font-body);
}

.multi-column {
  columns: 2 35ch;
}

.sr-only, .navigation-link-label,
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.hidden {
  display: none;
}

@media (max-width: 800px) {
  .hide-on-mobile {
    display: none;
  }
}

@media (min-width: 801px) {
  .show-on-mobile {
    display: none;
  }
}

.light,
:root {
  --fg-contrast: var(--d-contrast);
  --fg-default: var(--d-default);
  --fg-subtle: var(--d-subtle);
  --fg-non-essential: var(--d-non-essential);
  --bg-primary: var(--l-contrast);
  --bg-secondary: var(--l-default);
  --bg-accent: var(--l-subtle);
  --bg-exception: var(--l-non-essential);
}
@media (prefers-color-scheme: dark) {
  .light,
:root {
    --fg-contrast: var(--l-contrast);
    --fg-default: var(--l-default);
    --fg-subtle: var(--l-subtle);
    --fg-non-essential: var(--l-non-essential);
    --bg-primary: var(--d-default);
    --bg-secondary: var(--d-default);
    --bg-accent: var(--d-subtle);
    --bg-exception: var(--d-non-essential);
  }
}

.dark {
  --fg-contrast: var(--l-contrast);
  --fg-default: var(--l-default);
  --fg-subtle: var(--l-subtle);
  --fg-non-essential: var(--l-non-essential);
  --bg-primary: var(--d-default);
  --bg-secondary: var(--d-default);
  --bg-accent: var(--d-subtle);
  --bg-exception: var(--d-non-essential);
}

.light,
.dark,
body {
  color: hsl(var(--fg-contrast)/80%);
}

:root {
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

body {
  background-color: hsl(var(--bg-primary));
  font-family: var(--font-body);
  font-size: var(--type-size);
  scroll-behavior: smooth;
  display: grid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(var(--fg-contrast));
  font-family: var(--font-display);
}

h1 {
  font-size: var(--type-size-1);
}

h1.responsive {
  font-size: clamp(
      var(--type-size-2),
      9vw,
      var(--type-size-1)
    );
}

h2 {
  font-size: var(--type-size-2);
}

h2.responsive {
  font-size: clamp(
      var(--type-size-3),
      8vw,
      var(--type-size-2)
    );
}

h3 {
  font-size: var(--type-size-3);
}

h3.responsive {
  font-size: clamp(
      var(--type-size-4),
      7vw,
      var(--type-size-3)
    );
}

h4 {
  font-size: var(--type-size-4);
}

h4.responsive {
  font-size: clamp(
      var(--type-size-5),
      6vw,
      var(--type-size-4)
    );
}

h5 {
  font-size: var(--type-size-5);
}

h5.responsive {
  font-size: clamp(
      var(--type-size-6),
      5vw,
      var(--type-size-5)
    );
}

.feathericon {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  fill: none;
  stroke: currentColor;
  stroke-width: 2px;
  stroke-linejoin: unset;
  stroke-linecap: round;
}

a {
  box-decoration-break: clone;
  color: hsl(var(--fg-default));
  text-decoration: underline solid hsl(var(--primary-500));
}
@media (prefers-color-scheme: dark) {
  a {
    color: hsl(var(--primary-100));
    text-decoration-color: hsl(var(--primary-700));
  }
}
a:hover {
  color: hsl(var(--primary-500));
  text-decoration-color: hsl(var(--fg-default));
}
a:focus-visible {
  color: hsl(var(--primary-900));
  background-color: hsl(var(--primary-100));
  box-shadow: 0 0 0 10px hsl(var(--primary-100));
  outline: 5px solid hsl(var(--primary-100));
}
@media (prefers-color-scheme: dark) {
  a:focus-visible {
    color: hsl(var(--primary-100));
    background-color: hsl(var(--primary-900));
    box-shadow: 0 0 0 10px hsl(var(--primary-900));
    outline: 5px solid hsl(var(--primary-900));
  }
}
a:focus-visible {
  box-shadow: 0 0 0 10px hsl(var(--primary-300));
}
@media (prefers-color-scheme: dark) {
  a:focus-visible {
    box-shadow: 0 0 0 10px hsl(var(--primary-700));
  }
}

:target {
  animation: notify 300ms;
  animation-delay: 1000ms;
}

@keyframes notify {
  from {
    outline: 5px solid hsl(var(--primary-500));
    outline-offset: 0;
  }
  to {
    outline: 5px solid hsl(var(--primary-500)/0%);
    outline-offset: 1rem;
  }
}
#main {
  margin-top: 5.5rem;
}
#main.bleed {
  margin-top: 0;
}

code,
var,
samp {
  font-family: var(--font-mono);
  font-variation-settings: "MONO" 1, "CASL" 1, "CRSV" 1;
  font-weight: 390;
}

:root {
  scrollbar-color: hsl(var(--bg-accent)) hsl(var(--bg-primary));
}

*::-webkit-scrollbar {
  width: 0.75em;
  height: 0.75em;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--bg-accent));
  border: 3px solid hsl(var(--bg-primary));
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background-color: hsl(var(--bg-primary));
  border-radius: var(--ideal-radius);
}

.no-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.no-list li:before {
  content: "​";
  position: absolute;
}