{% extends 'layouts/main.njk' %}
{% block content %}
  {% include 'components/navigation.njk' %}
  <main id="main" class="padding--l article gallery-layout" tabindex="-1" aria-labelledby="{{ title | slugify }}">
    <header class="article__header" style="width: min(100ch, 100%); margin-inline: auto;">
      <div class="ai--center cluster margin-bottom--l lh-s">
        <a href="/gallery/" class="button jc--start padding--xs">Gallery</a>
        <span>/</span>
        <span class="d-flex font-sans jc--start">This collection</span>
      </div>
      <h1 id="{{ title | slugify }}" class="p-name article__title margin--none responsive">{{ title | safe }}</h1>
      <p class="p-summary responsive fs-4 weight-300">{{ description }}</p>
      <div class="spaced cluster">
        <div>
          Curated by <a rel="author" class="p-author h-card" href="{{ authors[author].url }}">
            <span class="p-name">{{ authors[author].name }}</span>
            <img class="u-photo hidden" src="{{ authors[author].photo }}"/>
          </a>
          
          on <time class="dt-published" datetime="{{ page.date | machineReadableDate }}">
            <a class="u-url" href="./">{{ page.date | humanReadableDate }}</a>
          </time>
        </div>
      </div>
    </header>
    <div class="gallery-grid" style="width: min(120ch, 100%); margin-inline: auto;">
      {% for image in entries %}
        <figure class="gallery-card">
          {% set formats =  formats if formats else types %}
          {% set filename = '/gallery/' + folder + '/' + image.key %}
          {% set width = image.width %}
          {% set height = image.height %}
          <a class="gallery-card__link no-arrow" href="{{ site.api.images }}{{ filename }}" target="_blank">
            {% include "components/cdn-picture.njk" %}
          </a>
          {% if image.caption %}
          <figcaption class="gallery-card__caption">
            <p>{{ image.caption | safe }}</p>
          </figcaption>
          {% elif image.credits %}
          <figcaption class="gallery-card__caption gallery-card__caption--credits">
            <p>{{ image.credits | safe }}</p>
          </figcaption>
          {% endif %}
        </figure>
      {% endfor %}
    </div>

    <footer class="stack gap--xl m-block--xxxl" style="text-align: center; margin-inline: auto; width: min(var(--content-width), 90%);">
      <div class="section__header">
        <hgroup role="group">
          <h2 class="section__subtitle fs-3">I also serve visuals somewhere else.</h2>
          <p style="text-align: left;">Drag, make up, outfits, places, and moments. I post most of them on Instagram.</p>
        </hgroup>
      </div>
      <div class="stack ai--center gap--s">
        <a href="{{ site.contact.instagram.url }}" class="primary button" target="blank" rel="noopener">
          {{ "instagram" | icon | safe }}
          <span>Follow me on Instagram</span>
        </a>
      </div>
    </footer>
  </main>
  {% include 'components/footer.njk' %}
{% endblock %}