{% extends "layouts/base.njk" %}

{% block content %}
  {% include 'components/ui/navigation-bar.njk' %}
  <main id="main" tabindex="-1" aria-label="Main content" class="page">
    {{ content | safe }}
  </main>
  {% include 'components/footer.njk' %}
{% endblock %}