{% extends "layouts/base.njk" %}

{% block content %}
  {% include 'components/navigation.njk' %}
  <main id="main" tabindex="-1" aria-label="Main content">
    {{ content | safe }}
  </main>
  {% include 'components/footer.njk' %}
{% endblock %}