{% extends 'layouts/base.njk' %}

{% block content %}
  {% include 'components/navigation.njk' %}
  <main style="width: min(100ch, 100%); margin-inline: auto;" class="h-entry padding--xl article" id="main" tabindex="-1" aria-labelledby="{{ title | slugify }}">
    <header class="article__header">
      <div class="ai--center cluster margin-bottom--l lh-s">
        <a href="/writing/" class="button jc--start padding--xs">Writing</a>
        <span>/</span>
        <span class="d-flex font-sans jc--start">This post</span>
      </div>
      <h1 id="{{ title | slugify }}" class="p-name article__title margin--none responsive">{{ title | safe }}</h1>
      <p class="p-summary responsive fs-4 weight-300">{{ description }}</p>
      <div class="spaced cluster">
        <div>
          by <a rel="author" class="p-author h-card" href="{{ authors[author].url }}">
            <span class="p-name">{{ authors[author].name }}</span>
            <img class="u-photo hidden" src="{{ authors[author].photo }}"/>
          </a>
          
          on <time class="dt-published" datetime="{{ page.date | machineReadableDate }}">
            <a class="u-url" href="./">{{ page.date | humanReadableDate }}</a>
          </time>
        </div>
        <div class="category-pill">
          {% for item in category %}
          <div class="p-category category-pill__inner category-pill__category">{{ item }}</div>
          {% endfor %}
          <div class="category-pill__inner category-pill__read-time">{{ content | timeToRead }}</div>
        </div>
      </div>
    </header>
    <div class="with-sidebar float-on-mobile">
      <div class="sidebar article__sidebar border--none margin--none" style="--sidebar-width: 20ch">
        {{ content | toc | safe }}
        <div class="webmentions webmentions--summary hidden" aria-label="Web Mentions Summary" data-webmention-container>
          <a href="#webmention-likes-repost" class="webmention__statistic">
            {% set feathericon = "heart" %}
            {% include 'components/feathericon.njk' %}
            <span data-webmention="like"></span>
            <span class="webmention__statistic-label">Likes</span>
          </a>
          <a href="#webmention-likes-repost" class="webmention__statistic">
            {% set feathericon = "at-sign" %}
            {% include 'components/feathericon.njk' %}
            <span data-webmention="mention"></span>
            <span class="webmention__statistic-label">Mentions</span>
          </a>
          <a href="#webmention-replies" class="webmention__statistic">
            {% set feathericon = "message-circle" %}
            {% include 'components/feathericon.njk' %}
            <span data-webmention="reply"></span>
            <span class="webmention__statistic-label">Replies</span>
          </a>
        </div>
      </div>
      <div class="article__body not-sidebar e-content">
        {{ content | safe }}
      </div>
    </div>
    <footer class="stack padding--l">
      {% include 'components/webmentions.njk' %}
      <div class="content-wrapper margin--auto text-center">
        <h2 class="fs-4">Share</h2>
        <p>Found this helpful? Tell other people about it!</p>
        <ul class="margin-top--m cluster margin-inline--auto jc-center" style="list-style: none;">
          <li>
            <a 
            href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" 
            target="_blank"
            rel="noopener"
            class="button no-arrow">
              {% set feathericon = 'facebook' %}
              {% include 'components/feathericon.njk' %}
              <spa>Share to Facebook</spa>
            </a>
          </li>
          <li>
            <a 
            href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}" 
            target="_blank"
            rel="noopener"
            class="button no-arrow">
              {% set feathericon = 'twitter' %}
              {% include 'components/feathericon.njk' %}
              <span>Tweet this post</span>
            </a>
          </li>
          <li>
            <button class="button" data-copy="page-link">
              {% set feathericon = 'clipboard' %}
              {% include 'components/feathericon.njk' %}
              <span>Copy link</span>
            </button>
            <input type="text" id="page-link" value="{{ site.url }}{{ page.url }}" class="sr-only" aria-hidden="true">
          </li>
        </ul>
      </div>
    </footer>
  </main>
  {% include 'components/footer.njk' %}
{% endblock %}

{% block scripts %}
  <a href="https://brid.gy/publish/mastodon" class="hidden"></a>
  <script>
    const siteData = {{ site | dump | safe }}
  </script>
  <script src="/assets/scripts/webmentions.js"></script>
{% endblock %}