{% extends 'layouts/base.njk' %}

{% block content %}
  {% include 'components/navigation.njk' %}
  <main style="width: min(100ch, 100%); margin-inline: auto;" class="h-entry padding--xl article" id="main" tabindex="-1" aria-labelledby="{{ title | slugify }}">
    <header class="article__header">
      {% set postType = postType if postType else 
        'post' %}
      {% set sizes = cover.sizes %}
      {% set alt = "" %}
      {% set width = 600 %}
      {% set height = 350 %}
      {% set formats = cover.types %}

      {% set filename = '/posts/' + cover.folder + '/' + cover.filename %}
      {% if cover.header %}
        {% set filename = '/posts/' + cover.folder + '/' + cover.header %}
      {% endif %}

      {% set defaultImageClass = "article__image" %}
      {% set focus = cover.focus %}
      {% include "components/cdn-picture.njk" %}
      <div class="spaced cluster ai--center">
        <nav class="breadcrumb" aria-label="Breadcrumbs">
          <ol class="breadcrumb__list">
            <li class="breadcrumb__list-item">
              <a href="/" class="breadcrumb__link" data-animation="button">Frontpage</a>
            </li>
            <li class="breadcrumb__list-item">
              <a href="/writing/" class="breadcrumb__link" data-animation="button">Writing</a>
            </li>
            <li class="breadcrumb__list-item">
              <a aria-current="location" class="breadcrumb__link" data-animation="button">This page</a>
            </li>
          </ol>
        </nav>
        {% if translations != null %}
          <p>
            Read this in:
            <span class="cluster cluster--inline gap--xs ai--center">
              {% for lang in translations %}
                <a href="{{ lang.url }}" class="button button--small">{{ lang.label }}</a>
              {% endfor %}
            </span>
          </p>
        {% endif %}
      </div>
      <h1 id="{{ title | slugify }}" class="p-name article__title margin--none responsive">{{ title | safe }}</h1>
      <p class="p-summary responsive fs-4 weight-300">{{ description }}</p>
      <div class="spaced cluster ai--center">
        <div>
          by <a rel="author" class="p-author h-card" href="{{ authors[author].url }}">
            <span class="p-name">{{ authors[author].name }}</span>
            <img class="u-photo hidden" src="{{ authors[author].photo }}"/>
          </a>
          
          on <time class="dt-published" datetime="{{ page.date | machineReadableDate }}">
            <a class="u-url" href="./">{{ page.date | humanReadableDate }}</a>
          </time>
        </div>
        <div class="category-pill">
          {% for item in category %}
            <a href="/writing/categories/{{ item | slugify }}" class="p-category category-pill__inner category-pill__category">{{ item }}</a>
          {% endfor %}
          <div class="category-pill__inner category-pill__read-time">{{ content | timeToRead }}</div>
        </div>
      </div>
    </header>
    <div class="with-sidebar float-on-mobile">
      <div class="sidebar article__sidebar border--none margin--none" style="--sidebar-width: 20ch">
        {{ content | toc | safe }}
        <div class="webmentions webmentions--summary hidden" aria-label="Web Mentions Summary" data-webmention-container>
          <a href="#webmention-likes-repost" class="webmention__statistic">
            {% set feathericon = "heart" %}
            {% include 'components/feathericon.njk' %}
            <span data-webmention="like"></span>
            <span class="webmention__statistic-label">Likes</span>
          </a>
          <a href="#webmention-likes-repost" class="webmention__statistic">
            {% set feathericon = "refresh-cw" %}
            {% include 'components/feathericon.njk' %}
            <span data-webmention="repost"></span>
            <span class="webmention__statistic-label">Reposts</span>
          </a>
          <a href="#webmention-replies" class="webmention__statistic">
            {% set feathericon = "message-circle" %}
            {% include 'components/feathericon.njk' %}
            <span data-webmention="reply"></span>
            <span class="webmention__statistic-label">Replies</span>
          </a>
        </div>
      </div>
      <div class="article__body not-sidebar e-content">
        {{ content | safe }}
      </div>
    </div>
    <footer class="stack padding--l">
      <div class="content-wrapper margin--auto text-center">
        <h2 class="fs-4">Share</h2>
        <p>Found this helpful? Tell other people about it!</p>
        <ul class="margin-top--m cluster margin-inline--auto jc-center padding--none" style="list-style: none;">
          <li>
            <a 
            href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" 
            target="_blank"
            rel="noopener"
            class="button no-arrow">
              {% set feathericon = 'facebook' %}
              {% include 'components/feathericon.njk' %}
              <span>Share to Facebook</span>
            </a>
          </li>
          <li>
            <a 
            href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}" 
            target="_blank"
            rel="noopener"
            class="button no-arrow">
              {% set feathericon = 'twitter' %}
              {% include 'components/feathericon.njk' %}
              <span>Tweet this post</span>
            </a>
          </li>
          <li>
            <button class="button" data-copy="page-link" style="height: 100%;">
              {% set feathericon = 'clipboard' %}
              {% include 'components/feathericon.njk' %}
              <span>Copy link</span>
            </button>
            <input type="text" id="page-link" value="{{ site.url }}{{ page.url }}" class="sr-only" aria-hidden="true">
          </li>
        </ul>
      </div>
      {% include 'components/webmentions.njk' %}
    </footer>
  </main>
  {% include 'components/footer.njk' %}
{% endblock %}

{% block scripts %}
  {% set preferredDomain = site.domains | selectattr('isPreferred') | first %}
  <script type="application/ld+json">
    [
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "name": "Navigation",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "name": "Writing",
            "item": "https://{{ preferredDomain.value }}/writing/"
          }, {
            "@type": "ListItem",
            "position": 2,
            "name": "{{ title | safe }}",
            "item": "https://{{ preferredDomain.value }}{{ page.url }}"
          }
        ]
      },
      {% include "components/seo/structure/blogposting.njk" %},
      {% include "components/seo/structure/website.njk" %}
    ]
  </script>
  <a href="https://brid.gy/publish/mastodon" class="hidden"></a>
  <script>
    const siteData = {{ site | dump | safe }}
  </script>
  <script src="/assets/scripts/webmentions.js"></script>
{% endblock %}