{% extends 'layouts/base.njk' %}

{% block content %}
  {% include 'components/navigation.njk' %}
  <main class="padding--xl article" id="main" style="width: min(100ch, 100%); margin-inline: auto;" tabindex="-1" aria-labelledby="{{ title | slugify }}">
    <header style="width: min(100ch, 100%); --" class="article__header ai--center margin-inline--auto">
      <img src="{{ cover.src }}" alt="{{ cover.alt }}" class="article__image" width="{{ cover.width }}" height="{{ cover.height }}">
      <nav class="breadcrumb" aria-label="Breadcrumbs">
        <ol class="breadcrumb__list">
          <li class="breadcrumb__list-item">
            <a href="/" class="breadcrumb__link" data-animation="button">Frontpage</a>
          </li>
          <li class="breadcrumb__list-item">
            <a href="/projects/" class="breadcrumb__link" data-animation="button">Projects</a>
          </li>
          <li class="breadcrumb__list-item">
            <a aria-current="location" class="breadcrumb__link" data-animation="button">This page</a>
          </li>
        </ol>
      </nav>
      <div class="stack">
        <h1 id="{{ title | slugify }}" class="article__title margin--none responsive">{{ title | safe }}</h1>
        <p class="fs-5 font-sans margin-block--none padding-block-end--l">{{ description | safe }}</p>
        <time datetime="{{ page.date | machineReadableDate }}">{{ page.date | humanReadableDate }}</time>
        <div class="filled cluster ai--center">
          <div class="cluster gap--m ai--center">
            {% for tag in tags %}
              <span class="badge">{{ tag }}</span>
            {% endfor %}
          </div>
          <div class="cluster gap--m jc--end ai--center">
            {% for link in links %}
              <a href="{{ link.url }}" class="{{ "primary" if link.is_primary }} button" target="_blank" rel="noopener noreferer nofollow">{{ link.text }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </header>
    {% if details != null or details.length > 0 %}
      <div class="with-sidebar">
        <aside class="article__sidebar sidebar" style="--sidebar-width: 25ch;">
          <details open>
            <summary class="margin--none padding-block--xs article__sidebar__title">Technical Details</summary>
            <dl class="stacked">
              {% for item in details %}
                <dt>{{ item.key | safe }}</dt>
                {% for value in item.values %}
                  <dd>{{ value | safe }}</dd>
                {% endfor %}
              {% endfor %}
            </dl>
          </details>
        </aside>
        <div class="article__body not-sidebar">
          {{ content | safe }}
        </div>
      </div>
    {% else %}
      <div class="article__body">
        {{ content | safe }}
      </div>
    {% endif %}

    <footer class="stack gap--xl m-block--xxxl" style="text-align: center; margin-inline: auto; width: min(var(--content-width), 90%);">
      <div class="section__header">
        <hgroup role="group">
          <h2 class="section__subtitle fs-3">Building a similar project?</h2>
          <p style="text-align: left;">I'm currently open to projects. We can arrange for me to help you in your next project.</p>
        </hgroup>
      </div>
      <div class="stack ai--center gap--s">
        <button class="primary button" data-dialog="modal__email">
          {{ "mail" | icon | safe }}
          <span>Connect with me</span>
        </button>

      </div>
    </footer>
  </main>
  {% include 'components/email-form.njk' %}
  {% include 'components/footer.njk' %}
{% endblock %}

{% block scripts %}
  {% set preferredDomain = site.domains | selectattr('isPreferred') | first %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
        "name": "Navigation",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Projects",
          "item": "https://{{ preferredDomain.value }}/projects/"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "{{ title | safe }}",
          "item": "https://{{ preferredDomain.value }}{{ page.url }}"
        }
      ]
    }
  </script>
{% endblock %}