{% extends 'layouts/base.njk' %}

{% block content %}
  {% include 'components/ui/navigation-bar.njk' %}
  <main class="padding--xl project page" id="main" style="width: min(100ch, 100%); margin-inline: auto;" tabindex="-1" aria-labelledby="{{ title | slugify }}">
    <header class="project__header">
      <nav class="breadcrumb" aria-label="Breadcrumbs">
        <ol class="breadcrumb__list">
          <li class="breadcrumb__list-item">
            <a href="/" class="breadcrumb__link" data-animation="button">Frontpage</a>
          </li>
          <li class="breadcrumb__list-item">
            <a href="/projects/" class="breadcrumb__link" data-animation="button">Projects</a>
          </li>
          <li class="breadcrumb__list-item">
            <a aria-current="location" class="breadcrumb__link" data-animation="button">This page</a>
          </li>
        </ol>
      </nav>
      <div class="stack">
        <h1 id="{{ title | slugify }}" class="project__title">{{ title | safe }}</h1>
        <p class="project__summary">{{ description | safe }}</p>
        <div class="project__meta">
          {% if links.length > 1 %}
            <div class="cluster gap--m jc--end ai--center">
              {% for link in links %}
                <a href="{{ link.url }}" class="{{ "primary" if link.is_primary }} button" target="_blank" rel="noopener noreferer nofollow">{{ link.text }}</a>
              {% endfor %}
            </div>
          {% else  %}
            {% set link = links[0] %}
            <a href="{{ link.url }}" class="button" target="_blank" rel="noopener noreferer nofollow">{{ link.text }}</a>
          {% endif %}
          <dl class="project__details">
            <div class="project__detail-item">
              <dt>Made for</dt>
              <dd>{{ customer | safe }}</dd>
            </div>
            <div class="project__detail-item" style="--animation-speed: 2">
              <dt>I worked as</dt>
              <dd>{{ role | safe }}</dd>
            </div>
            <div class="project__detail-item" style="--animation-speed: 3">
              <dt>Duration</dt>
              <dd>{{ duration | safe }}</dd>
            </div>
          </dl>
        </div>
      </div>
    </header>

    {% if image != null %}
      {% set filename = '/projects/' + image.folder + '/' + image.filename %}
      {% set defaultImageClass = 'project__image' %}
      {% set sizes = image.sizes %}
      {% set alt = image.alt %}
      {% include "components/cdn-picture.njk" %}
    {% else %}
      <img src="{{ cover.src }}" alt="{{ cover.alt }}" class="project__image" width="{{ cover.width }}" height="{{ cover.height }}">
    {% endif %}

    <section class="project__section">
      {# {% if challenge != null %}
      {{ challenge | markdown | safe }}
      {% endif %} #}
      {{ content | safe }}
    </section>

    {% if gallery %}
      <section class="project__gallery">
        {% for figure in gallery %}
          <figure class="project__gallery-item">
            {% for image in figure.images %}
              {% set filename = '/projects/' + figure.folder + '/' + image.filename %}
              {% set defaultImageClass = 'project__gallery-image' %}
              {% set sizes = figure.sizes %}
              {% set alt = image.alt %}
              {% include "components/cdn-picture.njk" %}
            {% endfor %}
            <figcaption class="project__gallery-item__caption">
              {{ figure.caption | markdown | safe }}
            </figcaption>
          </figure>
        {% endfor %}
      </section>
    {% endif %}

    <footer class="stack gap--xl m-block--xxxl" style="text-align: center; margin-inline: auto; width: min(var(--content-width), 90%);">
      <div class="section__header">
        <hgroup role="group">
          <h2 class="section__subtitle fs-3">Building a similar project?</h2>
          <p style="text-align: left;">I'm currently open to projects. We can arrange for me to help you in your next project.</p>
        </hgroup>
      </div>
      <div class="stack ai--center gap--s">
        <button class="primary button" data-dialog="modal__email">
          {{ "mail" | icon | safe }}
          <span>Connect with me</span>
        </button>

      </div>
    </footer>
  </main>
  {% include 'components/email-form.njk' %}
  {% include 'components/footer.njk' %}
{% endblock %}

{% block scripts %}
  {% set preferredDomain = site.domains | selectattr('isPreferred') | first %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "name": "Navigation",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Projects",
          "item": "https://{{ preferredDomain.value }}/projects/"
        }, {
          "@type": "ListItem",
          "position": 2,
          "name": "{{ title | safe }}",
          "item": "https://{{ preferredDomain.value }}{{ page.url }}"
        }
      ]
    }
  </script>
{% endblock %}