{% extends 'layouts/base.njk' %}

{% block content %}
  {% include 'components/navigation.njk' %}
  <main style="width: min(100ch, 100%); margin-inline: auto;" class="padding--xl article" id="main" tabindex="-1" aria-labelledby="{{ title | slugify }}">
    <header class="article__header">
      <div class="ai--center cluster margin-bottom--l lh-s">
        <a href="/speaking/" class="button jc--start padding--xs">Talks</a>
        <span>/</span>
        <span class="d-flex font-sans jc--start">This talk</span>
      </div>
      <h1 id="{{ title | slugify }}" class="article__title margin--none responsive">{{ title | safe }}</h1>
      <time datetime="{{ page.date | machineReadableDate }}">{{ page.date | humanReadableDate }}</time>
      <div class="cluster gap--m jc--end">
        {% for item in link %}
          <a href="{{ item.url }}" rel="noopener noreferer nofollow" target="_blank" class="primary button">{{ item.text }}</a>
        {% endfor %}
      </div>
    </header>
    <div class="with-sidebar m-block-start--l">
      <aside class="sidebar article__sidebar">
        <section class="sidebar__section" aria-labelledby="sidebar-host">
          <h2 class="sidebar__heading" id="sidebar-host">Hosts</h2>
          {% for item in host %}
            <h3 class="sidebar__title">{{ item.name }}</h3>
            <p>{{ item.description }}</p>
          {% endfor %}
        </section>
        <section class="sidebar__section" aria-labelledby="sidebar-event">
          <h2 class="sidebar__heading" id="sidebar-event">Events</h2>
          {% for item in event %}
            <h3 class="sidebar__title">{{ item.name }}</h3>
            <p>{{ item.description }}</p>
          {% endfor %}
        </section>
        <section class="sidebar__section" aria-labelledby="sidebar-audience">
          <h2 class="sidebar__heading" id="sidebar-audience">Audience</h2>
          {% for item in audience %}
            <p>{{ item }}</p>
          {% endfor %}
        </section>
        <section class="sidebar__section" aria-labelledby="sidebar-duration">
          <h2 class="sidebar__heading" id="sidebar-duration">Duration</h2>
          {% for item in duration %}
            <p>Around {{ item | duration }}</p>
          {% endfor %}
        </section>
      </aside>
      <div class="not-sidebar article__body">
        {{ content | safe }}
      </div>
    </div>
  </main>
  {% include 'components/footer.njk' %}
{% endblock %}