{% extends 'layouts/base.njk' %}

{% block content %}
  {% include 'components/ui/navigation-bar.njk' %}
  <main style="width: min(150ch, 100%); margin-inline: auto;" class="page padding--xl article" id="main" tabindex="-1" aria-labelledby="{{ title | slugify }}">
    <header class="article__header">
      <nav class="breadcrumb" aria-label="Breadcrumbs">
        <ol class="breadcrumb__list">
          <li class="breadcrumb__list-item">
            <a href="/" class="breadcrumb__link" data-animation="button">Frontpage</a>
          </li>
          <li class="breadcrumb__list-item">
            <a href="/speaking/" class="breadcrumb__link" data-animation="button">Speaking</a>
          </li>
          <li class="breadcrumb__list-item">
            <a aria-current="location" class="breadcrumb__link" data-animation="button">This talk</a>
          </li>
        </ol>
      </nav>
      <h1 id="{{ title | slugify }}" class="article__title margin--none responsive">{{ title | safe }}</h1>

      {% if tentativeDate != null %}
        {% set tDate = tentativeDate %}
        {% set talkDate = utils.tentativeDate(tDate.year, tDate.month, tDate.day) %}
        <time datetime="{{ utils.machineReadableDate(talkDate) }}">
          {{ utils.extractMonth(talkDate) }}
          {{ tDate.day + ', ' if tDate.day }}{{ tDate.year }} (tentative)
      </time>
      {% else %}
        <time datetime="{{ page.date | machineReadableDate }}">{{ page.date | humanReadableDate }}</time>
      {% endif %}

      <div class="cluster gap--m jc--end">
        {% for item in link %}
          <a href="{{ item.url }}" rel="noopener noreferer nofollow" target="_blank" class="primary button">{{ item.text }}</a>
        {% endfor %}
      </div>
    </header>
    <div class="with-sidebar m-block-start--l">
      <aside class="sidebar article__sidebar" style="--sidebar-width: 30ch;">
        <section class="sidebar__section" aria-labelledby="sidebar-host">
          <h2 class="sidebar__heading" id="sidebar-host">Hosts</h2>
          {% for item in host %}
            <h3 class="sidebar__title">{{ item.name }}</h3>
            <p>{{ item.description }}</p>
          {% endfor %}
        </section>
        <section class="sidebar__section" aria-labelledby="sidebar-event">
          <h2 class="sidebar__heading" id="sidebar-event">Events</h2>
          {% for item in event %}
            <h3 class="sidebar__title">{{ item.name }}</h3>
            <p>{{ item.description }}</p>
          {% endfor %}
        </section>
        <section class="sidebar__section" aria-labelledby="sidebar-audience">
          <h2 class="sidebar__heading" id="sidebar-audience">Audience</h2>
          {% for item in audience %}
            <p>{{ item }}</p>
          {% endfor %}
        </section>
        <section class="sidebar__section" aria-labelledby="sidebar-duration">
          <h2 class="sidebar__heading" id="sidebar-duration">Duration</h2>
          {% for item in duration %}
            <p>Around {{ item | duration }}</p>
          {% endfor %}
        </section>
      </aside>
      <div class="not-sidebar article__body" style="grid-template-columns: 1fr min(75ch, 100%) 1fr">
        {{ content | safe }}
        {% for section in resources %}
          <h2>{{ section.heading }}</h2>
          <div class="link-grid">
            {% for url in section.links %}
              {% setAsync "meta" %}{{ url | metatags | dump | safe }}{% endsetAsync %}
              {% set metadata = utils.jsonify(meta) %}
              {% include 'components/ui/link-preview-card.njk' %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </main>
  {% include 'components/footer.njk' %}
{% endblock %}

{% block scripts %}

  {% set preferredDomain = site.domains | selectattr('isPreferred') | first %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "name": "Navigation",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Speaking",
          "item": "https://{{ preferredDomain.value }}/speaking/"
        }, {
          "@type": "ListItem",
          "position": 2,
          "name": "{{ title | safe }}",
          "item": "https://{{ preferredDomain.value }}{{ page.url }}"
        }
      ]
    }
  </script>
{% endblock %}