<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | safe }}</title>
  </head>
  <body>
    {% block content %}
      <article class="h-entry">
        <a class="u-{{ typeClass }}" href="{{ originalPost }}">Original Post</a>
        <a href="{{ sourceUrl }}" class="u-url">Permalink</a>
        <time class="dt-published" datetime="{{ dtPublished }}">{{ dtPublished | humanReadableDate }}</time>
        <address class="p-author h-card">
          <span class="p-name">{{ author.name }}</span>
          <img class="u-photo" src="{{ author.photo }}" alt="" width="300" height="300">
          <a href="{{ author.url }}" class="u-url">User link</a>
        </address>
      </article>
    {% endblock %}
  </body>
</html>