---
title: Writing Categories - Francis Rubio
description: My blog posts, sorted by categories.
pagination:
  data: collections.postTags
  size: 1
  reverse: true
  alias: category
permalink: /writing/categories/{{ category }}/
activePath: writing
eleventyImport:
  collections: ["postTags"]
---
<section class="page" aria-labelledby="section-heading-4" style="
  --page-cover-image: image-set(
    url(https://ik.imagekit.io/8jjzxcl9p/tr:f-avif/index/cover-pride-musings.png) type('image/avif'),
    url(https://ik.imagekit.io/8jjzxcl9p/tr:f-webp/index/cover-pride-musings.png) type('image/webp'),
    url(https://ik.imagekit.io/8jjzxcl9p/tr:f-png/index/cover-pride-musings.png) type('image/png')
  )
  ">
  <header class="page__cover">
    <hgroup role="group" class="page__header">
      <span id="section-heading-4" class="uppercase ls-l font-sans" data-baybayin="{{ sections.writing.baybayin_label }}">{{ sections.writing.label | safe }}</span>
      <h1 class="responsive">{{ sections.writing.title | safe }}</h1>
      <p>{{ sections.writing.description | safe }}</p>
    </hgroup>
  </header>
  <div class="page__inner">
    <div class="tag-scroller">
      <a href="#musings-grid" class="tag skip-link" style="width: fit-content;">Skip to posts</a>
      <a href="/writing/" class="tag" style="width: fit-content;">All posts</a>
      {% for item in collections.postTags | sort %}
        <a href="/writing/categories/{{ item }}/" class="tag {{ "active" if category === item }}" style="width: fit-content;">{{ item }}</a>
      {% endfor %}
    </div>

    <div id="musings-grid">
      {% set collection = utils.filterByCategory(collections.posts, category) | reverse %}
      {% set cardLevel = 2 %}
      {% include 'components/post-grid.njk' %}
    </div>
  </div>
</section>