---
title: Contact Me - Francis Rubio
description: Hire me? Invite me as a speaker to your next event? Get me on to your show?
permalink: /contact/
activePath: frontpage
stylesheets: ['frontpage.css', mastodon.css]
scripts: ['frontpage.js', mastodon.js]
eleventyImport:
  collections: ["posts"]
---

<section class="section padding-block--xxl bg-secondary" id="contact-footer" aria-labelledby="footer-heading">
  <div class="section__inner">
    <div class="stack gap">
      <hgroup role="group">
        <p id="footer-heading" class="uppercase ls-l font-sans" data-baybayin="{{ sections.contact.baybayin_label }}">
          {{ sections.contact.label | safe }}</p>
        <h2 class="fs-1">{{ sections.contact.title | safe }}</h2>
      </hgroup>
      <p style="width: min(75ch, 100%)">Send me a message. I would love to hear from you! If you want me to join your
        team, commission my services for a project, invite me as a speaker in your event, or just for a chat, you can
        reach out to me through this form. I will try to reply as soon as possible.</p>
    </div>
    <div class="margin--xxl">
      {% set emailFormPrefix = 'contact-' %}
      {% include "components/ui/email-form.njk" %}
    </div>
    <div class="modal__footer-section form-group">
      <p style="white-space: nowrap" class="form-comment text-align--right">All fields are required</p>
      <button form="{{ emailFormPrefix }}email-form" type="reset" data-dialog-hide class="button">Reset all fields</button>
      <button form="{{ emailFormPrefix }}email-form" type="submit" class="primary button">Send</button>
    </div>
  </div>
</section>