---
title: Featured Threads - Francis Rubio
description: Check my featured threads from Mastodon
permalink: /socials/mastodon/featured/
activePath: socials
stylesheets: ['mastodon.css']
scripts: ['mastodon.js']
---
{% set mastodon = socials.mastodon %}
{% set profile = mastodon.profile %}
{% set feed = mastodon.feed %}
<script>
  window.MASTODON = {
    accountIds: {{ socials.mastodon.accountIds | dump | safe }},
  feed: `{{ socials.mastodon.endpoints.feed | safe}}`,
    profile: `{{ socials.mastodon.profile.feed | safe }}`
  }
</script>
{% include "components/social-post-templates.njk" %}

<section class="profile" aria-labelledby="section-heading-1">
  <header class="profile__header" >
    <img src="{{ profile.header }}" alt="" class="profile__header-image" width="1296" height="495">
    <img src="{{ profile.avatar }}" alt="" class="profile__avatar">
    <h1 class="profile__name" id="section-heading-1">
      <a href="{{ profile.url | safe }}" target="_blank" class="profile__link no-arrow">
        {{ utils.replaceMastodonEmoji(profile.display_name, profile.emojis) | safe }}
      </a>
    </h1>
    <a href="{{ profile.url | safe }}" target="_blank" class="profile__identifier no-arrow">{{ utils.getFederatedUsername(profile.username, profile.url) }}</a>
    <div class="profile__bio">
      {{ utils.replaceMastodonEmoji(profile.note, profile.emojis) | safe }}
    </div>
    <dl class="profile__fields">
      {% for field in profile.fields %}
        <div class="profile__field{{ " verified" if field.verified_at != null }}">
          <dt>{{ field.name | safe }}</dt>
          <dd>
            {% if field.verified_at != null %}
              {% set feathericon = 'check' %}
              {% include "components/feathericon.njk" %}
            {% endif %}
            {{ field.value | safe }}
          </dd>
        </div>
      {% endfor %}
    </dl>
  </header>

  <nav class="navigation navigation--tabs">
    <ul class="navigation__list">
      <li class="navigation__listitem">
        <a class="navigation__link" href="/socials/mastodon"  data-animation=button>Feed</a>
      </li>
      <li class="navigation__listitem">
        <a class="navigation__link" href="/socials/mastodon/featured/" aria-current="page" data-animation=button>Featured Threads</a>
      </li>
    </ul>
  </nav>

  <div class="profile__feed">
    {% for thread in threads %}
      {% set context = thread.context %}
      {% set entryIndex = 0 %}
      {% set entry = context[entryIndex] %}
      {% include "components/mastodon-feed-entry.njk" %}
    {% endfor %}
  </div>
</section>

<footer class="stack gap--xl m-block--xxxl" style="text-align: center; margin-inline: auto; width: min(var(--content-width), 90%);">
  <div class="section__header">
    <hgroup role="group">
      <h2 class="section__subtitle fs-3">This is just the tip of the iceberg.</h2>
      <p style="text-align: left;">I have more to say. That's why I'm on the fediverse. Follow me on there to be updated on things I dare to have an opinion about.</p>
    </hgroup>
  </div>
  <div class="stack ai--center gap--s">
    <a href="{{ site.contact.mastodon.url }}" class="primary button" target="blank" rel="noopener">
      {{ "user-plus" | icon | safe }}
      <span>Follow me on Mastodon</span>
    </a>
  </div>
</footer>