---
title: Feels - Francis Rubio
description: A corner for me to be sad, and find comfort in being sad
permalink: /feels/
activePath: feels
---

<section class="padding-block--xl padding-inline--m" aria-labelledby="section-heading-4" style="width: min(100ch, 90%); margin-inline: auto;">
  <hgroup role="group" class="page__header">
      <span id="section-heading-4" class="uppercase ls-l font-sans" data-baybayin="{{ sections.feels.baybayin_label }}">{{ sections.feels.label | safe }}</span>
      <h2 class="responsive">{{ sections.feels.title | safe }}</h2>
      <p>{{ sections.feels.description | safe }}</p>
  </hgroup>
</section>