---
title: Gallery - Francis Rubio
description: Selfies. Blurry. Wacky. Photobombs. The whole she-bang.
pagination:
  data: collections.gallery
  size: 8
  reverse: true
permalink: /gallery/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html
activePath: gallery
---

<section class="padding-block--xl" aria-labelledby="section-heading-4" style="width: min(100ch, 90%); margin-inline: auto;">
  <hgroup class="page__header">
    <span id="section-heading-4" class="uppercase ls-l font-sans" data-baybayin="{{ sections.videos.baybayin_label }}">{{ sections.gallery.label | safe }}</span>
    <h1 class="h2 font-serif responsive">{{ sections.gallery.title | safe }}</h1>
    <p>{{ sections.gallery.description | safe }}</p>
  </hgroup>
  <div class="padding-block--xl gap--l gallery-grid">
    {% for item in pagination.items %}
      <div>
        {% include 'components/gallery-entry.njk' %}
      </div>
    {% endfor %}
  </div>
</section>

<div class="center-justified cluster padding--l">
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" class="button">Previous</a>
  {% endif %}

  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" class="button">Next</a>
  {% endif %}
</div>

<footer class="stack gap--xl m-block--xxxl" style="text-align: center; margin-inline: auto; width: min(var(--content-width), 90%);">
  <div class="section__header">
    <hgroup role="group">
      <h2 class="section__subtitle fs-3">I also serve visuals somewhere else.</h2>
      <p style="text-align: left;">Drag, make up, outfits, places, and moments. I post most of them on Instagram.</p>
    </hgroup>
  </div>
  <div class="stack ai--center gap--s">
    <a href="{{ site.contact.instagram.url }}" class="primary button" target="blank" rel="noopener">
      {{ "instagram" | icon | safe }}
      <span>Follow me on Instagram</span>
    </a>
  </div>
</footer>

{% set preferredDomain = site.domains | selectattr('isPreferred') | first %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
        "name": "Navigation",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Gallery",
    "item": "https://{{ preferredDomain.value }}/gallery/"
  }]
}
</script>