---
title: Gallery - Francis Rubio
description: I write poems and short stories
pagination:
  data: collections.gallery
  size: 8
  reverse: true
permalink: /gallery/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html
activePath: gallery
---

<section class="padding--xl" aria-labelledby="section-heading-4" style="width: min(100ch, 90%); margin-inline: auto;">
  <div class="stack gap">
    <span id="section-heading-4" class="uppercase ls-l font-sans">Gallery</span>
    <h1 class="h2 font-serif responsive">My Life in Photos</h1>
    <p>Selfies. Blurry. Wacky. Photobombs. The whole she-bang.</p>
  </div>
  <div class="padding-block--xl gap--l gallery-grid">
    {% for item in pagination.items %}
      {% include 'components/gallery-entry.njk' %}
    {% endfor %}
  </div>
</section>

<div class="center-justified cluster padding--l">
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" class="button">Previous</a>
  {% endif %}

  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" class="button">Next</a>
  {% endif %}
</div>