---
title: Francis Rubio
description: Web developer, designer, and educator from the Philippines
permalink: /
---

<section>
  <div style="aspect-ratio: 1; width: 5ch; background-color: hsl(var(--primary-500))"></div>
  <div style="aspect-ratio: 1; width: 5ch; background-color: hsl(var(--secondary-500))"></div>
</section>