---
title: Francis Rubio
description: Web developer, designer, and educator from the Philippines
permalink: /
activePath: frontpage
stylesheets: ['frontpage.css']
---

<header class="section margin-block-end--xl" aria-labelledby="site-name" id="section-1">
  <div class="section__inner">
    <h1 class="banner-site-title" id="site-name">
      <span>Francis</span>
      <span>Rubio</span>
    </h1>
    <div class="banner-slogan padding-inline--xl cluster ai--center font-sans uppercase weight-300 ls-l gap--m">
      <span>Web developer</span>
      <span style="aspect-ratio: 1/1; background-color: hsl(var(--fg-default) / 50%); width: 0.6ch; border-radius: 100%;"></span>
      <span>Web designer</span>
      <span style="aspect-ratio: 1/1; background-color: hsl(var(--fg-default) / 50%); width: 0.6ch; border-radius: 100%;"></span>
      <span>Educator</span>
    </div>
    <div class="padding-inline--xl banner-actions cluster ai--center gap--m">
      <a href="{{ files.resume.path }}" download="{{ files.resume.filename }}" class="button">Download my résumé</a>
      <button class="primary button" data-dialog="modal__email">Hire me</button>
    </div>
    {% set sizes = [300, 500, 700, 900] %}
    {% set formats = ['png', 'webp', 'avif'] %}
    {% set filename = '/index/francis-rubio.png' %}
    {% set defaultImageClass = "banner-image" %}
    {% set width = 300 %}
    {% set height = 400 %}
    {% include "components/cdn-picture.njk" %}
  </div>
</header>
<section class="section padding-block--xxl" id="section-2" aria-labelledby="section-2-heading">
  <div class="section__inner">
    <h2 style="width: min(35ch, 100%);" class="fs-4 font-serif weight-300" id="section-2-heading">I specialize in creating <strong class="fg-primary-700 weight-bold">accessible front ends</strong> for web projects and integrating them with APIs and back-end processes.</h2>
    <div class="scroll-snapper d-flex gap--m padding--xl">
      {% for feature in features %}
        <div class="feature-card snap-center" style="flex-basis: 30ch; flex-shrink: 0;">
          <button data-popover data-aria-hide data-disclosure class="feature-card__header">{{ feature.title }}</button>
          <div class="feature-card__content">{{ feature.content }}</div>
        </div>
      {% endfor %}
    </div>
    <div class="stack ai--center text-center gap--s padding--xl">
      <span class="fs-4 weight-300">Ready to give me a shot?</span>
      <button class="primary button" data-dialog="modal__email">Connect with me</button>
    </div>
  </div>
</section>
<section class="section padding-block--xxl" id="section-3" aria-labelledby="section-3-heading">
  <div class="section__inner">
    <hgroup role="group" class="stack gap--none">
      <p aria-roledescription="subtitle" id="section-3-heading" class="uppercase ls-l font-sans">Experience</p>
      <h2 class="font-serif fs-1">Proven skill in tech that just works</h2>
    </hgroup>
    <div class="with-sidebar padding-block--xl">
      <div class="sidebar padding-inline--m" style="flex-basis: 20ch;">
        <div data-tablist style="gap: 0.5ch; display: grid; grid-template-columns: repeat(auto-fit, minmax(4ch, 1fr));">
          {% for tech in technologies %}
            <a aria-label="{{ tech.title }}" href="#tabpanel-{{ tech.icon }}" id="tab-{{ tech.icon }}" data-tab class="button square tab-trigger">
              <svg>
                <title>{{ tech.title }}</title>
                <use href="/assets/images/technologies.svg#{{ tech.icon }}"></use>
              </svg>
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="not-sidebar filled stack gap--xl" id="technologies-tabpanels">
        <div class="tabpanel-container">
          {% for tech in technologies %}
            <section aria-labelledby="{{ tech.icon }}-heading" class="stack tab-panel" id="tabpanel-{{ tech.icon }}">
              <div class="cluster ai--center column-gap--m lh-s margin-bottom--m">
                <span class="uppercase ls-l font-sans">{{ tech.category }}</span>
                <span style="aspect-ratio: 1/1; background-color: hsl(var(--fg-non-essential)); width: 0.6ch; border-radius: 100%;"></span>
                <span class="uppercase ls-xs font-sans">{{ tech.experience }} years of experience</span>
              </div>
              <h3 class="margin--none" id="{{ tech.icon }}-heading">{{ tech.title }}</h3>
              <div class="stack gap--s">{{ tech.content | safe }}</div>
            </section>
          {% endfor %}
        </div>
        <div class="stack fill-reset ai--center text-center gap--s padding--xl">
          <span class="fs-4 weight-300">Ready to give me a shot?</span>
          <button class="primary button" data-dialog="modal__email">Connect with me</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section padding-block--xxl" id="section-4" aria-labelledby="section-41-heading">
  <div class="section__inner">
    <div class="stack gap--none">
      <hgroup role="group">
        <p aria-roledescription="subtitle" id="section-41-heading" class="uppercase ls-l font-sans">Writing</p>
        <h2 class="font-serif fs-1">The Life and Times of Francis Rubio</h2>
        <p aria-roledescription="subtitle">A glimpse of what it's like to be me.</p>
      </hgroup>
      {% set postLimit = 4 %}
      {% set collection = collections.posts | reverse %}
      {% include 'components/post-grid.njk' %}
    </div>
    <div class="stack ai--center text-center gap--s padding--xl">
      <div class="cluster center-align">
        <a href="/writing/" class="primary button">See all posts</a>
      </div>
    </div>
  </div>
</section>
<section class="section padding-block--xxl" id="section-44" aria-labelledby="section-4-heading">
  <div class="section__inner">
    <div class="stack gap--none">
      <hgroup role="group">
        <p id="section-4-heading" class="uppercase ls-l font-sans">Literature</p>
        <h2 class="font-serif fs-1">Speaking in cultural tense</h2>
        <p>My attempts in encapsulating my thoughts into written art</p>
      </hgroup>
      {% set postLimit = 4 %}
      {% set postType = 'literature' %}
      {% set collection = collections.literature | reverse %}
      {% include 'components/post-grid.njk' %}
    </div>
    <div class="stack ai--center text-center gap--s padding--xl">
      <div class="cluster center-align">
        <a href="/literature/" class="primary button">See all</a>
      </div>
    </div>
  </div>
</section>
<section class="padding-block--xxl" id="section-5" aria-labelledby="section-5-heading">
  <div class="section__inner">
    <hgroup role="group" class="stack gap">
      <p aria-roledescription="subtitle" id="section-5-heading" class="uppercase ls-l font-sans">Talks</p>
      <h2 class="font-serif fs-1">Conferences and Appearances</h2>
      <p aria-roledescription="subtitle">I speak at developer conferences and events about web development. If you are an event organizer looking for speakers, let's talk about it.</p>
    </hgroup>
    <div class="margin-block--l">
      {% set postLimit = 3 %}
      {% set hasFeatured = false %}
      {% set isReversed = true %}
      {% set collection = collections.talks | reverse %}
      {% include 'components/talks-grid.njk' %}
    </div>
    <div class="stack ai--center text-center gap--s padding--xl">
      <span class="fs-4 weight-300">Have an event coming up?</span>
      <div class="cluster center-align center-justified">
        <a href="/speaking/" class="button">See all of my previous talks</a>
        <a href="/speaker-rider/" class="primary button">Invite me as a speaker</a>
      </div>
    </div>
  </div>
</section>
<section class="padding-block--xxl" id="section-56" aria-labelledby="section-6-heading">
  <div class="section__inner">
    <hgroup role="group" class="stack gap">
      <p aria-roledescription="subtitle" id="section-6-heading" class="uppercase ls-l font-sans">Projects</p>
      <h2 class="font-serif fs-1">The Gallery</h2>
      <p aria-roledescription="subtitle">My most notable projects. Things that I am proud I made, or was involved in making. Work that I would love to do more of.</p>
    </hgroup>
    {% set postLimit = 3 %}
    {% set collection = collections.projects | reverse %}
    <span class="deck-card-container m-block-start--xxxl">
      {% set limit = postLimit if collection.length > postLimit else 
        collection.length %}
      {% for i in range(0, limit) %}
        {% set item = collection[i] %}
        {% include 'components/deck-card.njk' %}
      {% endfor %}
    </span>
    <div class="stack ai--center text-center gap--s padding--xl">
      <span class="fs-4 weight-300">Building a similar project?</span>
      <div class="cluster center-align center-justified">
        <a href="/projects/" class="button">See all of my projects</a>
        <button class="primary button" data-dialog="modal__email">Bring me to your team</button>
      </div>
    </div>
  </div>
</section>
<section class="padding-block--xxl bg--secondary" id="section-6" aria-labelledby="section-61-heading">
  <div class="section__inner jc--center stack gap text-center">
    <p id="section-61-heading" class="uppercase ls-l font-sans">Uses</p>
    <h2 class="font-serif fs-1">What makes my day to day run</h2>
    <p>Want to see things I use and swear by? Here's an archive of all the things I use and how I rate them.</p>
    <div class="cluster jc--center padding">
      <a href="/uses/" class="button">Things I use</a>
    </div>
  </div>
</section>
<section class="section padding-block--xxl" id="section-44" aria-labelledby="section-4-heading">
  <div class="section__inner">
    <div class="stack gap--none">
      <hgroup role="group">
        <p id="section-4-heading" class="uppercase ls-l font-sans">Videos</p>
        <h2 class="font-serif fs-1">Me in motion</h2>
        <p>Videos of me. Candid, without a care for the world (well, slight care actually)</p>
      </hgroup>
    </div>
      {% set postLimit = 3 %}
      {% set collection = collections.videos | reverse %}
      {% include 'components/video-grid.njk' %}
    <div class="stack ai--center text-center gap--s padding--xl">
      <div class="cluster center-align">
        <a href="/videos/" class="primary button">See all</a>
      </div>
    </div>
  </div>
</section>
<section class="section padding-block--xxl bg-secondary" id="footer" aria-labelledby="footer-heading">
  <div class="section__inner">
    <div class="stack gap">
      <hgroup role="group">
        <p aria-roledescription="subtitle" id="footer-heading" class="uppercase ls-l font-sans">Contact</p>
        <h2 class="font-serif fs-1">Initiating space beacon…</h2>
      </hgroup>
      <p style="width: min(75ch, 100%)">Send me a message. I would love to hear from you!</p>
      <p style="width: min(75ch, 100%)">If you want me to join your team, commission my services for a project, invite me to be one of your event speakers, or just for a chat, you can reach out to me via the following communication <i>waypoints</i>.*</p>
    </div>
    <div class="cluster gap--m padding--xl center-justified">
      {% for key, value in site.contact %}
        <a target="_blank" rel="noopener me" href="{{ value.url }}" class="button">{{ value.name }}</a>
      {% endfor %}
    </div>
    <div class="footnotes">
      <p class="font-sans">*Hehe, <i>waypoints</i>. Genshin Impact players, anyone?</p>
    </div>
  </div>
</section>

{% include 'components/email-form.njk' %}