---
title: Literature - Francis Rubio
description: I write poems and short stories
pagination:
  data: collections.literature
  size: 8
  reverse: true
permalink: /literature/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html
activePath: literature
---
<section class="padding--xl" aria-labelledby="section-heading-4" style="width: min(100ch, 90%); margin-inline: auto;">
  <div class="stack margin-bottom--xl">
      <span id="section-heading-4" class="uppercase ls-l font-sans">Literature</span>
      <h2 class="font-serif responsive">Speaking in cultural tense</h2>
      <p>My attempts in encapsulating my thoughts into written art</p>
  </div>
  <p>All writings here are subject to copyright.</p>
  {% set postType = 'literature' %}
  {% set collection = pagination.items %}
  {% include 'components/post-grid.njk' %}
</section>

<div class="center-justified cluster padding--l">
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" class="button">Previous</a>
  {% endif %}

  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" class="button">Next</a>
  {% endif %}
</div>