---
title: Literature - Francis Rubio
description: I write poems and short stories
pagination:
  data: collections.literature
  size: 8
  reverse: true
permalink: /literature/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html
activePath: literature
---
<section class="padding--xl" aria-labelledby="section-heading-4" style="width: min(100ch, 90%); margin-inline: auto;">
  <hgroup role="group" class="page__header">
      <span aria-roledescription="subtitle" id="section-heading-4" class="uppercase ls-l font-sans">{{ sections.literature.label | safe }}</span>
      <h2 class="font-serif responsive">{{ sections.literature.title | safe }}</h2>
      <p>{{ sections.literature.description | safe }} All writings here are subject to copyright.</p>
  </hgroup>
  {% set postType = 'literature' %}
  {% set collection = pagination.items %}
  {% include 'components/post-grid.njk' %}
</section>

<div class="center-justified cluster padding--l">
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" class="button">Previous</a>
  {% endif %}

  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" class="button">Next</a>
  {% endif %}

  <a href="{{ site.feeds.literature.url }}" class="{{ 'icon-only' if pagination.href.previous or pagination.href.next }} button" style="padding: var(--space-s);">
    {{ 'rss' | icon | safe }}
    <span class="{{ 'sr-only' if pagination.href.previous or pagination.href.next }}">RSS feed of all literature</span>
  </a>
</div>

<footer class="stack gap--xl m-block--xxxl" style="text-align: center; margin-inline: auto; width: min(var(--content-width), 90%);">
  <div class="section__header">
    <hgroup role="group">
      <h2 class="section__subtitle fs-3">Follow me on the Fediverse</h2>
      <p>If you were impressed by my mind because of these longform texts, I talk a lot more on Mastodon. I talk about a lot of things—work, gaming, coding, politics, religious trauma, the usual stuff.</p>
    </hgroup>
  </div>
  <div class="stack ai--center gap--s">
    <a href="{{ site.contact.mastodon.url }}" class="primary button" target="blank" rel="noopener">
      {{ "user-plus" | icon | safe }}
      <span>Follow me on Mastodon</span>
    </a>
  </div>
</footer>

{% set preferredDomain = site.domains | selectattr('isPreferred') | first %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
        "name": "Navigation",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Literature",
    "item": "https://{{ preferredDomain.value }}/literature/"
  }]
}
</script>