---
eleventyExcludeFromCollections: true
layout: null
permalink: /literature.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:wfw="http://wellformedweb.org/CommentAPI/"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
  xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
  xmlns:georss="http://www.georss.org/georss"
  xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#">

  {% set preferredDomain = site.domains | selectattr('isPreferred') | first %}
  <channel>
    <title>{{ site.title | safe }}</title>
    <atom:link href="https://{{ preferredDomain.value | safe }}/feed.xml" rel="self" type="application/rss"/>
    <link>https://{{ preferredDomain.value | safe }}/</link>
    <description>{{ site.description | safe }}</description>
    <lastBuildDate>{{ generated }}</lastBuildDate>
    <language>en-US</language>
    <sy:updatePeriod>hourly</sy:updatePeriod>
    <sy:updateFrequency>1</sy:updateFrequency>
    <generator>Eleventy v2.0.0</generator>

    <image>
      <url>https://ik.imagekit.io/8jjzxcl9p/tr:w-64/authors/teacherbuknoy.jpg?updatedAt=1672589182686</url>
      <title>{{ site.title | safe }}</title>
      <link>https://{{ preferredDomain.value | safe }}/</link>
      <width>64</width>
      <height>64</height>
    </image>

    {% set feeds = [collections.literature] %}
    {% for feed in feeds %}
      {% for post in feed %}
        {% set absolutePostUrl %}{{ site.url }}{{ post.url }}{% endset %}
        {% set person = authors[post.data.author] %}
        <item>
          <title>{{ post.data.title | safe }}</title>
          <description>
            <![CDATA[{{ post.data.description | safe }}]]>
          </description>
          {% if post.data.code %}
            <link>https://youtu.be/{{ post.data.code }}</link>
            <guid isPermaLink="true">https://youtu.be/{{ post.data.code }}</guid>
          {% else %}
            <link>{{ absolutePostUrl }}</link>
            <guid isPermaLink="true">{{ absolutePostUrl }}</guid>
          {% endif %}
          <comments>{{ absolutePostUrl }}#webmention-replies</comments>
          <dc:creator>
            <![CDATA[{{ person.name }}]]>
          </dc:creator>
          <author>{{ person.email }}</author>
          <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
          {% if post.data.tags and post.data.tags.length > 0 %}
            {% for tag in post.data.tags %}
              <category>
                <![CDATA[{{ tag }}]]>
              </category>
            {% endfor %}
          {% elif post.data.category and post.data.category.length > 0 %}
            {% for tag in post.data.category %}
              <category>
                <![CDATA[{{ tag }}]]>
              </category>
            {% endfor %}
          {% endif %}
          <content:encoded>
            <![CDATA[{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | safe }}]]>
          </content:encoded>
        </item>
      {% endfor %}
    {% endfor %}
  </channel>
</rss>