---
title: Mastodon - Francis Rubio
description: Check my most recent posts from Mastodon
permalink: /socials/mastodon/
activePath: socials
stylesheets: ['mastodon.css']
scripts: ['mastodon.js']
---
{% set mastodon = socials.mastodon %}
{% set profile = mastodon.profile %}
{% set feed = mastodon.feed %}
<script>
  window.MASTODON = {
    accountIds: {{ socials.mastodon.accountIds | dump | safe }},
    feed: `{{ socials.mastodon.endpoints.feed | safe}}`,
    profile: `{{ socials.mastodon.profile.feed | safe }}`
  }
</script>

<section class="profile" aria-labelledby="section-heading-1">
  <header class="profile__header" >
    <img src="{{ profile.header }}" alt="" class="profile__header-image" width="1296" height="495">
    <img src="{{ profile.avatar }}" alt="" class="profile__avatar">
    <h1 class="profile__name" id="section-heading-1">
      <a href="{{ profile.url | safe }}" target="_blank" class="profile__link no-arrow">
        {{ utils.replaceMastodonEmoji(profile.display_name, profile.emojis) | safe }}
      </a>
    </h1>
    <a href="{{ profile.url | safe }}" target="_blank" class="profile__identifier no-arrow">{{ utils.getFederatedUsername(profile.username, profile.url) }}</a>
    <div class="profile__bio">
      {{ utils.replaceMastodonEmoji(profile.note, profile.emojis) | safe }}
    </div>
    <dl class="profile__fields">
      {% for field in profile.fields %}
        <div class="profile__field{{ " verified" if field.verified_at != null }}">
          <dt>{{ field.name | safe }}</dt>
          <dd>
            {% if field.verified_at != null %}
              {% set feathericon = 'check' %}
              {% include "components/feathericon.njk" %}
            {% endif %}
            {{ field.value | safe }}
          </dd>
        </div>
      {% endfor %}
    </dl>
  </header>
  <div class="profile__feed" data-feed>
    {% set lastPost = feed | last %}
    {% for entry in feed %}
      {% if entry.content.length > 0 and not isReplyToMe %}
        {% include "components/mastodon-feed-entry.njk" %}
      {% endif %}
    {% endfor %}
  </div>
  <footer class="profile__footer">
    <div class="cluster jc--center ai--center">
      <button class="button" data-feed-reload data-feed-last-id="{{ lastPost.id }}">
        <span class="button-text--default">Load older posts</span>
        <span class="button-text--disabled">Loading…</span>
      </button>
    </div>
  </footer>
</section>

<footer class="stack gap--xl m-block--xxxl" style="text-align: center; margin-inline: auto; width: min(var(--content-width), 90%);">
  <div class="section__header">
    <hgroup role="group">
      <h2 class="section__subtitle fs-3">I can do this all day.</h2>
      <p style="text-align: left;">Follow me on the Fediverse to be updated on things I dare to have an opinion about.</p>
    </hgroup>
  </div>
  <div class="stack ai--center gap--s">
    <a href="{{ site.contact.mastodon.url }}" class="primary button" target="blank" rel="noopener">
      {{ "user-plus" | icon | safe }}
      <span>Follow me on Mastodon</span>
    </a>
  </div>
</footer>

<template id="mastodon-feed-entry">
  <article class="entry">
    <section class="entry__body" data-entry="entry">
      <div class="entry__content" data-entry="content"></div>
      <div class="entry__content-hidden-notice" data-entry="sensitive" hidden>
        <button class="button entry__cw-toggle" data-toggle="">[Show content]</button>
      </div>
      <footer class="entry__footer">
        <a class="no-arrow entry__post-time" target="_blank" rel="noopener" style="margin-right: auto;" data-entry="permalink">
          <time data-entry="timestamp"></time>
        </a>
        <p class="statistic">
          <span class="statistic__figure" data-entry="replies">0</span>
          <span class="statistic__label">
            {% set feathericon = 'corner-up-left' %}
            {% include "components/feathericon.njk" %}
            <span class="sr-only">Replies</span>
          </span>
        </p>
        <p class="statistic">
          <span class="statistic__figure" data-entry="reblogs">0</span>
          <span class="statistic__label">
            {% set feathericon = 'repeat' %}
            {% include "components/feathericon.njk" %}
            <span class="sr-only">Reblogs</span>
          </span>
        </p>
        <p class="statistic">
          <span class="statistic__figure" data-entry="favorites">0</span>
          <span class="statistic__label">
            {% set feathericon = 'star' %}
            {% include "components/feathericon.njk" %}
            <span class="sr-only">Favorites</span>
          </span>
        </p>
      </footer>
    </section>
  </article>
</template>
<template id="mastodon-feed-header">
  <header class="entry__header">
    <div class="entry__sensitive" data-entry="sensitive" hidden>
      <button data-entry="sensitive-toggle" class="button entry__cw-toggle" data-toggle="">
        <div class="hide-on-pressed">
          {{ "eye-off" | icon | safe }}
          <span class="sr-only">Hide content</span>
        </div>
        <div class="hide-on-unpressed">
          {{ "eye" | icon | safe }}
          <span class="sr-only">Show content</span>
        </div>
      </button>
      <span data-entry="spoiler-text" class="entry__reply"></span>
    </div>
    <span class="entry__reply" data-entry="reply" hidden>
          In response to <a href="" data-entry="reply-link">this post</a>
    </span>
  </header>
</template>
<template id="mastodon-preview-card">
  <article class="entry__preview-card seo-preview">
    <a href="" class="preview__link" aria-labelledby="" data-preview="link"></a>
    <img src="" alt="" class="preview__image" data-preview="image">
    <div class="preview__body">
      <h3 class="preview__title" data-preview="title"></h3>
      <p class="preview__description" data-preview="description"></p>
    </div>
  </article>
</template>