---
title: Press Kit - Francis Rubio
description: Press kit for when I appear in front of people
permalink: /press-kit/
activePath: press-kit
---
{% from "components/ui/utils.njk" import icon %}
<hgroup role="group" class="page__header no-section">
  <nav class="breadcrumb" aria-label="Breadcrumbs">
    <ol class="breadcrumb__list">
      <li class="breadcrumb__list-item">
        <a href="/" class="breadcrumb__link" data-animation="button">Frontpage</a>
      </li>
      <li class="breadcrumb__list-item">
        <a aria-current="location" class="breadcrumb__link" data-animation="button">Press Kit</a>
      </li>
    </ol>
  </nav>
  <h1 id="section-heading-1" class="responsive">Press Kit</h1>
  <p>For more details, please refer to <a href="/speaker-rider/">my speaker rider</a>. For further questions, feel free to <a href="{{ site.contact.email.url }}">contact me via email</a>.</p>
  <aside class="callout callout--warning m-block-start--xl fs-4 margin-inline--auto">
    {{ icon('alert-triangle') }}
    <div class="callout__body">
      <p>The following details <strong>should be used as-is</strong> to avoid misrepresenting me in your pubmats.</p>
    </div>
  </aside>
</hgroup>
<section aria-labelledby="section-heading-2" class="padding--xl gap--l content-wrapper margin-inline--auto">
  <h2 id="section-heading-2">Biography</h2>
  <div class="flex ai--center">
    <h3 id="section-heading-3" class="flex__expand">Short</h3>
    <button class="button" data-clipboard="bio-short">
      {{ 'clipboard' | icon | safe }}
      <span>Copy text</span>
    </button>
  </div>
  <p id="bio-short">Francis Rubio is a web developer, designer, and educator. He created Antares Programming, a project aiming to make web development more accessible to Filipino developers.</p>
  <div class="flex ai--center">
    <h3 id="section-heading-4" class="flex__expand">Long</h3>
    <button class="button" data-clipboard="bio-long">
      {{ 'clipboard' | icon | safe }}
      <span>Copy text</span>
    </button>
  </div>
  <div id="bio-long">
    <p>Francis Rubio is a web developer, designer, and educator.</p>
    <p>He has created Antares Programming, a project aiming to make web development more accessible to Filipino developers. This project, started in 2018, has now helped thousands of Filipino developers learn HTML and CSS through blog posts and infographics posted on both the project's website and social media accounts.</p>
    <p>Francis has also given talks and workshops for several schools about web development, particularly in front-end web development. He has worked as a teacher for 2 years where he helped high school students learn to program and create their first websites.</p>
    <p>He has completed a bachelor's degree in Computer Science at the University of Caloocan City in 2019. Since then, he has worked on many websites. His latest creation is working on the official website of the Philippine Consulate General of Calgary, Canada.</p>
    <p>Francis is recently launched a Youtube Channel as a for Antares Programming. His videos talking about web development have been watched by many Filipinos, hopefully helping them learn web development in a language they speak and understand fluently.</p>
  </div>
</section>
<section aria-labelledby="section-heading-5" class="padding--xl gap--l content-wrapper margin-inline--auto">
  <h2 id="section-heading-5">Details</h2>
  <dl class="grid margin-inline--auto">
    <dt>Name</dt>
    <dd>Francis Rubio <small>(pronounced Frāncis Roob-yóh)</small>
    </dd>

    <dt>Company</dt>
    <dd>DICE205 Digital Corporation</dd>
    <dd>
      <small>Unless otherwise stated, <strong>I do not represent this company</strong> in any speaking engagements or media appearances. My affiliation with this company <strong>should not be disclosed or announced to the public</strong> without my consent.</small>
    </dd>

    <dt>Job Title</dt>
    <dd>Software Developer</dd>

    <dt>Location</dt>
    <dd>Caloocan, Metro Manila, Philippines</dd>

    <dt>Website</dt>
    {% set preferredDomain = site.domains | selectattr('isPreferred') | first %}
    <dd>
      <a href="/">https://{{ preferredDomain.value }}</a>
    </dd>

    <dt>Previous Talks</dt>
    <dd>
      <a href="/speaking/">Speaking Page</a>
    </dd>
  </dl>

  <h3 class="responsive h5">Social Media</h3>
  <ul class="button-list">
    {% for item in site.contact | notHidden %}
      <li class="button-list__item">
        <a href="{{ item.url }}" class="button button--small button--social-media">
          <span class="social-media__label">{{ item.name }}</span>
          <span class="social-media__identifier">{{ item.identifier }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>

<section class="padding--xxxl gap--l dark bg--secondary" aria-labelledby="section-heading-6">
  <hgroup role="group" class="paddin-inline--m stack gap">
    <h2 id="section-heading-6">Photos</h2>
    <p>Click any of these images to download.</p>
  </hgroup>
  <div class="image-grid margin-block-start--l">
    {% for image in presskit %}
      {% if image.url %}
        {% set url = image.url %}
        <a href="{{ url }}" download="{{ image.filename }}" class="image-grid__link no-arrow" target="_blank">
          <img src="{{ url }}" alt="{{ image.filename }}" class="image-grid__image" loading="lazy" width="{{ image.size.width }}" height="{{ image.size.height }}">
        </a>
      {% elif image.src %}
        {% set folder = image.src.folder if image.src.folder else "press-kit" %}
        {% set url %}{{ site.api.images }}{{ folder }}/{{ image.src.name }}{% endset %}
        <a href="{{ url }}" class="image-grid__link no-arrow" download="{{ image.filename }}" target="_blank">
          {% set postType = folder %}
          {% set sizes = image.src.sizes %}
          {% set alt = image.alt %}
          {% set width = image.size.width %}
          {% set height = image.size.height %}
          {% set filename = '/' + postType + '/' + post.cover.folder + '/' + post.cover.filename %}
          {% set filename %}/{{ postType }}/{{ image.src.name }}{% endset %}
          {% set defaultImageClass = "image-grid__image" %}
          {% include "components/cdn-picture.njk" %}
        </a>
      {% endif %}
    {% endfor %}
  </div>
</section>