---
title: Press Kit - Francis Rubio
description: Press kit for when I appear in front of people
permalink: /press-kit/
activePath: press-kit
---

<hgroup role="group" class="stack gap padding--xxxl margin-inline--m">
  <p aria-roledescription="subtitle" class="ai--center cluster margin-bottom--l lh-s">
    <a href="/speaking/" class="button jc--start padding--xs">Talks</a>
    <span>/</span>
    <span class="d-flex font-sans jc--start">This page</span>
  </p>
  <h1 id="section-heading-1" class="font-serif responsive">Press Kit</h1>
  <p aria-roledescription="subtitle">The following information is provided as a free copy-and-paste resource for media publishers and conference organizers. Please don't hesitate to use it as-is without asking for my permission. For more details, please refer to <a href="/speaker-rider/">my speaker rider</a>. For further questions, feel free to <a href="{{ site.contact.email.url }}">contact me via email</a>.</p>
</hgroup>
<section aria-labelledby="section-heading-2" class="padding--xl gap--l content-wrapper margin-inline--auto">
  <h2 id="section-heading-2">Biography</h2>
  <h3 id="section-heading-3">Short</h3>
  <p>Francis Rubio is a web developer, designer, and educator. He created Antares Programming, a project aiming to make web development more accessible to Filipino developers.</p>
  <h3 id="section-heading-4">Long</h3>
  <p>Francis Rubio is a web developer, designer, and educator.</p>
  <p>He has created Antares Programming, a project aiming to make web development more accessible to Filipino developers. This project, started in 2018, has now helped thousands of Filipino developers learn HTML and CSS through blog posts and infographics posted on both the project's website and social media accounts.</p>
  <p>Francis has also given talks and workshops for several schools about web development, particularly in front-end web development. He has worked as a teacher for 2 years where he helped high school students learn to program and create their first websites.</p>
  <p>He has completed a bachelor's degree in Computer Science at the University of Caloocan City in 2019. Since then, he has worked on many websites. His latest creation is working on the official website of the Philippine Consulate General of Calgary, Canada.</p>
  <p>Francis is currently preparing to launch a Youtube Channel as a part of the Antares Programming initiative. Soon, his videos talking about web development will be watched by many Filipinos, hopefully helping them learn web development in a language they speak and understand fluently.</p>
</section>
<section aria-labelledby="section-heading-5" class="padding--xl gap--l content-wrapper margin-inline--auto">
  <h2 id="section-heading-5">Details</h2>
  <dl class="grid margin-inline--auto">
    <dt>Name</dt>
    <dd>Francis Rubio <small>(pronounced Frāncis Roob-yóh)</small>
    </dd>

    <dt>Company</dt>
    <dd>DICE205 Digital Corporation</dd>
    <dd>
      <small>Unless otherwise stated, I do not represent this company in any speaking engagements or media appearances. My affiliation with this company should not be disclosed or announced to the public without my knowledge.</small>
    </dd>

    <dt>Job Title</dt>
    <dd>Software Developer</dd>

    <dt>Location</dt>
    <dd>Caloocan, Metro Manila, Philippines</dd>

    <dt>Website</dt>
    {% set preferredDomain = site.domains | selectattr('isPreferred') | first %}
    <dd>
      <a href="/">https://{{ preferredDomain.value }}</a>
    </dd>

    <dt>Previous Talks</dt>
    <dd>
      <a href="/speaking/">Speaking Page</a>
    </dd>
  </dl>

  <h3 class="responsive h5">Social Media</h3>
  <dl class="grid margin-inline--auto">
    {% for key, value in site.contact %}
      {% if not value.hidden %}
        <dt>{{ value.name }}</dt>
        <dd><a href="{{ value.url }}" target="_blank" rel="noopener">{{ value.identifier }}</a></dd>
      {% endif %}
    {% endfor %}
  </dl>
</section>

<section class="padding--xxxl gap--l dark bg--secondary" aria-labelledby="section-heading-6">
  <hgroup role="group" class="paddin-inline--m stack gap">
    <h2 id="section-heading-6">Photos</h2>
    <p>Click any of these images to download.</p>
  </hgroup>
  <div class="image-grid margin-block-start--l">
    <a style="grid-row: span 6; grid-column: span 4" download href="/assets/images/press-kit/francis-rubio-casual.jpg" class="image-grid__link">
      <img src="/assets/images/press-kit/francis-rubio-casual.jpg" alt="Francis Rubio wearing a mahogany jacket over a plain white shirt." class="image-grid__image">
    </a>
    <a style="grid-row: span 4; grid-column: span 3" download href="/assets/images/press-kit/francis-rubio-formal.png" class="image-grid__link">
      <img src="/assets/images/press-kit/francis-rubio-formal.png" alt="Francis Rubio wearing a black long-sleeves shirt." class="image-grid__image">
    </a>
    <a style="grid-row: span 2;grid-column: span 2;" download href="/assets/images/press-kit/francis-rubio-faculty.jpg" class="image-grid__link">
      <img src="/assets/images/press-kit/francis-rubio-faculty.jpg" alt="Francis Rubio wearing a blue faculty shirt." class="image-grid__image">
    </a>
    <a style="grid-row: span 2;grid-column: span 4;" download href="/assets/images/press-kit/francis-rubio-pink.jpg" class="image-grid__link">
      <img src="/assets/images/press-kit/francis-rubio-pink.jpg" alt="Francis Rubio on a pink background" class="image-grid__image">
    </a>
    <a style="grid-row: span 3;grid-column: span 4;" download href="/assets/images/press-kit/francis-rubio-speaker.jpg" class="image-grid__link">
      <img src="/assets/images/press-kit/francis-rubio-speaker.jpg" alt="Francis Rubio giving a talk" class="image-grid__image">
    </a>
    <a style="grid-row: span 2;grid-column: span 2;" download href="/assets/images/press-kit/francis-rubio-street.jpg" class="image-grid__link">
      <img src="/assets/images/press-kit/francis-rubio-street.jpg" alt="Francis Rubio, taken on a street with trees" class="image-grid__image">
    </a>
  </div>
</section>