---
title: Projects - Francis Rubio
description: Things that I made that I am proud of
pagination:
  data: collections.projects
  size: 6
  reverse: true
permalink: /projects/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html
activePath: projects
---
<section class="padding--xl" aria-labelledby="section-heading-4">
  <h1 id="section-heading-4">Projects</h1>
  <div class="filled cluster padding--xl gap--l jc--center">
    {% for item in pagination.items %}
        {% include 'components/deck-card.njk' %}
      {% endfor %}
  </div>
</section>

<div class="center-justified cluster padding--l">
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" class="button">Previous</a>
  {% endif %}

  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" class="button">Next</a>
  {% endif %}
</div>