---
title: Projects - Francis Rubio
description: Things that I made that I am proud of
pagination:
  data: collections.projects
  size: 6
  reverse: true
permalink: /projects/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html
activePath: projects
---
<section class="padding-block--xl" aria-labelledby="section-heading-4" style="width: min(100ch, 90%); margin-inline: auto;">
  <hgroup class="page__header">
    <span aria-roledescription="summary" id="section-heading-4" class="uppercase ls-l font-sans" data-baybayin="{{ sections.projects.baybayin_label }}">{{ sections.projects.label | safe }}</span>
    <h2 class="font-serif responsive">{{ sections.projects.title | safe }}</h2>
    <p>{{ sections.projects.description | safe }}</p>
  </hgroup>
  <div class="padding-block--xl gap--l" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(min(30ch, 100%), 1fr))">
    {% for item in pagination.items %}
      {% include 'components/deck-card.njk' %}
    {% endfor %}
  </div>
</section>

<div class="center-justified cluster padding--l">
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" class="button">Previous</a>
  {% endif %}

  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" class="button">Next</a>
  {% endif %}
</div>

<footer class="stack gap--xl m-block--xxxl" style="text-align: center; margin-inline: auto; width: min(var(--content-width), 90%);">
  <div class="section__header">
    <hgroup role="group">
      <h2 class="section__subtitle fs-3">Building a similar project?</h2>
      <p style="text-align: left;">I'm currently open to projects. We can arrange for me to help you in your next project.</p>
    </hgroup>
  </div>
  <div class="stack ai--center gap--s">
    <button class="primary button" data-dialog="modal__email">
      {{ "mail" | icon | safe }}
      <span>Connect with me</span>
    </button>
    
  </div>
</footer>

{% include 'components/email-form.njk' %}

{% set preferredDomain = site.domains | selectattr('isPreferred') | first %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
        "name": "Navigation",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Projects",
    "item": "https://{{ preferredDomain.value }}/projects/"
  }]
}
</script>