---
layout: null
permalink: /site-data.json
---
{
  "literature": [
    {% for item in collections.literature %}
      {
        "url": {{ item.url | dump |safe }},
        "title": {{ item.data.title | dump | safe }},
        "description": {{ item.data.description | dump | safe }},
        "type": {{ item.data.type | dump | safe }},
        "image": "{{ site.api.images }}tr:f-png,w-200/literature/{{ item.data.cover.folder }}/{{ item.data.cover.filename }}"
      }
      {{ "," if loop.index < collections.literature.length }}
    {% endfor %}
  ],
  "posts": [
    {% set collection = collections.posts %}
    {% for item in collection %}
      {
        "url": {{ item.url | dump |safe }},
        "title": {{ item.data.title | dump | safe }},
        "description": {{ item.data.description | dump | safe }},
        "category": {{ item.data.category | dump | safe }},
        "image": "{{ site.api.images }}tr:f-png,w-200/posts/{{ item.data.cover.folder }}/{{ item.data.cover.filename }}",
        "date": {{ item.date | dump | safe }}
      }
      {{ "," if loop.index < collection.length }}
    {% endfor %}
  ],
  "projects": [
    {% set collection = collections.projects %}
    {% for item in collection %}
      {
        "url": {{ item.url | dump |safe }},
        "title": {{ item.data.title | dump | safe }},
        "description": {{ item.data.description | dump | safe }},
        "tags": [
          {% for tag in item.data.tags %}
            {{ tag | dump | safe }}
            {{ "," if loop.index < item.data.tags.length }}
          {% endfor %}
        ],
        "image": "{{ site.api.images }}tr:f-png,w-200/projects/{{ item.data.image.folder }}/{{ item.data.image.filename }}"
      }
      {{ "," if loop.index < collection.length }}
    {% endfor %}
  ],
  "talks": [
    {% set collection = collections.talks %}
    {% for item in collection %}
      {
        "url" : {{ item.url | dump |safe }},
        "title": {{ item.data.title | dump | safe }},
        "description": {{ item.data.description | dump | safe }},
        "image": "/assets/images{{ item.data.image | safe }}"
      }
      {{ "," if loop.index < collection.length }}
    {% endfor %}
  ],
  "videos": [
    {% set collection = collections.videos %}
    {% for item in collection %}
      {
        "url" : {{ item.url | dump |safe }},
        "title": {{ item.data.title | dump | safe }},
        "description": {{ item.content | dump | safe }},
        "image": "https://i.ytimg.com/vi/{{ item.data.code }}/hqdefault.jpg"
      }
      {{ "," if loop.index < collection.length }}
    {% endfor %}
  ],
  "notes": [
    {% set collection = collections.notes %}
    {% for item in collection %}
      {
        "url" : {{ item.url | dump |safe }},
        "title": {{ item.data.title | dump | safe }},
        "description": {{ item.content | dump | safe }},
        "image": null,
        "tags": {{ item.data.tags | dump | safe }}
      }
      {{ "," if loop.index < collection.length }}
    {% endfor %}
  ]
}