---
title: Talks - Francis Rubio
description: Speaking engagements, and how you can invite me to your event
pagination:
  data: collections.talks
  size: 6
  reverse: true
permalink: /speaking/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html
activePath: speaking
---
<hgroup class="page__header no-section" role="group" style="width: min(100ch, 90%); margin-inline: auto;">
  <p aria-roledescription="subtitle" id="section-heading-4" class="margin--none uppercase ls-l font-sans">{{ sections.talks.label | safe }}</p>
  <h1 class="margin--none font-serif responsive">{{ sections.talks.title | safe }}</h1>
  <p aria-roledescription="subtitle">{{ sections.talks.description | safe }}</p>
</hgroup>

<div class="bg--secondary padding-block--l">
  <section aria-labelledby="section-heading-2" class="ai--center stack padding--xl margin-inline--auto" style="width: min(90%, 100ch);">
    <div style="width: min(80ch, 100%)" class="stack gap--xl">
      <h2 id="section-heading-2" class="margin--none">Upcoming Talks</h2>
      {% include 'components/upcoming-talks-grid.njk' %}
    </div>
  </section>
</div>

<section class="padding--xl margin-inline--auto" style="width: min(90%, 100ch); margin-inline: auto" aria-labelledby="section-heading-1">
  <h2 id="section-heading-1">Past Talks</h2>
  {% set collection = pagination.items %}
  {% include 'components/talks-grid.njk' %}
</section>

<div class="center-justified cluster padding--l">
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" class="button">Previous</a>
  {% endif %}

  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" class="button">Next</a>
  {% endif %}
</div>

<footer id="talks-footer" class="stack gap--xl m-block--xxxl" style="text-align: center; width: min(80ch, 90%); margin-inline: auto;">
  <div class="section__header">
    <hgroup role="group">
      <h2 class="section__subtitle fs-3">Share the stage with me</h2>
      <p>If you're an event organizer looking for speakers, a content creator looking for guests, or a student in a club looking for someone knowledgeable about software development, send me an email! I reply within the day.</p>
    </hgroup>
  </div>
  <div class="cluster jc--center gap--s">
    <a href="/speaker-rider/" class="primary button">Send me an invitation</a>
    <a href="/press-kit/" class="button">Download assets for your pubmats</a>
  </div>
</footer>

{% include 'components/email-form.njk' %}

{% set preferredDomain = site.domains | selectattr('isPreferred') | first %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "name": "Navigation",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Speaking",
        "item": "https://{{ preferredDomain.value }}/speaking/"
      }
    ]
  }
</script>