---
title: Speaker Rider - Francis Rubio
description: Please read before sending me an invitation to your event
permalink: /speaker-rider/
activePath: speaking
---
<hgroup class="padding--xl ai--center" role="group" style="width: min(100ch, 90%); margin-inline: auto;">
  <p aria-roledescription="subtitle" class="ai--center cluster margin-bottom--l lh-s">
    <a href="/speaking/" class="button jc--start padding--xs">Talks</a>
    <span>/</span>
    <span class="d-flex font-sans jc--start">This page</span>
  </p>
  <h1 class="margin--none font-serif responsive">My speaker rider</h1>
  <p aria-roledescription="subtitle">Please read before sending me an invitation to your event.</p>
</hgroup>

<section aria-labelledby="section-heading-1" class="padding--xl margin-inline--auto content-wrapper">
  <h2 id="section-heading-1">In your invitation email…</h2>
  <p>I am so stoked to find you interested in inviting me as a speaker, thank you! I would appreciate it if the email you're sending includes the following:</p>
  <ul>
    <li>
      <strong class="font-sans">When and where is the event taking place?</strong> Is it going to be held in a physical location or will it be online? If online, what conferencing app will be used? (e.g. Zoom, Google Meet, Jitsi, etc.)
    </li>
    <li>
      <strong class="font-sans">Who are going to be in the audience?</strong> In order to prepare and adjust my topic accordingly, I would appreciate if I will be given an idea about the audience. Are they mostly students who don't know much about web development yet? Or are they professional developers and designers looking to brush up on their skills?</li>
    <li>
      <strong class="font-sans">What am I going to talk about?</strong> Do you need me to talk about a specific topic? Or is it alright if I give one of my prepared talks? Is it going to be a workshop, or just a discussion? Will there be a Q & A portion?</li>
    <li>
      <strong class="font-sans">How long would the talk ideally be?</strong> 40-50 minutes is ideal.
    </li>
    <li>
      <strong class="font-sans">What language would the talk preferrably be?</strong> I tend to code-switch a lot, speaking in English and Filipino interchangeably. If this is not preferred for the event, please inform me in your invitation email.</li>
    <li>
      <strong class="font-sans">Are there other speakers? Are they going to talk about a topic that might overlap with mine?</strong>
    </li>
    <li>
      <strong class="font-sans">Where will the event take place?</strong> Is it going to be hosted physically, or online?</li>
    <li>
      <strong class="font-sans">Will I receive compensation for this speaking engagement?</strong> If the audience will pay for a ticket, I would like to receive compensation proportional to the ticket prices. I would also appreciate it if travel expenses are compensated if the event is going to be held from a physical location. If the proceeds will benefit a cause or the audience is otherwise to attend without paying, I'm fine with doing it for free!</li>
  </ul>

  <p>Personally, I prefer to have ample time to prepare. I would love it if you'd invite me to speak at least three (3) months in advance. Otherwise, I can still give presentations on shorter notice as per our correspondence.</p>
</section>

<section aria-labelledby="section-heading-4" class="padding--xl margin-inline--auto content-wrapper">
  <h2 id="section-heading-4">Availability</h2>
  <p>I currently work full-time from 8 AM to 5 PM during weekdays. Preferrably, my talk would happen on a weekend. However, I am able to make adjustments to my work schedule to give way to the event as long as I am advised months in advance.</p>
  <p>I also do workshops for web development, especially in HTML and CSS. However, since workshops are relatively more work than talks, I would love to have more time to prepare for it.</p>
  <p>I also accept invitations to programs, online shows, and podcasts to talk about web development. If you are interested in inviting me, or doing a collaboration, <a href="{{ site.contact.email.url }}">send me an email</a>.</p>
</section>

<section aria-labelledby="section-heading-2" class="padding--xl margin-inline--auto content-wrapper">
  <h2 id="section-heading-2">During the talk</h2>
  <ul>
    <li>
      <strong class="font-sans">For the slides, I use Google Slides.</strong> If, for some reason, it won't work for your event's setup, I would be happy to adjust accordingly as long as I am informed a long time in advance.</li>
    <li>
      <strong class="font-sans">Preferrably, I want to have direct control over the slides during the talk.</strong> I prefer being in control of the slide presentation as opposed to having someone from the technical team moving the slides forwards and backwards.</li>
    <li>
      <strong class="font-sans">A lavalier mic or a mic mounted on a stand or podium is preferred over a handheld mic.</strong> Depending on the topic, I'd like to live-code during my talks, so I would need both of my hands free for typing during the talk. I also tend to move around if the talk is happening onstage.</li>
    <li>
      <strong class="font-sans">Please let me know if you need me to have a virtual background if the talk is being held online.</strong> I have a green screen I can use during the talk, so please inform me in advance if your event requires a virtual background. Also, some organizers I have been in touch with in the past have provided me with their own virtual background for me to use; you might also want to do that.</li>
    <li>
      <strong class="font-sans">Preferrably, my talk would be available to the public, especially if I'm doing it for free.</strong> My previous speaking engagements are available online, or were available at some point, courtesy of the organizers. Some of my previous talks were streamed on Facebook Live or some other platform for everyone to see. If this isn't the case for your event, I would love to have a recorded copy of my talk, <em>if possible</em>, and I will host it for online viewing in this website.</li>
    <li>
      <strong class="font-sans">Please refer to my <a href="/press-kit/">press kit</a> for my images and biographies that will be used to introduce me during the event and on the promotional materials.</strong>
    </li>
  </ul>
  <p></p>
</section>

<div class="cluster jc--center">
  <button class="primary button" data-dialog="modal__email">Invite me as a speaker</button>
  <a href="/press-kit/" class="button">Press Kit</a>
</div>

{% include 'components/email-form.njk' %}