---
title: Talks - Francis Rubio
description: Speaking engagements, and how you can invite me to your event
pagination:
  data: collections.talks
  size: 6
  reverse: true
permalink: /speaking/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html
activePath: speaking
---
<section class="page">
  <header class="page__cover" style="--page-cover-image: url(https://ik.imagekit.io/8jjzxcl9p/index/cover--talks.png?updatedAt=1679837585185)">
    <hgroup class="page__header" role="group">
      <p id="section-heading-4" class="margin--none uppercase ls-l font-sans" data-baybayin="{{ sections.talks.baybayin_label }}">{{ sections.talks.label | safe }}</p>
      <h1 class="margin--none font-serif responsive">{{ sections.talks.title | safe }}</h1>
      <p>{{ sections.talks.description | safe }}</p>
    </hgroup>
  </header>

  <div class="bg--secondary padding-block--l">
    <section aria-labelledby="section-heading-2" class="ai--center stack padding--xl margin-inline--auto" style="width: min(90%, 100ch);">
      <div style="width: min(80ch, 100%)" class="stack gap--xl">
        <h2 id="section-heading-2" class="margin--none">Upcoming Talks</h2>
        {% include 'components/upcoming-talks-grid.njk' %}
      </div>
    </section>
  </div>

  <section class="padding--xl margin-inline--auto" style="width: min(90%, 100ch); margin-inline: auto" aria-labelledby="section-heading-1">
    <h2 id="section-heading-1">Past Talks</h2>
    {% set collection = pagination.items %}
    {% include 'components/talks-grid.njk' %}
  </section>

  <div class="center-justified cluster padding--l">
    {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}" class="button">Previous</a>
    {% endif %}

    {% if pagination.href.next %}
      <a href="{{ pagination.href.next }}" class="button">Next</a>
    {% endif %}
  </div>
</section>

{% set footer = sections.talks.footer %}
<footer id="talks-footer" class="stack gap--xl m-block--xxxl" style="text-align: center; width: min(80ch, 90%); margin-inline: auto;">
  <div class="section__header">
    <hgroup role="group">
      <h2 class="section__subtitle fs-3">{{ footer.title }}</h2>
      <p>{{ footer.description }}</p>
    </hgroup>
  </div>
  <div class="cluster jc--center gap--s">
    {% for action in sections.talks.footer.actions %}
      <a href="{{ action.url }}" class="{{ "primary" if action.isPrimary }} button">{{ action.label }}</a>
    {% endfor %}
  </div>
</footer>

{% include 'components/email-form.njk' %}

{% set preferredDomain = site.domains | selectattr('isPreferred') | first %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "name": "Navigation",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Speaking",
        "item": "https://{{ preferredDomain.value }}/speaking/"
      }
    ]
  }
</script>