---
title: Talks - Francis Rubio
description: Speaking engagements, and how you can invite me to your event
pagination:
  data: collections.talks
  size: 6
  reverse: true
permalink: /speaking/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html
activePath: speaking
---
<hgroup class="padding--xl ai--center" role="group" style="width: min(100ch, 90%); margin-inline: auto;">
  <p aria-roledescription="subtitle" id="section-heading-4" class="margin--none uppercase ls-l font-sans">Talks</p>
  <h1 class="margin--none font-serif responsive">Con&shy;fe&shy;ren&shy;ces and Ap&shy;pea&shy;ran&shy;ces</h1>
  <p aria-roledescription="subtitle">I speak at developer conferences and teach students and other developers about the tings I find fascinating about building websites.</p>
</hgroup>

<div class="bg--secondary">
  <section aria-labelledby="section-heading-2" class="ai--center stack padding--xl margin-inline--auto" style="width: min(90%, 100ch);">
    <div style="width: min(80ch, 100%)">
      <h2 id="section-heading-2">Upcoming Talks</h2>
      {% include 'components/upcoming-talks-grid.njk' %}
    </div>
    <div class="stack">
      <div class="gap--m cluster padding-block--l">
        <button class="primary button" data-dialog="modal__email">Invite me as a speaker</button>
        <a href="/press-kit/" class="button">Press Kit</a>
        <a href="/speaker-rider/" class="button">Before sending an invitation...</a>
      </div>
    </div>
  </section>
</div>

<section class="padding--xl margin-inline--auto" style="width: min(90%, 100ch); margin-inline: auto" aria-labelledby="section-heading-1">
  <h2 id="section-heading-1">Past Talks</h2>
  {% set collection = pagination.items %}
  {% include 'components/talks-grid.njk' %}
</section>

<div class="center-justified cluster padding--l">
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" class="button">Previous</a>
  {% endif %}

  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" class="button">Next</a>
  {% endif %}
</div>

{% include 'components/email-form.njk' %}

{% set preferredDomain = site.domains | selectattr('isPreferred') | first %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
        "name": "Navigation",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Speaking",
    "item": "https://{{ preferredDomain.value }}/speaking/"
  }]
}
</script>
