---
title: Test Page - Francis Rubio
description: A testing ground for when I need a page that I can throw away after.
permalink: /test/
---

<div class="h-entry">
 <a href="https://francisrubio.antaresph.dev/" class="u-in-reply-to">Some note with a point</a>
 <div class="p-name p-content">Good point! Now what is the next thing we should do?</div>
</div>