---
title: Francis Rubio
description: Web developer, designer, and educator from the Philippines
permalink: /theme-colors/
activePath: frontpage
scripts: ['frontpage.js', mastodon.js]
---

<h1 class="fs-2 weight-300">Theme Colors</h1>
<section class="section padding-block--xxl">
  <div class="section__inner">
    <h2 class="fs-4 weight-300">Primary Colors</h2>
    <ul class="theme-colors primary">
      <li>Primary 100</li>
      <li>Primary 300</li>
      <li>Primary 500</li>
      <li>Primary 700</li>
      <li>Primary 900</li>
    </ul>
  </div>
</section>
<section class="section padding-block--xxl">
  <div class="section__inner">
    <h2 class="fs-4 weight-300">Secondary Colors</h2>
    <ul class="theme-colors secondary">
      <li>Secondary 100</li>
      <li>Secondary 300</li>
      <li>Secondary 500</li>
      <li>Secondary 700</li>
      <li>Secondary 900</li>
    </ul>
  </div>
</section>