---
title: Uses - Francis Rubio
description: Apps, fonts, scripts, and other things that I use that you may want to try
pagination:
  data: collections.uses
  size: 12
  reverse: true
permalink: /uses/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html
activePath: what-i-use
---

<section class="padding--xl" aria-labelledby="section-heading-1">
  <h1 id="section-heading-1">Uses</h1>
  <div class="post-grid padding--xl gap--l jc--center">
    {% for item in pagination.items %}
      {% include 'components/product-card.njk' %}
    {% endfor %}
  </div>
</section>