---
title: Uses - Francis Rubio
description: Apps, fonts, scripts, and other things that I use that you may want to try
pagination:
  data: collections.uses
  size: 12
  reverse: true
permalink: /uses/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html
activePath: what-i-use
---

<section class="padding-block--xl padding-inline--m" aria-labelledby="section-heading-4" style="width: min(100ch, 90%); margin-inline: auto;">
  <hgroup role="group" class="page__header">
    <span id="section-heading-4" class="uppercase ls-l font-sans" data-baybayin="{{ sections.uses.baybayin_label }}">{{ sections.uses.label | safe }}</span>
    <h2 class="responsive">{{ sections.uses.title | safe }}</h2>
    <p>{{ sections.uses.description | safe }}</p>
  </hgroup>
  <div class="margin-bottom--xl uses-grid gap--s padding-top--l wide-wrapper margin-inline--auto padding-inline--l">
    {% for item in collections.uses %}
      {% include 'components/use-card.njk' %}
    {% endfor %}
  </div>
</section>

<div class="margin-block-end--xxl">
  {% include "components/banners/commissions-banner.njk" %}
  {% include 'components/email-form.njk' %}
</div>