---
title: Writing - Francis Rubio
description: Articles, musings, and anything I just thought to write about
pagination:
  data: collections.posts
  size: 8
  reverse: true
permalink: /writing/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html
activePath: writing
---
<section class="page" aria-labelledby="section-heading-4" style="--page-cover-image: image-set(
  url(https://ik.imagekit.io/8jjzxcl9p/tr:f-avif/index/cover-pride-musings.png) type('image/avif'),
  url(https://ik.imagekit.io/8jjzxcl9p/tr:f-webp/index/cover-pride-musings.png) type('image/webp'),
  url(https://ik.imagekit.io/8jjzxcl9p/tr:f-png/index/cover-pride-musings.png) type('image/png')
)">
  <header class="page__cover">
    <hgroup role="group" class="page__header">
      <span id="section-heading-4" class="uppercase ls-l font-sans" data-baybayin="{{ sections.writing.baybayin_label }}">{{ sections.writing.label | safe }}</span>
      <h1 class="responsive">{{ sections.writing.title | safe }}</h1>
      <p>{{ sections.writing.description | safe }}</p>
    </hgroup>
  </header>
  <div class="page__inner">
    <div class="tag-scroller">
      <a href="#musings-grid" class="tag skip-link" style="width: fit-content;">Skip to posts</a>
      {% for item in collections.postTags %}
        <a href="/writing/categories/{{ item }}/" class="tag" style="width: fit-content;">{{ item }}</a>
      {% endfor %}
    </div>
    <div id="musings-grid">
      {% set collection = pagination.items %}
      {% set cardLevel = 2 %}
      {% include 'components/post-grid.njk' %}
    </div>
  </div>
</section>

<div class="center-justified cluster padding--l">
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" class="button">Previous</a>
  {% endif %}

  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" class="button">Next</a>
  {% endif %}

  <a href="{{ site.feeds.blog.url }}" class="{{ 'icon-only' if pagination.href.previous or pagination.href.next }} button" style="padding: var(--space-s);">
    {{ 'rss' | icon | safe }}
    <span class="{{ 'sr-only' if pagination.href.previous or pagination.href.next }}">RSS feed of all articles</span>
  </a>
</div>

<footer class="stack gap--xl m-block--xxxl" style="text-align: center; margin-inline: auto; width: min(var(--content-width), 90%);">
  <div class="section__header">
    <hgroup role="group">
      <h2 class="section__subtitle fs-3">Follow me on the Fediverse</h2>
      <p>If you were impressed by my mind because of these longform texts, I talk a lot more on Mastodon. I talk about a lot of things—work, gaming, coding, politics, religious trauma, the usual stuff.</p>
    </hgroup>
  </div>
  <div class="stack ai--center gap--s">
    <a href="{{ site.contact.mastodon.url }}" class="primary button" target="blank" rel="noopener">
      {{ "user-plus" | icon | safe }}
      <span>Follow me on Mastodon</span>
    </a>
  </div>
</footer>

{% set preferredDomain = site.domains | selectattr('isPreferred') | first %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "name": "Navigation",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Writing",
        "item": "https://{{ preferredDomain.value }}/writing/"
      }
    ]
  }
</script>