---
title: Writing - Francis Rubio
description: Articles, musings, and anything I just thought to write about
pagination:
  data: collections.posts
  size: 8
  reverse: true
permalink: /writing/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html
activePath: writing
---
<section class="padding--xl" aria-labelledby="section-heading-4">
  <h1 id="section-heading-4">Writing</h1>
  {% set collection = pagination.items %}
  {% include 'components/post-grid.njk' %}
</section>

<div class="center-justified cluster padding--l">
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" class="button">Previous</a>
  {% endif %}

  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" class="button">Next</a>
  {% endif %}
</div>