@font-face {
  font-family: "Fraunces var";
  src: url("/assets/fonts/fraunces-var.ttf") format("truetype");
}

@font-face {
  font-family: "Fraunces var";
  src: url("/assets/fonts/fraunces-italic-var.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Fraunces";
  src: url("/assets/fonts/fraunces-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Fraunces";
  src: url("/assets/fonts/fraunces-italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Fraunces";
  src: url("/assets/fonts/fraunces-bold-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Fraunces";
  src: url("/assets/fonts/fraunces-bold-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Fraunces";
  src: url("/assets/fonts/fraunces-bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: 'Outfit var';
  src: url('/assets/fonts/outfit-var.ttf') format('truetype');
}

@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/outfit-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/outfit-bold.ttf') format('truetype');
  font-weight: bold;
}