@layer component {
  @import 'layouts/hero.scss';
  @import 'layouts/featured-post-banner';
  @import 'components/service-card';

  #section-1 {
    display: grid;
    justify-content: center;
    align-items: end;

    .section__inner {
      display: grid;
      grid-template-columns: 3fr 3ch 2fr;
      grid-template-rows: 1fr 4fr auto 1fr;
      min-height: 90vh;
      padding-block-end: var(--space-xxl);

      &::before {
        content: "";
        background-color: hsl(var(--bg-accent) / 25%);
        grid-column: 1 / -1;
        grid-row: 2 / -1;
        margin-block-end: calc(-1 * var(--space-xxl));
      }

      @media (max-width: 940px) {
        grid-template-rows: 0fr 1fr auto 1fr;
        grid-template-columns: 1fr 1fr 1fr;
      }

      @media (max-width: 570px) {
        & > * {
          grid-column: 1 / -1 !important;
        }
      }
    }
  }

  .section {
    margin-block: var(--space-xxxl);
    min-height: 100vh;
    align-content: center;
  }

  .section__inner {
    width: min(100ch, 98%);
    margin-inline: auto;
    padding-inline: var(--space-xs);

    .service-grid {
      margin-block: var(--space-xxxl);
      margin-inline-start: calc((-100vw + min(100ch, 98%)) / 2);
      padding: var(--space-xxxl);
      width: 100vw;
    }
  }

  #technologies-tabpanels {
    [hidden] {
      display: none;
    }
  }
}

@keyframes parallax {
  to {
    transform: translateY(calc(var(--animation-speed, 1) * 200px))
  }
}

@keyframes hide-baybayin {
  50% {
    opacity: 0;
  }

  100% {
    transform: translateX(calc(var(--translate-speed, 1) * 200px));
  }
}

@media (prefers-reduced-motion: no-preference) {

  .hero__baybayin .term,
  .hero__image,
  .hero__caption {
    animation: parallax linear;
    animation-timeline: scroll(root);
  }

  .hero__image {
    --animation-speed: 20;
  }

  .hero__caption {
    --animation-speed: -5;
  }

  .hero__baybayin .term {
    --animation-speed: 25;
  }
}