@layer print {

  div:has(> webring-banner),
  webring-banner,
  form,
  .skip-link,
  .bottom-fixed {
    display: none;
  }

  button.button,
  .hide-on-noscript {
    opacity: 25%;
    filter : grayscale(1);
  }

  .navbar-wrapper {
    margin-block-end: 0;
    position        : static;
    width           : calc(min(120ch, 100%) - (var(--space-xxl) * 2));
  }

  .navigation-bar {
    justify-content: center;

    &.attached {
      max-width     : none;
      width         : fit-content;
      padding-inline: var(--space-xxl);
    }
  }

  .navigation-list-item:not(:has(.logo)),
  .navigation-bar__section.hide-on-noscript {
    display: none;
  }

  .hero__actions {
    display: none;
  }

  .feature-card {
    gap               : var(--space) !important;
    grid-template-rows: auto 1fr;

    &__header {
      font-size      : var(--type-size-5);
      justify-content: center;

      &::after {
        content: none !important;
      }
    }

    &__content {
      padding: var(--space);
    }
  }

  .scroll-snapper,
  .deck-card-container {
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
    padding-inline       : var(--space-xl);
    overflow             : visible;
    gap                  : var(--space-l);
    grid-auto-rows       : auto 1fr;

    .feature-card {
      grid-template-rows: subgrid;
      grid-row          : span 2;
    }
  }

  .sidebar:has([data-tablist]) {
    display: none;
  }

  .tabpanel-container {
    display       : flex;
    flex-direction: column;
    gap           : var(--space-xxxl);
  }

  .tab-panel {
    border-block-end : 1px solid hsl(var(--bg-secondary));
    padding-block-end: var(--space-xxxl);

    &[role="tabpanel"][hidden] {
      visibility: visible;
    }
  }

  .deck-card-container {
    align-items          : center;
    grid-template-columns: repeat(auto-fit, minmax(35ch, 1fr));
    justify-items        : center;
  }

  .deck-card {
    max-width: none;
  }

  .footer {
    background-color: transparent;

    &__header {
      background-color: transparent;
      border-block    : 1px solid hsl(var(--bg-secondary));
    }
  }

  .h-entry {
    padding-block-start: 0;
  }
}