{% from "components/ui/utils.njk" import image with context %}
<article class="dark banner banner--biography" 
  aria-labelledby="bio-banner-heading"
  style="
    --bg-image-mobile: url('{{ site.api.images }}{{ images.bgMobile.src }}');
    --bg-image-desktop: url('{{ site.api.images }}{{ images.bgDesktop.src }}');
    --bg-image-overlay: url('{{ site.api.images }}{{ images.overlay.src }}');
  ">
  {{ image(images.front) }}

  <h2 id="bio-banner-heading" class="bio-title">
    Your favorite web developer's <b class="bio-highlight">favorite web developer</b>
  </h2>
  <div class="bio-body">
    <p>I am a super graphic ultra modern <small>(I'm so quirky, right?)</small> Filipino developer who <del>is chronically online</del> <ins>makes things on the web and teaches other Filipinos to do the same</ins>. I write articles and produce infographics and videos for <a href="https://antaresph.dev" class="bio-link">Antares Programming</a>.</p>
    <p>I'm also very pretentious and very delusional. You'll find it really helpful for creativity and motivation. I might also be your next (<b class="bio-highlight">best</b>) personality hire. <small>(I'm not problematic, I swear!)</small></p>
  </div>
</article>