{% set siteTitleId = 'site-title' %}
<header class="dark hero" aria-labelledby="{{ siteTitleId }}">
  <picture>
    <source srcset="https://ik.imagekit.io/8jjzxcl9p/tr:f-avif,w-650,q-100/index/pride-month-2023/header--desktop.png"
      width="600" height="857.61">
    <source srcset="https://ik.imagekit.io/8jjzxcl9p/tr:f-webp,w-650,q-100/index/pride-month-2023/header--desktop.png"
      width="600" height="857.61">
    <img class="hero__image" src="https://ik.imagekit.io/8jjzxcl9p/tr:f-png,w-650,q-100/index/pride-month-2023/header--desktop.png"
      alt="Francis Rubio" width="600" height="857.61">
    <dl class="hero__captionlist">
      <div class="hero__caption">
        <dt>Educator and Content Creator</dt>
        <dd>5 years</dd>
      </div>
      <div class="hero__caption">
        <dt>Web Designer</dt>
        <dd>4 years</dd>
      </div>
      <div class="hero__caption">
        <dt>Web Developer</dt>
        <dd>4 years</dd>
      </div>
    </dl>
    <div class="hero__baybayin">
      <div class="animated-fallback" lang="tl">
        <i class="term">Kalayaan</i>
        <i class="term">Pagkakapantay-pantay</i>
        <i class="term">Karapatang pantao</i>
      </div>
      <div class="animated" lang="tl">
        <button class="term" aria-pressed="false">
          <i class="term__baybayin">ᜃᜎᜌᜀᜈ᜔</i>
          <i class="term__latin">Kalayaan</i>
        </button>
        <button class="term" aria-pressed="false">
          <i class="term__baybayin">ᜉᜄ᜔ᜃᜃᜉᜈ᜔ᜆᜌ᜔ᜉᜈ᜔ᜆᜌ᜔</i>
          <i class="term__latin">Pagkakapantay-pantay</i>
        </button>
        <button class="term" aria-pressed="false">
          <i class="term__baybayin">ᜃᜍᜉᜆᜅ᜔ ᜉᜈ᜔ᜆᜂ</i>
          <i class="term__latin">Karapatang pantao</i>
        </button>
      </div>
    </div>
  </picture>
</header>