$overflow: visible, auto, scroll, clip;

.overflow {
  @each $o in $overflow {
    &-#{$o} {
      overflow: $o;
    }
  }
}

.no-scroll {
  overflow: hidden;
}

.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed; }
.sticky { position: sticky; }