.sr-only,
.visually-hidden {
  border     : 0;
  clip       : rect(0 0 0 0);
  height     : auto;
  margin     : 0;
  overflow   : hidden;
  padding    : 0;
  position   : absolute !important;
  width      : 1px;
  white-space: nowrap;
}

.hidden {
  display: none;
}

.hide-on-mobile {
  @media (max-width: 960px) {
    display: none;
  }
}

.show-on-mobile {
  @media (min-width: 961px) {
    display: none;
  }
}

.no-js .hide-on-noscript {
  display: none;
}