.sr-only,
.visually-hidden {
  border     : 0;
  clip       : rect(0 0 0 0);
  height     : auto;
  margin     : 0;
  overflow   : hidden;
  padding    : 0;
  position   : absolute !important;
  width      : 1px;
  white-space: nowrap;
}

.hidden {
  display: none;
}

.hide-on-mobile {
  @media (max-width: 960px) {
    display: none;
  }
}

.show-on-mobile {
  @media (min-width: 961px) {
    display: none;
  }
}

.no-js__warning {
  background-color: hsl(var(--warning-100));
  color           : hsl(var(--warning-900));
  display         : flex;
  flex-direction  : column;
  font-family     : var(--font-sans);
  font-size       : var(--type-size-6);
  padding         : var(--space-xxs) var(--space);
  text-align      : center;

  bottom  : 0;
  position: sticky;
  z-index : 9;

  &> :is(p, ul, ol, dl, table) {
    margin: 0;
  }
}

.no-js {
  .hide-on-noscript {
    display: none;
  }

  .no-js__warning {
    display: flex;
  }
}